Repository voipxp/testing: changes, and which lefthook commands are due for each by the changed paths.
All: js, other

js:
  run: prettier --write {staged_files} && eslint --fix {staged_files}

other:
  run: prettier --write {staged_files}

fixes #335
  src/angular/group/components/group-auto-attendants/index.html
  src/angular/group/components/group-auto-attendants/index.js
Due: js, other

changes #335
  src/angular/group/components/group-auto-attendants/index.js
Due: js

fixes and #362
  src/angular/group/components/group-auto-attendants/index.js
  src/angular/group/components/group-call-forwarding-always/index.html
  src/angular/group/components/group-call-forwarding-always/index.js
  src/angular/group/components/group-call-forwarding-busy/index.html
  src/angular/group/components/group-call-forwarding-busy/index.js
  src/angular/group/components/group-call-forwarding-no-answer/index.html
  src/angular/group/components/group-call-forwarding-no-answer/index.js
  src/angular/group/components/group-call-forwarding-not-reachable/index.html
  src/angular/group/components/group-call-forwarding-not-reachable/index.js
  src/angular/group/components/group-call-pickups/index.html
  src/angular/group/components/group-call-recording/index.html
  src/angular/group/components/group-call-recording/index.js
  src/angular/group/components/group-calling-line-id-delivery-blocking/index.html
  src/angular/group/components/group-calling-line-id-delivery-blocking/index.js
  src/angular/group/components/group-hoteling-guest/index.html
  src/angular/group/components/group-hoteling-guest/index.js
  src/angular/group/components/group-hoteling-host/index.html
  src/angular/group/components/group-hoteling-host/index.js
  src/angular/group/components/group-outgoing-calling-plan-users/index.html
  src/angular/group/components/group-voice-messaging-user/index.html
  src/angular/group/components/group-voice-messaging-user/index.js
  src/components/app/routes.js
  src/components/autoAttendant/create-auto-attendant.js
  src/components/groups/group-speed-dial-8.js
Due: js, other

aa builder fixes #335
  src/angular/group/components/group-auto-attendants/index.html
  src/angular/group/components/group-auto-attendants/index.js
Due: js, other

create aa #335
  src/components/app/routes.js
  src/components/autoAttendant/create-auto-attendant.js
Due: js

Add Hubspot Support Form to Odin
  src/angular/events/components/index.js
  src/components/app/routes.js
  src/components/resellers/reseller-dashboard-menu.js
  src/components/service-provider/service-provider-dashboard-menu.js
  src/components/service-provider/service-provider-odin-support.js
  src/components/system/system-dashboard-menu.js
Due: js

Qick device update
  src/components/groups/group-device/add-new-device.js
  src/components/groups/group-devices/group-devices.js
Due: js

Page goes blank when clicking on audit import icon #368
  src/components/audits/audit.js
Due: js

User Personal Phone List #351
  src/api/users/user-personal-phone-list.js
  src/components/users/index.js
  src/components/users/user-dashboard-menu.js
  src/components/users/user-personal-phone-list/index.js
  src/components/users/user-personal-phone-list/user-personal-phone-list-add.js
  src/components/users/user-personal-phone-list/user-personal-phone-list-select.js
  src/components/users/user-personal-phone-list/user-personal-phone-list.js
Due: js

User-Personal-Phone-List
  src/components/users/user-personal-phone-list/user-personal-phone-list.js
Due: js

Fix: group admin schedules #373
  src/components/groups/group-dashboard-menu.js
Due: js

Fixes: Department detail has no left menu #374
  src/angular/group/components/group-department/index.html
  src/angular/group/components/group-departments/index.js
  src/components/app/routes.js
  src/components/groups/group-dashboard.js
  src/components/groups/group-departments.js
Due: js, other

tag
  README.md
Due: other

Fix bug with Odin Hubspot Support page
  src/angular/events/components/index.js
Due: js

enterprise trunk enterprise full page issue
  src/angular/service-provider/components/enterprise-enterprise-trunk-navigation/index.html
  src/angular/service-provider/components/enterprise-enterprise-trunk/index.js
  src/components/app/routes.js
  src/components/service-provider/index.js
  src/components/service-provider/service-provider-dashboard-menu.js
Due: js, other

Enterprise Trunk Enterprise
  src/angular/service-provider/components/enterprise-enterprise-trunks/index.js
  src/components/service-provider/enterprise-enterprise-trunks-index.js
  src/components/service-provider/service-provider-dashboard.js
Due: js

User-Personal-Phone-List : accept string also
  src/components/users/user-personal-phone-list/user-personal-phone-list-add.js
Due: js

full page issue for: schedules
  src/angular/group/components/group-schedules/index.js
  src/components/app/routes.js
  src/components/groups/group-dashboard-menu.js
  src/components/groups/group-schedules-index.js
  src/components/groups/index.js
Due: js

page is not aligned issue fixes
  src/angular/group/components/group-schedule/index.html
Due: other

fixed lint warnings
  src/angular/branding/components/branding-email/index.js
  src/components/app/routes.js
  src/components/service-provider/service-provider-dashboard.js
  src/components/users/user-personal-phone-list/user-personal-phone-list-select.js
Due: js

Download DID lists #378
  src/angular/group/components/group-numbers/index.html
  src/angular/group/components/group-numbers/index.js
Due: js, other

Fixes for : Group > Device Configuration Group > Devices
  src/angular/group/components/group-device-type/index.html
  src/angular/group/components/group-device-types/index.js
  src/angular/group/components/group-device/index.html
  src/angular/group/components/group-devices/index.js
  src/components/app/routes.js
  src/components/groups/group-dashboard-menu.js
  src/components/groups/group-device-types-index.js
  src/components/groups/group-devices-index.js
  src/components/groups/index.js
Due: js, other

fixes #378
  src/angular/group/components/group-numbers/index.html
  src/angular/group/components/group-numbers/index.js
Due: js, other

fixes done
  src/angular/group/components/group-call-pickups/index.html
  src/angular/user/components/user-outlook-integration/index.html
Due: other

Left menu missing fixes for announcement
  src/angular/group/components/group-announcement/index.html
  src/angular/group/components/group-announcement/index.js
  src/angular/group/components/group-announcements/index.js
  src/components/app/routes.js
  src/components/groups/group-announcements-index.js
  src/components/groups/group-dashboard-menu.js
  src/components/groups/index.js
Due: js, other

full page issue
  src/components/groups/group-announcements-index.js
  src/components/groups/group-devices-index.js
Due: js

yarn lint warning fixes
  src/components/app/routes.js
  src/components/users/user-personal-phone-list/user-personal-phone-list-select.js
Due: js

Fixes for : Comm barring > calling plan, Left menu is missing issue
  src/angular/group/components/group-calling-plan-digit-patterns/index.html
  src/angular/group/components/group-calling-plans/index.js
  src/angular/group/components/group-incoming-calling-plan/index.html
  src/angular/group/components/group-outgoing-calling-plan-authorization-code/index.html
  src/angular/group/components/group-outgoing-calling-plan-digit-plan/index.html
  src/angular/group/components/group-outgoing-calling-plan-pinhole-digit-patterns/index.html
  src/angular/group/components/group-outgoing-calling-plan-pinhole-digit-plan/index.html
  src/angular/group/components/group-outgoing-calling-plan-transfer-numbers/index.html
  src/angular/group/components/group-outgoing-calling-plan/index.html
  src/components/app/routes.js
  src/components/groups/group-calling-plans-index.js
  src/components/groups/group-communication-routes.js
  src/components/groups/group-communication-settings.js
  src/components/groups/index.js
Due: js, other

Fixed yarn lint issue
  src/components/app/routes.js
  src/components/users/user-intercept.js
Due: js

Group : comm barring, changing file name
  src/components/groups/group-calling-plans-routes.js
  src/components/groups/group-communication-settings.js
  src/components/groups/index.js
Due: js

Fixes for : Left menu is missing in VDM on system level and group level
  src/angular/vdm/components/vdm-template/index.html
  src/angular/vdm/components/vdm-template/index.js
  src/angular/vdm/components/vdm-templates/index.js
  src/components/app/routes.js
  src/components/groups/group-dashboard-menu.js
  src/components/system/system-dashboard-menu.js
  src/components/system/system-dashboard.js
  src/components/vdm/index.js
  src/components/vdm/vdm-dashboard-index.js
Due: js, other

added lodash support
  src/components/system/system-dashboard.js
Due: js

5.9.0
  package.json
Due: other

5.9.1
  package.json
Due: other

5.9.2
  package.json
Due: other

Fixes for : reseller add from provisioning and system level #385
  src/angular/system/components/service-providers/index.html
  src/components/app/routes.js
  src/components/system/system-dashboard-menu.js
  src/components/system/system-resellers.js
Due: js, other

Fixes warnings
  src/components/app/routes.js
  src/components/system/system-resellers.js
Due: js

Fixes loading
  src/components/groups/group-device/update-device.js
  src/components/groups/group-devices/group-devices.js
  src/components/groups/group-devices/group-select-devices.js
Due: js

Adding version on Reseller
  src/components/system/system-dashboard-menu.js
Due: js

Path conditions:
  js: any of: *.{js,ts}
  other: any of: *.{css,sass,scss,md,mdx,json,html,yml,yaml}
