Repository voipxp/testing: changes, and which lefthook commands are due for each by the changed paths.
All: js, other

js:
  run: prettier --write {staged_files} && eslint --fix {staged_files}

other:
  run: prettier --write {staged_files}

5.9.3
  package.json
Due: other

5.9.4
  package.json
Due: other

added changed to portal passcode and password
  src/angular/common/components/user-portal-passcode/index.html
  src/angular/user/components/user-password/index.html
Due: other

Update Device profile from dialog/Flyout #244
  src/api/groups/group-device-tag-service.js
  src/components/groups/group-dashboard-menu.js
  src/components/groups/group-device/device-tags.js
  src/components/groups/group-device/index.js
  src/components/groups/group-device/update-device.js
  src/components/groups/group-devices-index.js
  src/components/groups/group-devices/group-select-devices.js
  src/components/ui/ui-button.js
Due: js

Device profile update
  src/components/groups/group-device/device-tags.js
Due: js

Fixed lint warning issue
  src/components/groups/group-dashboard-menu.js
  src/components/groups/group-device/device-tags.js
  src/components/groups/group-devices/group-select-devices.js
Due: js

5.9.5
  package.json
Due: other

5.9.6
  package.json
Due: other

5.9.7
  package.json
Due: other

5.9.8
  package.json
Due: other

5.9.9
  package.json
Due: other

5.9.10
  package.json
Due: other

bug when resubmitting failed task #397
  src/angular/bulk/components/bulk-tasks/index.js
Due: js

Fixes for task review firefox issue #398
  src/angular/ui/directives/contenteditable/index.css
Due: other

5.9.11
  package.json
Due: other

5.9.12
  package.json
Due: other

5.9.13
  package.json
Due: other

5.9.14
  package.json
Due: other

device export #390
  src/components/groups/group-devices/group-devices.js
  src/components/groups/group-devices/group-select-devices.js
Due: js

group phone directory export #391
  src/angular/group/components/group-phone-directory/index.html
  src/angular/group/components/group-phone-directory/index.js
Due: js, other

file name fixes
  src/components/groups/group-devices/group-select-devices.js
Due: js

service provider report csv export #393
  src/angular/group/components/group-phone-directory/index.js
  src/angular/system/components/service-provider-report/index.html
  src/angular/system/components/service-provider-report/index.js
Due: js, other

Hunt Group Settings #392
  src/angular/group/components/group-hunt-group-settings/index.html
Due: other

5.9.15
  package.json
Due: other

5.9.16
  package.json
Due: other

5.9.17
  package.json
Due: other

5.9.18
  package.json
Due: other

5.9.19
  package.json
Due: other

Issue with a BW User # #387
  src/components/app/app-breadcrumb.js
  src/components/users/user-dashboard.js
Due: js

Issue with a BW User # #387
  src/components/angular-component.js
  src/components/ui/ui-menu.js
  src/components/users/user-service-settings.js
Due: js

add user export to users list #409
  src/angular/group/components/group-users/index.html
  src/angular/group/components/group-users/index.js
Due: js, other

login issue with user with #
  src/components/app/app-dashboard.js
Due: js

5.9.20
  package.json
Due: other

Bulk Task User Password #396
  src/angular/bulk/services/bulk-task-service.js
  src/components/app/routes.js
  src/components/bulk/bulk-select-user-id.js
  src/components/bulk/bulk-user-password-task/bulk-user-password-group.js
  src/components/bulk/bulk-user-password-task/bulk-user-password-index.js
  src/components/bulk/bulk-user-password-task/bulk-user-password-menu.js
  src/components/bulk/bulk-user-password-task/bulk-user-password-service-provider.js
  src/components/bulk/bulk-user-password-task/bulk-user-password-update-password.js
  src/components/bulk/bulk-user-password-task/bulk-user-password-users.js
  src/components/bulk/index.js
  src/components/bulk/service/bulk-task-service.js
Due: js

Task User Portal Passcode Modify #395
  src/angular/bulk/services/bulk-task-service.js
  src/components/app/routes.js
  src/components/bulk/bulk-user-passcode-task/bulk-user-passcode-group.js
  src/components/bulk/bulk-user-passcode-task/bulk-user-passcode-index.js
  src/components/bulk/bulk-user-passcode-task/bulk-user-passcode-menu.js
  src/components/bulk/bulk-user-passcode-task/bulk-user-passcode-service-provider.js
  src/components/bulk/bulk-user-passcode-task/bulk-user-passcode-update-passcode.js
  src/components/bulk/bulk-user-passcode-task/bulk-user-passcode-users.js
  src/components/bulk/bulk-user-password-task/bulk-user-password-update-password.js
  src/components/bulk/index.js
  src/components/bulk/service/bulk-task-service.js
Due: js

Fixes for ES lint issue
  src/components/bulk/bulk-user-passcode-task/bulk-user-passcode-update-passcode.js
Due: js

moved auth username to new section
  src/components/bulk/bulk-user-password-task/bulk-user-password-update-password.js
Due: js

5.9.21
  package.json
Due: other

5.9.22
  package.json
Due: other

5.9.23
  package.json
Due: other

Path conditions:
  js: any of: *.{js,ts}
  other: any of: *.{css,sass,scss,md,mdx,json,html,yml,yaml}
