Repository voipxp/testing: changes, and which lefthook commands are due for each by the changed paths.
All: js, other

js:
  run: prettier --write {staged_files} && eslint --fix {staged_files}

other:
  run: prettier --write {staged_files}

docs looking good
  .storybook/addons.js
  .storybook/config.js
  .storybook/webpack.config.js
  doczrc.js
  package.json
  src/components/ui/doc-wrapper.js
  src/components/ui/index.stories.mdx
  src/components/ui/ui-button.stories.js
  src/components/ui/ui-card-modal.js
  src/components/ui/ui-card-modal.mdx
  src/components/ui/ui-card-modal.stories.js
  yarn.lock
Due: js, other

added policy for userIdUpdate
  src/angular/group/services/group-policy-service.js
  src/angular/user/components/user-id/index.js
Due: js

add viewport addon
  .storybook/addons.js
  package.json
  yarn.lock
Due: js, other

add horizontal form field element
  src/components/ui/ui-form-field.stories.js
Due: js

ui doc
  src/components/ui/ui-form-field.stories.js
Due: js

wtf
  .storybook/config.js
  .storybook/webpack.config.js
  src/components/ui/ui-input-checkbox.stories.js
Due: js

deps
  yarn.lock
Due: none

update docs location
  .dockerignore
  .gitignore
  .prettierignore
  README.md
  package.json
  yarn.lock
Due: other

add documentation description for each component
  src/components/ui/ui-button.js
  src/components/ui/ui-card-modal.js
  src/components/ui/ui-card.js
  src/components/ui/ui-checkbox.js
  src/components/ui/ui-close.js
  src/components/ui/ui-data-table.js
  src/components/ui/ui-form-error.js
  src/components/ui/ui-form-field.js
  src/components/ui/ui-input-checkbox.js
  src/components/ui/ui-input-password.js
  src/components/ui/ui-list-item.js
  src/components/ui/ui-loading-card.js
  src/components/ui/ui-loading-modal.js
  src/components/ui/ui-loading-page.js
  src/components/ui/ui-loading.js
  src/components/ui/ui-menu.js
  src/components/ui/ui-pagination.js
  src/components/ui/ui-section.js
  src/components/ui/use-form.js
  src/components/ui/use-form.stories.js
  src/utils/use-form.md
  src/utils/use-form.stories.js
Due: js, other

4.9.1
  package.json
Due: other

fix missing delete class in css that caused modal x button UI problem
  src/index.scss
  src/other.sass
Due: other

4.9.2
  package.json
Due: other

update deps
  src/components/ui/use-form.js
  src/components/ui/use-form.stories.js
  yarn.lock
Due: js

merge master
  lefthook.yml
Due: other

use-form story
  src/components/ui/use-form.js
  src/utils/use-form.stories.js
Due: js

use-form story moved
  src/components/ui/use-form.js
  src/utils/use-form.stories.js
Due: js

docs
  src/components/ui/ui-button.js
  src/components/ui/ui-form-error.js
Due: js

moved domains, languages, states, timezones to graphql
  GRAPHQL-NOTES.md
  src/angular/api/services/groups/group-domain-service.js
  src/angular/api/services/service-providers/service-provider-domain-service.js
  src/angular/api/services/system/system-domain-service.js
  src/angular/api/services/system/system-language-service.js
  src/angular/api/services/system/system-state-service.js
  src/angular/api/services/system/system-time-zone-service.js
  src/apollo.js
Due: js, other

simply stories with newest fix
  src/components/ui/ui-button.stories.js
  src/components/ui/ui-card-modal.stories.js
  src/components/ui/ui-card.stories.js
  src/components/ui/ui-checkbox.stories.js
  src/components/ui/ui-close.stories.js
  src/components/ui/ui-data-table.stories.js
  src/components/ui/ui-form-error.stories.js
  src/components/ui/ui-form-field.stories.js
  src/components/ui/ui-input-checkbox.stories.js
  src/components/ui/ui-input-password.stories.js
  src/components/ui/ui-list-item.stories.js
  src/components/ui/ui-loading-card.stories.js
  src/components/ui/ui-loading-modal.stories.js
  src/components/ui/ui-loading-page.stories.js
  src/components/ui/ui-loading.stories.js
  src/components/ui/ui-menu.stories.js
  src/components/ui/ui-pagination.stories.js
  src/components/ui/ui-section.stories.js
  src/utils/use-form.stories.js
  yarn.lock
Due: js

simplify stories
  src/components/ui/ui-button.stories.js
  src/components/ui/ui-card-modal.stories.js
  src/components/ui/ui-card.stories.js
  src/components/ui/ui-checkbox.stories.js
  src/components/ui/ui-close.stories.js
  src/components/ui/ui-data-table.stories.js
  src/components/ui/ui-form-error.stories.js
  src/components/ui/ui-form-field.stories.js
  src/components/ui/ui-input-checkbox.stories.js
  src/components/ui/ui-input-password.stories.js
  src/components/ui/ui-list-item.stories.js
  src/components/ui/ui-loading-card.stories.js
  src/components/ui/ui-loading-modal.stories.js
  src/components/ui/ui-loading-page.stories.js
  src/components/ui/ui-loading.stories.js
  src/components/ui/ui-menu.stories.js
  src/components/ui/ui-pagination.stories.js
  src/components/ui/ui-section.stories.js
  src/components/ui/use-form.stories.js
  src/utils/use-form.stories.js
  yarn.lock
Due: js

css
  .storybook/config.js
  package.json
  src/index.js
  src/index.scss
  src/style/README.md
  src/style/generic.sass
  src/style/index.scss
  src/style/other.sass
Due: js, other

found better way to override bulma classes
  .storybook/config.js
  .storybook/reset.css
  src/index.js
  src/index.scss
  src/style/README.md
  src/style/generic.sass
  src/style/index.scss
  src/style/other.sass
Due: js, other

hide knobs and actions as not in use - update UiButton docs
  .storybook/addons.js
  src/components/ui/ui-button.stories.js
Due: js

remove unused deps
  .storybook/addons.js
  package.json
  yarn.lock
Due: js, other

merge master
  src/components/ui/ui-button.stories.js
Due: js

update user department
  src/angular/api/services/users/user-service.js
  src/graphql/user.js
Due: js

ignore .docz files
  .gitignore
Due: none

4.9.3
  package.json
Due: other

remove googleUA script, included in a lib
  src/index.html
Due: other

added reseller id to service provider create
  src/angular/system/components/service-provider-create/index.html
  src/angular/system/components/service-provider-create/index.js
  src/angular/system/components/service-providers/index.html
Due: js, other

fix extra space on reseller service provider list
  src/angular/system/components/service-provider-create/index.html
  src/angular/system/components/service-provider-create/index.js
  src/angular/system/components/service-providers/index.js
Due: js, other

device
  src/angular/api/services/users/user-service.js
Due: js

merge
  src/angular/system/components/service-provider-create/index.html
Due: other

apollo client updates
  src/angular/api/services/service-providers/service-provider-service.js
Due: js

graphql
  package.json
  src/components/service-provider-select.js
  src/graphql/reseller.js
  src/graphql/session.js
  src/graphql/user-intercept.js
  src/graphql/user-registrations.js
  src/graphql/user-speed-dial-8.js
  yarn.lock
Due: js, other

updates
  src/angular/api/services/groups/group-service.js
  src/angular/api/services/service-providers/service-provider-service.js
  src/angular/api/services/users/user-service.js
Due: js

eslint
  src/angular/api/services/groups/group-service.js
  src/angular/api/services/users/user-service.js
  src/graphql/session.js
  src/graphql/user-intercept.js
  src/graphql/user-registrations.js
  src/graphql/user-speed-dial-8.js
  yarn.lock
Due: js

Path conditions:
  js: any of: *.{js,ts}
  other: any of: *.{css,sass,scss,md,mdx,json,html,yml,yaml}
