Repository voipxp/testing: changes, and which lefthook commands are due for each by the changed paths.
All: js, other

js:
  run: prettier --write {staged_files} && eslint --fix {staged_files}

other:
  run: prettier --write {staged_files}

Group department admin file commits
  src/angular/department/components/department-users/index.js
  src/components/app/app-dashboard.js
  src/components/app/routes.js
  src/components/departments/department-dashboard-menu.js
Due: js

Department admin dashboard listing
  src/angular/department/components/department-auto-attendants/index.html
  src/angular/department/components/department-auto-attendants/index.js
  src/angular/department/components/department-hunt-groups/index.html
  src/angular/department/components/department-hunt-groups/index.js
  src/angular/department/components/department-paging-groups/index.html
  src/angular/department/components/department-paging-groups/index.js
  src/angular/department/components/index.js
  src/components/departments/department-dashboard-menu.js
Due: js, other

group admin department
  src/angular/api/services/department/department-enterprise-directory-service.js
  src/angular/department/components/department-common-phone-list/index.js
Due: js

5.0.0
  package.json
Due: other

Deleting files (Not needed)
  src/angular/api/services/department/department-broadworks-anywhere-service.js
  src/angular/api/services/department/department-call-center-service.js
  src/angular/api/services/department/department-common-phone-list-service.js
  src/angular/api/services/department/department-enterprise-directory-service.js
  src/angular/api/services/department/department-flexible-seating-host-service.js
  src/angular/api/services/department/index.js
  src/angular/api/services/index.js
  src/angular/common/services/module.js
  src/angular/department/components/department-auto-attendants/index.html
  src/angular/department/components/department-auto-attendants/index.js
  src/angular/department/components/department-broadworks-anywhere/index.html
  src/angular/department/components/department-broadworks-anywhere/index.js
  src/angular/department/components/department-call-centers/index.html
  src/angular/department/components/department-call-centers/index.js
  src/angular/department/components/department-common-phone-list/index.html
  src/angular/department/components/department-common-phone-list/index.js
  src/angular/department/components/department-enterprise-directory/index.html
  src/angular/department/components/department-enterprise-directory/index.js
  src/angular/department/components/department-flexible-seating-hosts/index.html
  src/angular/department/components/department-flexible-seating-hosts/index.js
  src/angular/department/components/department-hunt-groups/index.html
  src/angular/department/components/department-hunt-groups/index.js
  src/angular/department/components/department-paging-groups/index.html
  src/angular/department/components/department-paging-groups/index.js
  src/angular/department/components/department-password/index.html
  src/angular/department/components/department-password/index.js
  src/angular/department/components/department-users/index.html
  src/angular/department/components/department-users/index.js
  src/angular/department/components/index.js
  src/angular/department/index.js
  src/angular/department/module.js
  src/angular/department/services/index.js
  src/angular/index.js
  src/components/app/app-dashboard.js
  src/components/departments/department-dashboard-menu.js
Due: js, other

Deleting file
  src/angular/department/components/department-common-phone-list/index.js
Due: js

deleting file
  src/angular/api/services/department/department-enterprise-directory-service.js
  src/angular/common/services/module.js
Due: js

Issue fixes 61: Add AUTH setup and configuration (password) to Bulk
  src/angular/bulk/components/bulk-user-authentication-update/index.js
  src/utils/password.js
Due: js

5.0.1
  package.json
Due: other

5.0.2
  package.json
Due: other

Fixes Bulk SIP Auth Password (43)
  src/angular/api/services/service-providers/index.js
  src/angular/api/services/service-providers/service-provider-sip-auth-password-rules-service.js
  src/angular/common/components/pbs-input-password/index.js
Due: js

5.0.3
  package.json
Due: other

5.0.4
  package.json
Due: other

5.0.5
  package.json
Due: other

5.0.6
  package.json
Due: other

5.0.7
  package.json
Due: other

5.0.8
  package.json
Due: other

5.0.9
  package.json
Due: other

sip password auth code system
  src/angular/api/services/service-providers/service-provider-sip-auth-password-rules-service.js
  src/angular/api/services/system/index.js
  src/angular/api/services/system/system-sip-auth-password-rules-service.js
  src/angular/bulk/components/bulk-user-authentication-update/index.js
  src/angular/bulk/services/bulk-parse-service.js
Due: js

sip auth password rules
  src/angular/bulk/services/bulk-parse-service.js
  src/angular/common/components/pbs-input-password/index.js
Due: js

Group admin department dashboard menu and routing
  src/angular/common/services/acl.js
  src/angular/department/components/department-users/index.html
  src/angular/department/components/department-users/index.js
  src/angular/department/components/index.js
  src/angular/department/index.js
  src/angular/department/module.js
  src/angular/index.js
  src/api/group-services/index.js
  src/components/app/app-dashboard.js
  src/components/app/routes.js
  src/components/departments/department-dashboard-menu.js
  src/components/departments/department-dashboard.js
  src/store/group-services.js
  src/store/index.js
  src/utils/acl.js
  src/utils/group-services.js
  src/utils/index.js
Due: js, other

dipartment dashboard
  src/angular/common/components/index.js
  src/angular/common/components/pbs-input-change-password/index.html
  src/angular/common/components/pbs-input-change-password/index.js
  src/angular/department/components/department-password/index.html
  src/angular/department/components/department-password/index.js
  src/angular/department/components/index.js
  src/components/departments/department-dashboard-menu.js
Due: js, other

sip auth password
  src/angular/bulk/services/bulk-parse-service.js
  src/angular/common/components/pbs-input-password/index.js
Due: js

sip auth password rules
  src/angular/api/services/service-providers/service-provider-sip-auth-password-rules-service.js
  src/angular/bulk/services/bulk-parse-service.js
  src/angular/common/components/pbs-input-password/index.js
Due: js

sip auth password rules
  src/angular/common/components/pbs-input-password/index.js
Due: js

department change password
  src/angular/common/components/pbs-input-change-password/index.html
  src/angular/department/components/department-password/index.html
  src/angular/department/components/department-password/index.js
Due: js, other

Group Admin - Department Read only/None mode failed
  src/angular/group/components/group-dashboard/index.js
Due: js

added export settings
  src/angular/settings/components/index.js
  src/angular/settings/components/odin-settings-exports/index.html
  src/angular/settings/components/odin-settings-exports/index.js
  src/angular/settings/components/odin-settings/index.html
  src/api/settings/index.js
  src/components/audits/audit.js
Due: js, other

5.0.10
  package.json
Due: other

Fixes Access Device
  src/angular/api/services/groups/group-admin-policy-service.js
Due: js

Group Department admin implementation
  src/angular/bulk/components/bulk-select-department/index.html
  src/angular/bulk/components/bulk-select-department/index.js
  src/angular/bulk/components/bulk-user-create/index.js
  src/angular/common/components/service-instance-profile/index.html
  src/angular/common/components/service-instance-profile/index.js
  src/angular/common/services/acl.js
  src/angular/department/components/department-users/index.js
  src/angular/group/components/group-auto-attendants/index.js
  src/angular/group/components/group-flexible-seating-hosts/index.js
  src/angular/group/components/group-hunt-groups/index.js
  src/angular/group/components/group-meet-me-bridges/index.js
  src/angular/group/components/group-paging-groups-list/index.js
  src/angular/group/components/user-create/index.js
  src/angular/group/services/group-web-policy-service.js
  src/angular/group/services/index.js
  src/api/group-web-policy/index.js
  src/components/app/app-login.js
  src/components/app/routes.js
  src/components/departments/department-dashboard-menu.js
  src/components/departments/department-dashboard.js
  src/utils/acl.js
Due: js, other

import
  src/components/audits/audit.js
Due: js

5.0.11
  package.json
Due: other

Group Department implementation: Group Web Policies
  src/angular/group/components/group-call-centers/index.js
  src/angular/group/services/group-web-policy-service.js
  src/angular/user/components/user-id/index.js
  src/angular/user/components/user-profile/index.js
  src/components/app/app-dashboard.js
  src/components/app/routes.js
  src/components/departments/department-dashboard-menu.js
  src/components/users/user-dashboard-menu.js
Due: js

Group Department implementation: trunk group
  src/angular/group/components/group-trunk-group-trunk-groups/index.js
Due: js

Group department : users
  src/angular/user/components/user-id/index.js
Due: js

Department admin Issues
  src/angular/group/components/group-flexible-seating-host-device/index.js
  src/angular/user/components/user-device/index.js
  src/components/departments/department-dashboard-menu.js
Due: js

import ui enterprise and group added
  src/angular/service-provider/components/service-provider-dashboard/index.js
  src/angular/system/components/system-dashboard/index.js
  src/api/imports/index.js
  src/components/app/routes.js
  src/components/audits/audit.js
  src/components/imports/import.js
  src/components/imports/imports.js
  src/components/imports/index.js
  src/components/resellers/index.js
  src/components/resellers/reseller-dashboard-menu.js
  src/components/resellers/reseller-import.js
  src/components/resellers/reseller-imports.js
  src/components/ui/index.js
  src/components/ui/ui-input-passcode.js
  src/utils/index.js
  src/utils/passcode.js
Due: js

Group Administrator Policy and Number extension permission
  src/angular/group/components/group-profile/index.html
  src/angular/group/components/group-profile/index.js
  src/angular/user/components/user-number/index.html
  src/angular/user/components/user-number/index.js
Due: js, other

Path conditions:
  js: any of: *.{js,ts}
  other: any of: *.{css,sass,scss,md,mdx,json,html,yml,yaml}
