Repository voipxp/testing: changes, and which lefthook commands are due for each by the changed paths.
All: js, other

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    js:
      glob: '*.{js,ts}'
      run: prettier --write {staged_files} && eslint --fix {staged_files}
    other:
      glob: '*.{css,sass,scss,md,mdx,json,html,yml,yaml}'
      run: prettier --write {staged_files}
pre-push:
  commands:
    audit:
      tags: audit
      run: yarn audit

Fixes 75
  src/components/bulk/bulk-sip-trunking/bulk-sip-trunking-dashboard-menu.js
Due: js

SIP Trunking
  src/components/bulk/bulk-import.js
  src/components/bulk/bulk-select-services-pack.js
Due: js

SIP Trunking
  src/components/bulk/bulk-sip-trunking/bulk-sip-trunking-trunk-groups.js
Due: js

import csv
  src/components/bulk/service/bulk-upload-csv.js
Due: js

csv
  src/components/bulk/service/bulk-upload-csv.js
Due: js

sip index fixes
  src/components/bulk/bulk-sip-trunking/bulk-sip-trunking-dashboard-menu.js
  src/components/bulk/service/bulk-import-storage.js
Due: js

5.7.3
  package.json
Due: other

SIP Trunking Upload Task
  src/angular/bulk/services/bulk-task-service.js
  src/components/app/routes.js
  src/components/bulk/bulk-sip-trunking-upload/bulk-import-upload.js
  src/components/bulk/bulk-sip-trunking-upload/bulk-sip-trunking-upload-dashboard-menu.js
  src/components/bulk/bulk-sip-trunking-upload/bulk-sip-trunking-upload-task.js
  src/components/bulk/bulk-sip-trunking-upload/bulk-sip-trunking-upload.js
  src/components/bulk/bulk-wiz-menu.js
  src/components/bulk/index.js
  src/components/bulk/service/bulk-task-service.js
Due: js

bulk clear local storage
  src/components/bulk/bulk-sip-trunking/bulk-sip-trunking.js
Due: js

renaming local storage key
  src/components/bulk/bulk-sip-trunking-upload/bulk-sip-trunking-upload-dashboard-menu.js
Due: js

SIP Trunking Upload
  src/components/bulk/bulk-sip-trunking-upload/bulk-import-upload.js
  src/components/bulk/bulk-sip-trunking-upload/bulk-sip-trunking-upload-task.js
Due: js

5.7.4
  package.json
Due: other

SIP Trunking
  src/components/bulk/bulk-sip-trunking-upload/bulk-sip-trunking-trunk-groups-task.js
  src/components/bulk/bulk-sip-trunking-upload/bulk-sip-trunking-upload-dashboard-menu.js
Due: js

5.7.5
  package.json
Due: other

5.7.6
  package.json
Due: other

5.7.7
  package.json
Due: other

5.7.8
  package.json
Due: other

5.7.9
  package.json
Due: other

5.7.10
  package.json
Due: other

5.7.11
  package.json
Due: other

added bulk integrated IMP
  src/angular/bulk/components/bulk-user-integrated-imp-update/index.html
  src/angular/bulk/components/bulk-user-integrated-imp-update/index.js
  src/angular/bulk/components/index.js
  src/angular/bulk/services/bulk-task-service.js
  src/components/app/routes.js
Due: js, other

added comments
  src/angular/bulk/components/bulk-user-integrated-imp-update/index.html
  src/angular/bulk/services/bulk-task-service.js
Due: js, other

SIP Trunking upload
  src/components/bulk/bulk-enterprise-clone/bulk-enterprise-clone-all-controls.js
  src/components/bulk/bulk-sip-trunking/tasks/bulk-sip-trunking-group-services-task.js
  src/components/bulk/service/bulk-import-storage.js
Due: js

SIP Trunking
  src/components/bulk/bulk-sip-trunking-upload/bulk-sip-trunking-upload-dashboard-menu.js
Due: js

SIP Trunking
  src/components/bulk/bulk-sip-trunking-upload/bulk-sip-trunking-auth-wiz-task.js
  src/components/bulk/bulk-sip-trunking-upload/bulk-sip-trunking-upload-dashboard-menu.js
Due: js

5.7.12
  package.json
  yarn.lock
Due: other

SIP Trunking Add Devices
  src/angular/bulk/services/bulk-task-service.js
  src/components/bulk/bulk-import.js
  src/components/bulk/bulk-sip-trunking-upload/bulk-import-upload.js
  src/components/bulk/bulk-sip-trunking-upload/bulk-sip-trunking-trunk-groups-task.js
  src/components/bulk/bulk-sip-trunking-upload/bulk-sip-trunking-upload-dashboard-menu.js
  src/components/bulk/recent-tasks/recent-task.js
  src/components/bulk/service/bulk-task-service.js
Due: js

SIP Trunking Error
  src/components/bulk/bulk-sip-trunking-upload/bulk-import-upload.js
Due: js

SIP trunking menu
  src/components/bulk/bulk-sip-trunking/bulk-sip-trunking.js
Due: js

Group dashboard settings
  src/components/groups/group-dashboard-menu.js
  src/components/groups/group-dashboard.js
  src/components/groups/group-service-routes.js
  src/components/groups/group-service-settings.js
  src/components/groups/group-user-service-routes.js
  src/components/groups/group-user-service-settings.js
  src/components/groups/index.js
Due: js

Group dashboard
  src/components/app/routes.js
  src/components/groups/group-dashboard-menu.js
  src/components/groups/group-dashboard.js
  src/utils/user-services.js
Due: js

group dashboard changes
  src/angular/bulk/components/bulk-dashboard/index.html
  src/angular/bulk/components/bulk-dashboard/index.js
  src/angular/group/components/group-admins/index.html
  src/angular/group/components/group-admins/index.js
  src/angular/group/components/group-announcements/index.html
  src/angular/group/components/group-announcements/index.js
  src/angular/group/components/group-dashboard/index.js
  src/angular/group/components/group-departments/index.html
  src/angular/group/components/group-departments/index.js
  src/angular/group/components/group-flexible-seating-host/index.html
  src/angular/group/components/group-flexible-seating-host/index.js
  src/angular/group/components/group-profile/index.html
  src/angular/group/components/group-profile/index.js
  src/angular/group/components/group-users/index.html
  src/angular/group/components/group-users/index.js
  src/components/groups/group-dashboard-menu.js
  src/components/groups/group-dashboard.js
  src/components/groups/group-service-routes.js
  src/components/groups/group-user-service-routes.js
Due: js, other

group dashboard service
  src/angular/common/components/users-report/index.html
  src/angular/common/components/users-report/index.js
  src/angular/group/components/auto-attendant-call-records/index.html
  src/angular/group/components/group-call-center-call-records/index.html
  src/angular/group/components/group-call-processing-policy/index.html
  src/angular/group/components/group-call-record-index/index.html
  src/angular/group/components/group-calling-plans/index.html
  src/angular/group/components/group-common-phone-list/index.html
  src/angular/group/components/group-common-phone-list/index.js
  src/angular/group/components/group-communication-barring-authorization-codes/index.html
  src/angular/group/components/group-custom-contact-directories/index.html
  src/angular/group/components/group-custom-contact-directories/index.js
  src/angular/group/components/group-feature-access-codes/index.html
  src/angular/group/components/group-intercept/index.html
  src/angular/group/components/group-network-class-of-service/index.html
  src/angular/group/components/group-network-class-of-service/index.js
  src/angular/group/components/group-phone-directory/index.html
  src/angular/group/components/group-phone-directory/index.js
  src/angular/group/components/group-schedule/index.html
  src/angular/group/components/group-schedules/index.html
  src/angular/group/components/group-user-call-report-index/index.html
  src/angular/group/components/group-viewable-packs-index/index.html
  src/components/groups/group-dashboard-menu.js
  src/components/groups/group-dashboard.js
  src/components/groups/group-service-settings.js
Due: js, other

group dashboard service
  src/components/groups/group-dashboard-menu.js
  src/components/groups/group-service-settings.js
Due: js

group dash
  src/components/groups/group-dashboard-menu.js
Due: js

Bulk Sip Trunking
  src/angular/bulk/services/bulk-task-service.js
  src/components/bulk/bulk-add-new-device.js
  src/components/bulk/bulk-select-devices.js
  src/components/bulk/bulk-sip-trunking/bulk-sip-trunking-dashboard-menu.js
  src/components/bulk/bulk-sip-trunking/bulk-sip-trunking-devices.js
  src/components/bulk/bulk-sip-trunking/bulk-sip-trunking-trunk-groups.js
  src/components/bulk/bulk-sip-trunking/tasks/bulk-sip-trunking-trunk-groups-task.js
  src/components/bulk/bulk-trunk-group/bulk-add-trunk-group.js
  src/components/bulk/service/bulk-task-service.js
Due: js

group dashboard
  src/components/groups/group-communication-barring.js
  src/components/groups/group-dashboard-menu.js
Due: js

group dashboard call park service
  src/components/groups/group-dashboard-menu.js
  src/components/groups/group-service-routes.js
Due: js

group dashboard
  src/components/groups/group-service-settings.js
Due: js
