Repository voipxp/testing: changes, and which lefthook commands are due for each by the changed paths.
All: js, other

js:
  run: prettier --write {staged_files} && eslint --fix {staged_files}

other:
  run: prettier --write {staged_files}

schema changes
  src/components/app/app-analytics.js
  src/components/app/app-footer.js
  src/components/app/app-login.js
  src/components/app/app-navbar.js
  src/components/app/app-timer.js
  src/graphql/ui.js
Due: js

more user graphql
  src/angular/api/services/users/user-service.js
  src/angular/group/components/group-users/index.js
  src/graphql/user.js
Due: js

4.8.0
  package.json
Due: other

remove enums
  src/components/users/user-intercept.js
  src/graphql/common.js
  src/graphql/user-intercept.js
Due: js

notes
  GRAPHQL-NOTES.md
  src/angular/common/components/virtual-user-menu/index.js
Due: js, other

deps
  package.json
  yarn.lock
Due: other

rename
  src/graphql/session.js
  src/graphql/user-speed-dial-8.js
Due: js

finish user service
  src/angular/api/services/users/user-service.js
  src/graphql/user.js
Due: js

prepare for error handling, add some notes
  GRAPHQL-NOTES.md
  src/apollo.js
  yarn.lock
Due: js, other

deps
  yarn.lock
Due: none

4.8.1
  package.json
Due: other

update uidatatable docs
  src/components/ui/ui-data-table.mdx
Due: other

update
  GRAPHQL-NOTES.md
Due: other

merge
  src/angular/service-provider/components/service-packs-create/index.html
Due: other

wtf
  src/angular/service-provider/components/service-packs-create/index.html
Due: other

prettier wtf
  .prettierrc
  src/angular/service-provider/components/service-packs-create/index.html
Due: other

prettier
  src/angular/service-provider/components/service-packs-create/index.html
Due: other

save
  src/angular/group/components/group-device-tags/index.html
  src/angular/group/components/group-device-tags/index.js
Due: js, other

saave
  src/angular/group/components/group-device-tags/index.html
  src/angular/group/components/group-device-tags/index.js
  src/angular/group/components/index.js
  src/components/app/routes.js
Due: js, other

Add Tags and File Modification for Group Devices
  src/angular/group/components/group-device-details/index.html
  src/angular/group/components/group-device-details/index.js
  src/angular/group/components/group-device-file/index.html
  src/angular/group/components/group-device-files/index.html
  src/angular/group/components/group-device-files/index.js
  src/angular/group/components/group-device-reset-button/index.html
  src/angular/group/components/group-device-reset-button/index.js
  src/angular/group/components/group-device-tags/index.html
  src/angular/group/components/group-device-tags/index.js
  src/angular/group/components/group-device/index.html
  src/angular/group/components/group-device/index.js
  src/angular/group/components/group-devices/index.html
  src/angular/group/components/group-devices/index.js
  src/angular/group/components/index.js
  src/components/app/routes.js
Due: js, other

lefthook
  lefthook.yml
Due: other

wtf
  lefthook.yml
Due: other

faster update
  src/angular/group/components/group-device-details/index.js
Due: js

add users list to group device
  src/angular/api/services/groups/group-device-service.js
  src/angular/group/components/group-device-users/index.html
  src/angular/group/components/group-device-users/index.js
  src/angular/group/components/group-device/index.html
  src/angular/group/components/index.js
Due: js, other

add device tags to user device page
  src/angular/group/components/group-device-details/index.html
  src/angular/group/components/group-device-files/index.html
  src/angular/group/components/group-device-tags/index.html
  src/angular/group/components/group-device-users/index.html
  src/angular/group/components/group-device-users/index.js
  src/angular/user/components/user-addresses/index.html
  src/angular/user/components/user-device/index.html
Due: js, other

4.9.0
  package.json
Due: other

merge master
  src/angular/group/components/group-device-details/index.html
  src/angular/group/components/group-device-details/index.js
  src/angular/group/components/group-device-reset-button/index.html
  src/angular/group/components/group-device-reset-button/index.js
  src/angular/group/components/group-device-tags/index.html
  src/angular/group/components/group-device-tags/index.js
  src/angular/group/components/group-device-users/index.js
  src/angular/group/components/group-device/index.html
  src/angular/group/components/group-devices/index.js
Due: js, other

split phone number and device out in user dashboard
  src/angular/group/components/group-device-users/index.js
  src/angular/user/components/user-addresses/index.html
  src/components/users/user-dashboard-menu.js
Due: js, other

can delete policy for group admin
  src/angular/group/services/group-policy-service.js
  src/angular/user/components/user-id/index.js
Due: js

removed console log
  src/angular/user/components/user-id/index.js
Due: js

fixed system login
  src/angular/user/components/user-id/index.js
Due: js

first
  .storybook/addons.js
  .storybook/config.js
  .storybook/presets.js
  package.json
  stories/button.stories.js
  stories/ui-button.stories.mdx
  stories/welcome.stories.js
  yarn.lock
Due: js, other

updates to storybook 5.2 pre
  .storybook/config.js
  .storybook/webpack.config.js
  src/components/ui/ui-button.mdx
  src/components/ui/ui-button.stories.js
  src/index.scss
  stories/button.stories.js
  stories/welcome.stories.js
Due: js, other

Path conditions:
  js: any of: *.{js,ts}
  other: any of: *.{css,sass,scss,md,mdx,json,html,yml,yaml}
