Repository voipxp/testing: changes, and which lefthook commands are due for each by the changed paths.
All: js, other

js:
  run: prettier --write {staged_files} && eslint --fix {staged_files}

other:
  run: prettier --write {staged_files}

fix
  src/angular/group/components/group-trunk-group-profile/index.js
Due: js

user-create
  src/angular/group/components/user-create/index.js
Due: js

5.1.4
  package.json
Due: other

Fixes for : Issue #42 Issue #67
  src/angular/bulk/components/bulk-dashboard/index.js
  src/angular/service-provider/components/service-provider-admins/index.html
  src/angular/service-provider/components/service-provider-admins/index.js
Due: js, other

Fixes for issue #67 (Group Admin : User Access Policy Modes are Failed #67)
  src/angular/bulk/components/bulk-import/index.js
Due: js

fixed component name for imports
  src/components/resellers/reseller-imports.js
Due: js

5.1.5
  package.json
Due: other

added next run and attemts to audit and import
  src/angular/service-provider/components/service-provider-dashboard/index.js
  src/angular/system/components/system-dashboard/index.js
  src/components/audits/audit.js
  src/components/audits/audits.js
  src/components/imports/import.js
  src/components/imports/imports.js
  src/components/resellers/reseller-dashboard-menu.js
Due: js

added enable voice mail recording for users
  src/angular/user/components/user-call-recording/index.html
Due: other

Fixes for Issue : service utilization report reseller #125
  src/components/resellers/reseller-dashboard-menu.js
  src/components/resellers/reseller-service-utilization-report.js
Due: js

added import and audit message to pages
  src/components/audits/audit.js
  src/components/imports/import.js
Due: js

Fixes for Issue : End User Profile Forces Logout #126 Fixes Done for : 1. Reseller Admin type 2. Service Provider Admin type 3. Group Admin type 4. Group Department Admin type 5. End User Type
  src/angular/common/services/session.js
  src/angular/department/components/department-password/index.js
  src/angular/group/components/group-admins/index.js
  src/angular/service-provider/components/service-provider-admins/index.js
  src/angular/user/components/user-password/index.js
  src/components/resellers/reseller-admins.js
Due: js

Reverting code of : Service Utilization report, will merged after api fixes will be done
  src/components/resellers/reseller-dashboard-menu.js
  src/components/resellers/reseller-service-utilization-report.js
Due: js

changed audit limit to 1000
  src/components/audits/audits.js
Due: js

change audit_limit view to 5000
  src/components/audits/audits.js
Due: js

5.1.6
  package.json
Due: other

fix for phone numbers
  src/angular/common/components/service-instance-profile/index.js
  src/angular/group/components/auto-attendant-clone/index.js
  src/angular/group/components/auto-attendant-create/index.js
  src/angular/group/components/group-flexible-seating-host-service-instance-profile/index.js
  src/angular/group/components/group-profile/index.js
  src/angular/group/components/group-users/index.js
  src/angular/user/components/user-number/index.js
Due: js

5.1.7
  package.json
Due: other

added all levels of support for group usrs
  src/angular/group/components/group-users/index.js
Due: js

Code for User Service Settings List Enhancement( #128 )
  src/api/user-services-settings/user-anonymous-call-rejection-service.js
  src/api/user-services-settings/user-barge-in-exempt-service.js
  src/api/user-services-settings/user-broad-works-mobility-service.js
  src/api/user-services-settings/user-call-forwarding-always-secondary-service.js
  src/api/user-services-settings/user-call-forwarding-busy-service.js
  src/api/user-services-settings/user-call-forwarding-no-answer-service.js
  src/api/user-services-settings/user-call-forwarding-not-reachable-service.js
  src/api/user-services-settings/user-calling-line-id-delivery-blocking-service.js
  src/components/users/service-settings/user-anonymous-call-rejection.js
  src/components/users/service-settings/user-barge-in-exempt.js
  src/components/users/service-settings/user-broadworks-mobility.js
  src/components/users/service-settings/user-call-forwarding-always-secondary.js
  src/components/users/service-settings/user-call-forwarding-busy.js
  src/components/users/service-settings/user-call-forwarding-no-answer.js
  src/components/users/service-settings/user-call-forwarding-not-reachable.js
  src/components/users/service-settings/user-calling-line-id-delivery-blocking.js
  src/components/users/user-service-routes.js
Due: js

User Service Settings list gap issue(#128)
  src/api/user-services-settings/user-call-forwarding-always-service.js
  src/api/user-services-settings/user-calling-name-delivery-service.js
  src/api/user-services-settings/user-calling-name-retrieval-service.js
  src/components/users/service-settings/user-call-forwarding-always.js
  src/components/users/service-settings/user-calling-name-delivery.js
  src/components/users/service-settings/user-calling-name-retrieval.js
  src/components/users/user-service-routes.js
Due: js

User Services Setting List gap user call recording (#128)
  src/api/user-services-settings/user-call-recording-service.js
  src/components/users/service-settings/user-call-recording.js
  src/components/users/service-settings/user-calling-name-delivery.js
  src/components/users/user-service-routes.js
Due: js

User Service Settings (related to user services gap #86) #128
  src/api/user-services-settings/user-call-transfer-service.js
  src/api/user-services-settings/user-call-waiting-service.js
  src/components/users/service-settings/user-call-recording.js
  src/components/users/service-settings/user-call-transfer.js
  src/components/users/service-settings/user-call-waiting.js
  src/components/users/user-service-routes.js
Due: js

List for User Service Settings (related to user services gap #86) #128
  src/api/user-services-settings/user-advice-of-charge-service.js
  src/api/user-services-settings/user-automatic-callback-service.js
  src/api/user-services-settings/user-automatic-hold-retrieve-service.js
  src/api/user-services-settings/user-calling-number-delivery-service.js
  src/api/user-services-settings/user-do-not-disturb-service.js
  src/api/user-services-settings/user-external-calling-line-id-delivery-service.js
  src/components/users/service-settings/user-advice-of-charge.js
  src/components/users/service-settings/user-automatic-callback.js
  src/components/users/service-settings/user-automatic-hold-retrieve.js
  src/components/users/service-settings/user-calling-number-delivery.js
  src/components/users/service-settings/user-do-not-disturb.js
  src/components/users/service-settings/user-external-calling-line-id-delivery.js
  src/components/users/user-service-routes.js
Due: js

User Service Settings List Group Night Forwarding #128
  src/api/user-services-settings/user-group-night-forwarding-service.js
  src/components/users/service-settings/user-group-night-forwarding.js
  src/components/users/user-service-routes.js
Due: js

5.2.0
  package.json
Due: other

do not show resellers panel if the are a reseller provisioner
  src/angular/system/components/resellers-panel/index.html
  src/angular/system/components/resellers-panel/index.js
Due: js, other

added reseller service utilization report
  src/components/resellers/index.js
  src/components/resellers/reseller-dashboard-menu.js
  src/components/resellers/reseller-service-utilization-report.js
Due: js

5.2.1
  package.json
Due: other

added branding column for group department
  src/angular/branding/components/branding-modules/index.html
Due: other

added react-query
  package.json
  src/components/groups/group-extension-length.js
  yarn.lock
Due: js, other

Fixes : Group Paging Creation Issue #135
  src/angular/group/components/group-paging-group-create/index.js
Due: js

Fixes for : Cannot change or assign TNs on Users and Hunt Groups #131
  src/angular/user/components/user-id/index.js
  src/angular/user/components/user-profile/index.js
Due: js

Fixes for #131 (Create user icon is not visible)
  src/angular/group/components/group-users/index.js
Due: js

group-extension-length removed unused libs
  src/components/groups/group-extension-length.js
Due: js

5.2.2
  package.json
Due: other

setQueryData implemented
  src/components/groups/group-extension-length.js
Due: js

5.2.3
  package.json
Due: other

moved user-intercept to react-query
  src/components/users/user-intercept.js
Due: js

user-service list fixes
  src/components/users/user-service-routes.js
Due: js

Path conditions:
  js: any of: *.{js,ts}
  other: any of: *.{css,sass,scss,md,mdx,json,html,yml,yaml}
