Repository voipxp/testing: changes, and which lefthook commands are due for each by the changed paths.
All: js, other

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    js:
      glob: '*.{js,ts}'
      run: prettier --write {staged_files} && eslint --fix {staged_files}
    other:
      glob: '*.{css,sass,scss,md,mdx,json,html,yml,yaml}'
      run: prettier --write {staged_files}
pre-push:
  commands:
    audit:
      tags: audit
      run: yarn audit

reverted code back to original
  src/components/audits/audit.js
Due: js

Fixed issue: Issue in Audits(No Odin System is showing in the list items) #329
  src/components/audits/audit.js
Due: js

Fixes for : 1. Cant unselect/select several options. SIPT clone #315 2. Can we add the name of the enterprise on each CSV file ? #314
  src/components/bulk/bulk-enterprise-clone/bulk-clone-options.js
  src/components/bulk/bulk-group-clone/bulk-clone-group-all-control.js
  src/components/bulk/bulk-sip-trunking-upload/bulk-import-upload.js
  src/components/bulk/service/bulk-import-storage.js
Due: js

SIP trunk password (auto-generate) doesnt comply with BW rules. (bulk tool) #313
  src/components/bulk/bulk-sip-trunking/bulk-sip-trunking-trunk-groups.js
Due: js

SIP trunk password (auto-generate) doesnt comply with BW rules. (bulk tool) #313
  src/components/groups/group-trunk-groups-call-capacity.js
Due: js

Fixes for : 343 : cleanup the email config page to not show that password #343 350 - Number Activation not working for Group Level Admin #350
  src/angular/branding/components/branding-email/index.html
  src/angular/branding/components/branding-email/index.js
  src/components/groups/group-dashboard-menu.js
Due: js, other

Number Activation not working for Group Level Admin #350
  src/angular/group/components/group-numbers/index.html
  src/angular/group/components/group-numbers/index.js
Due: js, other

350 - Number Activation not working for Group Level Admin #350
  src/angular/group/components/group-numbers/index.html
  src/angular/group/components/group-numbers/index.js
Due: js, other

Assign numbers on group level admin, permit acc to policy
  src/angular/group/components/group-numbers/index.html
  src/angular/group/components/group-numbers/index.js
Due: js, other

Auto Attendant Management Missing #348
  src/components/departments/department-dashboard-menu.js
Due: js

added routing profile to group menu
  src/angular/group/components/group-routing-profile/index.html
  src/components/groups/group-dashboard-menu.js
Due: js, other

Fixes for : VDM showing up and not in branding #334 Auto Attendant Management Missing #348
  src/components/departments/department-dashboard-menu.js
  src/components/departments/department-dashboard.js
  src/components/system/system-dashboard-menu.js
Due: js

added service provider routing profile
  src/angular/api/services/service-providers/index.js
  src/angular/api/services/service-providers/service-provider-routing-profile-service.js
  src/angular/service-provider/components/index.js
  src/angular/service-provider/components/service-provider-routing-profile/index.html
  src/angular/service-provider/components/service-provider-routing-profile/index.js
  src/components/groups/group-dashboard-menu.js
  src/components/service-provider/service-provider-dashboard-menu.js
Due: js, other

added hoteling guest quick set
  src/angular/user/components/index.js
  src/angular/user/components/user-hoteling-guest-quick-set/index.html
  src/angular/user/components/user-hoteling-guest-quick-set/index.js
  src/angular/user/components/user-hoteling-guest/index.html
  src/angular/user/components/user-hoteling-guest/index.js
  src/angular/user/components/user-quick-set/index.html
  src/angular/user/components/user-quick-set/index.js
Due: js, other

Feature Quick Set Addition #185
  src/angular/group/components/group-voice-messaging-user/index.html
  src/angular/user/components/user-quick-set/index.html
  src/angular/user/components/user-quick-set/index.js
  src/angular/user/components/user-voice-messaging/index.html
  src/angular/user/components/user-voice-messaging/index.js
  src/components/users/user-dashboard-menu.js
Due: js, other

name camel case
  src/angular/user/components/user-voice-messaging/index.html
Due: other

Fixes for : Branding Not Working #332
  src/components/groups/group-service-routes.js
  src/components/groups/group-service-settings.js
Due: js

call forwading no number
  src/angular/user/components/user-voice-messaging/index.html
Due: other

test upload
  README.md
  src/angular/user/components/user-quick-set/index.html
Due: other

Left Navigation Menu #358
  src/components/ui/ui-menu.js
Due: js

Group Call Pickup missing menu plus breadcrumb navigation is wrong #312
  src/angular/group/components/group-call-pickup/index.html
  src/angular/group/components/group-call-pickup/index.js
  src/angular/group/components/group-call-pickups/index.js
  src/components/app/app-breadcrumb.js
  src/components/app/app-help.js
  src/components/app/app-new-password.js
  src/components/app/app-reset-password.js
  src/components/app/index.js
  src/components/app/routes.js
  src/components/groups/group-service-settings.js
  src/components/groups/service-settings/group-call-pickup.js
  src/components/imports/import.js
  src/components/imports/imports.js
Due: js, other

Group Call Pickup missing menu plus breadcrumb navigation is wrong #312
  src/angular/group/components/group-call-pickup/index.js
  src/components/groups/group-service-routes.js
Due: js

Added help section on group services
  src/angular/group/components/group-call-pickup/index.js
  src/angular/group/components/group-call-pickups/index.html
  src/angular/group/components/group-call-pickups/index.js
  src/angular/ui/components/index.js
  src/angular/ui/components/pbs-block/index.html
  src/angular/ui/components/pbs-help/index.css
  src/angular/ui/components/pbs-help/index.html
  src/angular/ui/components/pbs-help/index.js
  src/components/app/app-breadcrumb.js
  src/components/app/app-help.js
Due: js, other

Group Call Pickup missing menu plus breadcrumb navigation is wrong #312 And Help icon for Group Services
  src/angular/group/components/group-auto-attendants/index.html
  src/angular/group/components/group-call-centers/index.html
  src/angular/group/components/group-call-park-details/index.html
  src/angular/group/components/group-call-park-details/index.js
  src/angular/group/components/group-call-pickups/index.html
  src/angular/group/components/group-collaborate-bridge/index.html
  src/angular/group/components/group-collaborate/index.html
  src/angular/group/components/group-collaborate/index.js
  src/angular/group/components/group-flexible-seating-hosts/index.html
  src/angular/group/components/group-hunt-groups/index.html
  src/angular/group/components/group-meet-me-ports/index.html
  src/angular/group/components/group-meet-me-ports/index.js
  src/angular/group/components/group-music-on-hold-index/index.html
  src/angular/group/components/group-music-on-hold-index/index.js
  src/angular/group/components/group-music-on-hold-settings/index.js
  src/angular/group/components/group-music-on-hold/index.html
  src/angular/group/components/group-night-forwarding/index.html
  src/angular/group/components/group-night-forwarding/index.js
  src/angular/group/components/group-paging-groups-list/index.html
  src/angular/group/components/group-trunk-group-trunk-groups/index.html
  src/angular/group/components/group-virtual-on-net-enterprise-extensions/index.html
  src/angular/group/components/group-virtual-on-net-enterprise-extensions/index.js
  src/angular/group/components/group-voice-messaging/index.html
  src/angular/group/components/group-voice-messaging/index.js
  src/angular/ui/components/pbs-block/index.html
  src/angular/ui/components/pbs-block/index.js
  src/components/app/routes.js
  src/components/groups/group-series-completion.js
  src/components/groups/service-settings/group-collaborate.js
  src/components/groups/service-settings/group-music-on-hold.js
  src/components/ui/ui-card.js
Due: js, other

fixed always Redirect To Voice Mail for User Call handling
  src/angular/user/components/user-quick-set/index.html
  src/angular/user/components/user-voice-messaging/index.html
Due: other

domains feature #193
  src/api/groups/domains.js
  src/api/service-providers/service-provider-assign-domains-service.js
  src/api/system/system-domain-service.js
  src/components/groups/group-assign-domains.js
  src/components/groups/group-dashboard-menu.js
  src/components/service-provider/service-provider-assign-domains.js
  src/components/service-provider/service-provider-dashboard-menu.js
  src/components/system/system-dashboard-menu.js
  src/components/system/system-domains.js
Due: js

Update Device profile from dialog/Flyout #244
  src/components/app/routes.js
  src/components/groups/group-dashboard-menu.js
  src/components/groups/group-device/index.js
  src/components/groups/group-device/update-device.js
  src/components/groups/group-devices/group-devices.js
  src/components/groups/group-devices/index.js
Due: js

removed N/A from hoteling guest from call handeling
  src/angular/user/components/user-hoteling-guest/index.html
Due: other

grp assign domains #193
  src/components/groups/group-dashboard-menu.js
  src/components/system/system-domains.js
Due: js

fixes #193
  src/components/service-provider/service-provider-assign-domains.js
  src/components/system/system-domains.js
Due: js

changes
  src/components/service-provider/service-provider-assign-domains.js
Due: js

load changes modal when update domains
  src/components/service-provider/service-provider-assign-domains.js
Due: js

Rename the Menu Item Assign Domain on Group Level into "Domains" #193
  src/components/groups/group-dashboard-menu.js
Due: js

removed aim for service provider and enterprise dashboard
  src/components/service-provider/service-provider-dashboard-menu.js
Due: js

fixed module permission for group provisioning
  src/components/groups/group-dashboard-menu.js
Due: js

added module permission group call processing policy
  src/components/groups/group-dashboard-menu.js
Due: js

Quick Device update on group level
  src/components/groups/group-device/update-device.js
  src/components/groups/group-devices/group-select-devices.js
Due: js

Removed yarn lint warnings
  src/components/groups/group-devices/group-select-devices.js
Due: js

fixes #335
  src/angular/group/components/group-auto-attendants/index.html
  src/angular/group/components/group-auto-attendants/index.js
Due: js, other
