Repository voipxp/testing: changes, and which lefthook commands are due for each by the changed paths.
All: js, other

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    js:
      glob: '*.{js,ts}'
      run: prettier --write {staged_files} && eslint --fix {staged_files}
    other:
      glob: '*.{css,sass,scss,md,mdx,json,html,yml,yaml}'
      run: prettier --write {staged_files}
pre-push:
  commands:
    audit:
      tags: audit
      run: yarn audit

Fix: Bulk user create was missing phoneNumber and extension fields on CSV download when "left blank" was selected in the wizard
  src/angular/bulk/components/bulk-import/index.js
  src/angular/bulk/components/bulk-user-create/index.js
Due: js

update deps
  yarn.lock
Due: none

set apollo to be immutable
  src/angular/api/services/groups/group-service.js
  src/angular/api/services/users/user-service.js
  src/angular/group/components/group-users-panel/index.js
  src/angular/service-provider/components/service-provider-groups-panel/index.js
  src/angular/system/components/service-providers-panel/index.js
  src/apollo.js
  src/components/service-provider-select.js
  src/graphql/user-intercept.js
Due: js

service provider bulk dn assignment
  src/angular/group/components/group-numbers/index.html
  src/angular/group/components/group-numbers/index.js
  src/angular/service-provider/components/service-provider-numbers/index.html
  src/angular/service-provider/components/service-provider-numbers/index.js
Due: js, other

deps
  package.json
  yarn.lock
Due: other

init take on user schedules in angular
  src/angular/api/services/users/index.js
  src/angular/api/services/users/user-event-service.js
  src/angular/api/services/users/user-schedule-service.js
  src/angular/user/components/index.js
  src/angular/user/components/user-schedule-events/index.html
  src/angular/user/components/user-schedule-events/index.js
  src/angular/user/components/user-schedule/index.html
  src/angular/user/components/user-schedule/index.js
  src/angular/user/components/user-schedules/index.html
  src/angular/user/components/user-schedules/index.js
  src/components/users/user-dashboard-menu.js
Due: js, other

template for ui-rrule-select
  src/components/ui/ui-rrule-select.js
Due: js

added event logic when seleting an event
  src/angular/api/services/users/user-schedule-service.js
  src/angular/user/components/user-schedule-events/index.html
  src/angular/user/components/user-schedule-events/index.js
  src/angular/user/components/user-schedules/index.html
  src/angular/user/components/user-schedules/index.js
Due: js, other

user schedules complete
  src/angular/user/components/user-schedule-events/index.js
  src/angular/user/components/user-schedules/index.html
  src/angular/user/components/user-schedules/index.js
Due: js, other

schedules added
  src/angular/user/components/user-schedule-events/index.js
Due: js

add configuration to send the user token to webhooks
  src/angular/settings/components/odin-settings-webhooks/index.html
Due: other

clear redux store on logout
  src/store/alerts.js
  src/store/service-providers.js
  src/store/user-assigned-services.js
  src/store/user-intercept.js
  src/store/user-registration.js
  src/store/user-services.js
  src/store/user-speed-dial-8.js
  src/store/user-viewable-services.js
  src/store/user.js
Due: js

4.7.0
  package.json
Due: other

notes
  lefthook.yml
Due: other

fix user schedule with an extra breadcrumb
  src/angular/user/components/user-schedule/index.html
  src/angular/user/components/user-schedules/index.html
Due: other

4.7.1
  package.json
Due: other

upgrade deps
  package.json
  yarn.lock
Due: other

reset store on logout
  src/apollo.js
  src/graphql/session.js
Due: js

notes
  src/apollo.js
  src/graphql/session.js
Due: js

Initial user services
  src/angular/api/services/users/user-service-service.js
  src/angular/common/components/virtual-user-menu/index.html
  src/angular/user/components/index.js
  src/angular/user/components/user-service-packs/index.html
  src/angular/user/components/user-service-packs/index.js
  src/components/users/user-dashboard-menu.js
  src/graphql/user-services.js
Due: js, other

Remove user services from store.
  src/angular/group/components/group-anonymous-call-rejection/index.js
  src/angular/group/components/group-automatic-callback/index.js
  src/angular/group/components/group-flexible-seating-hosts/index.js
  src/angular/group/components/group-users/index.js
  src/components/users/user-dashboard.js
  src/store/index.js
  src/store/user-services.js
  src/utils/module.js
  src/utils/user-services.js
Due: js

pain in butt
  src/angular/common/services/module.js
  src/angular/group/components/group-meet-me-bridge-users/index.js
  src/components/angular-component.js
Due: js

move custom hook usage to a namespaced format, easier to reason about
  src/angular/common/components/virtual-user-menu/index.js
  src/components/app/app-breadcrumb.js
  src/components/app/app-navbar.js
  src/components/app/app-routes.js
  src/components/system-dn-search.js
  src/components/users/user-dashboard.js
  src/components/users/user-service-settings.js
  src/utils/module.js
  src/utils/user-services.js
Due: js

Namespace Alert, and Loading
  src/components/app/app-login.js
  src/components/app/app-navbar.js
  src/components/app/app-timer.js
  src/components/group-search.js
  src/components/groups/group-communication-barring.js
  src/components/groups/group-speed-dial-8.js
  src/components/service-provider-select.js
  src/components/system-dn-search.js
  src/components/user-search.js
  src/components/user-service-search.js
  src/components/users/user-alternate-user-id.js
  src/components/users/user-intercept.js
  src/components/users/user-registration.js
  src/components/users/user-speed-dial-8.js
  src/utils/alerts.js
  src/utils/loading.js
Due: js

more angular component module updates
  src/components/angular-component.js
Due: js

maked named exports
  src/angular/ui/services/notification.js
  src/angular/ui/services/spinner.js
  src/components/app/app-login.js
  src/components/app/app-navbar.js
  src/components/app/app-timer.js
  src/components/group-search.js
  src/components/groups/group-communication-barring.js
  src/components/groups/group-speed-dial-8.js
  src/components/service-provider-select.js
  src/components/system-dn-search.js
  src/components/user-search.js
  src/components/user-service-search.js
  src/components/users/user-alternate-user-id.js
  src/components/users/user-intercept.js
  src/components/users/user-registration.js
  src/components/users/user-speed-dial-8.js
  src/utils/alerts.js
  src/utils/loading.js
Due: js

Namespace
  src/angular/ui/services/notification.js
  src/angular/ui/services/spinner.js
  src/components/app/app-alerts.js
  src/components/app/app-loading-modal.js
  src/components/app/app-login.js
  src/components/app/app-navbar.js
  src/components/app/app-timer.js
  src/components/group-search.js
  src/components/groups/group-communication-barring.js
  src/components/groups/group-speed-dial-8.js
  src/components/service-provider-select.js
  src/components/system-dn-search.js
  src/components/user-search.js
  src/components/user-service-search.js
  src/components/users/user-alternate-user-id.js
  src/components/users/user-intercept.js
  src/components/users/user-registration.js
  src/components/users/user-speed-dial-8.js
Due: js

fixes
  src/components/service-provider-select.js
  src/utils/index.js
Due: js

more namespacing
  src/components/app/app-navbar.js
  src/components/system-dn-search.js
  src/utils/acl.js
  src/utils/index.js
  src/utils/loading.js
  src/utils/route.js
Due: js

user services
  src/angular/api/services/users/user-service-service.js
  src/angular/user/components/user-service-packs/index.js
  src/angular/user/components/user-services/index.js
  src/graphql/user-services.js
Due: js

eslint fixes
  package.json
  src/angular/bulk/components/bulk-user-move/index.js
  src/components/groups/group-communication-barring.js
  yarn.lock
Due: js, other

user registrations to graphql
  GRAPHQL-NOTES.md
  TODO.md
  src/components/users/user-registration.js
  src/graphql/index.js
  src/graphql/user-registrations.js
  src/store/index.js
  src/store/user-registration.js
Due: js, other

initial user speed dial 8
  src/angular/api/services/users/user-service-service.js
  src/components/users/user-speed-dial-8.js
  src/graphql/index.js
  src/graphql/user-intercept.js
  src/graphql/user-speed-dial-8.js
  src/store/user-speed-dial-8.js
Due: js

notes
  GRAPHQL-NOTES.md
Due: other

Added bulk speed dial 8 and removed redux
  GRAPHQL-NOTES.md
  package.json
  src/angular/config.js
  src/angular/index.js
  src/angular/ui/services/notification.js
  src/angular/user/services/user-permission-service.js
  src/components/groups/group-speed-dial-8.js
  src/graphql/user-speed-dial-8.js
  src/root.js
  src/store/hooks.js
  src/store/index.js
  src/store/user-speed-dial-8.js
  yarn.lock
Due: js, other

cleanup unused code - add notes
  GRAPHQL-NOTES.md
  src/angular/api/services/users/user-service-service.js
  src/angular/common/services/session.js
  src/angular/user/services/user-permission-service.js
  src/graphql/user-intercept.js
  src/graphql/user-speed-dial-8.js
Due: js, other

added reseller add
  src/angular/system/components/system-dashboard/index.js
  src/api/resellers/index.js
  src/components/app/app-footer.js
  src/components/app/routes.js
  src/components/system/resellers.js
  src/components/ui/ui-panel.js
Due: js
