Repository voipxp/testing: changes, and which lefthook commands are due for each by the changed paths.
All: js, other

js:
  run: prettier --write {staged_files} && eslint --fix {staged_files}

other:
  run: prettier --write {staged_files}

user-services list fixes
  src/components/users/user-service-routes.js
Due: js

Issue fixes #126
  src/angular/api/services/users/index.js
  src/angular/api/services/users/user-change-passwords-service.js
  src/angular/app/components/admin-account/index.js
  src/angular/department/components/department-password/index.html
  src/angular/department/components/department-password/index.js
  src/angular/group/components/group-admins/index.js
  src/angular/user/components/user-password/index.js
Due: js, other

Issue fixes #126
  src/angular/group/components/group-admins/index.js
Due: js

issue fixes #126
  src/angular/department/components/department-password/index.js
Due: js

issue fixes #126
  src/angular/app/components/admin-account/index.js
Due: js

Issue fixes #126
  src/angular/app/components/admin-account/index.js
  src/angular/department/components/department-password/index.js
Due: js

5.2.4
  package.json
Due: other

#issue fixes user service setting #128
  src/components/users/service-settings/user-barge-in-exempt.js
  src/components/users/service-settings/user-call-recording.js
  src/components/users/service-settings/user-call-transfer.js
Due: js

User service setting Connected Line Identification Restriction #128
  src/api/user-services-settings/user-connected-line-identification-restriction-service.js
  src/components/users/service-settings/user-connected-line-identification-restriction.js
  src/components/users/user-service-routes.js
Due: js

User service setting Directed Call Pickup with Barge-in #128
  src/api/user-services-settings/user-directed-call-pickup-with-barge-in-service.js
  src/components/users/service-settings/user-directed-call-pickup-with-barge-in.js
  src/components/users/user-service-routes.js
Due: js

user service setting loading and set data #128
  src/components/users/service-settings/user-advice-of-charge.js
  src/components/users/service-settings/user-anonymous-call-rejection.js
  src/components/users/service-settings/user-automatic-callback.js
  src/components/users/service-settings/user-automatic-hold-retrieve.js
  src/components/users/service-settings/user-barge-in-exempt.js
  src/components/users/service-settings/user-broadworks-mobility.js
  src/components/users/service-settings/user-call-forwarding-always-secondary.js
  src/components/users/service-settings/user-call-forwarding-always.js
  src/components/users/service-settings/user-call-forwarding-busy.js
  src/components/users/service-settings/user-call-forwarding-no-answer.js
  src/components/users/service-settings/user-call-forwarding-not-reachable.js
  src/components/users/service-settings/user-call-recording.js
  src/components/users/service-settings/user-call-transfer.js
  src/components/users/service-settings/user-call-waiting.js
  src/components/users/service-settings/user-calling-line-id-delivery-blocking.js
  src/components/users/service-settings/user-calling-name-delivery.js
  src/components/users/service-settings/user-calling-name-retrieval.js
  src/components/users/service-settings/user-calling-number-delivery.js
  src/components/users/service-settings/user-connected-line-identification-restriction.js
  src/components/users/service-settings/user-directed-call-pickup-with-barge-in.js
  src/components/users/service-settings/user-do-not-disturb.js
  src/components/users/service-settings/user-external-calling-line-id-delivery.js
  src/components/users/service-settings/user-group-night-forwarding.js
Due: js

User Service Setting #128
  src/api/user-services-settings/user-anonymous-call-rejection-service.js
Due: js

Issue fixes call center changePassword #117
  src/angular/common/components/service-instance-profile/index.js
Due: js

Fixes Odin stacked : Group Search for creating an Audit(If enter two or less char in search bar) #146
  src/components/group-search.js
Due: js

removed log message
  src/components/users/user-intercept.js
Due: js

fixed spelling Deparment to Department
  src/angular/group/components/group-call-processing-policy/index.html
Due: other

5.3.0
  package.json
Due: other

fixed Department Name
  src/angular/group/components/group-call-processing-policy/index.html
Due: other

5.3.1
  package.json
Due: other

Fixes : Clicking on Sorting icon-Audit Table, redirect admin to Enterprise Dashboard. #147
  src/components/ui/ui-data-table.js
Due: js

fixes user-services configuration #141
  src/components/users/service-settings/user-advice-of-charge.js
  src/components/users/service-settings/user-anonymous-call-rejection.js
  src/components/users/service-settings/user-automatic-callback.js
  src/components/users/service-settings/user-automatic-hold-retrieve.js
  src/components/users/service-settings/user-barge-in-exempt.js
  src/components/users/service-settings/user-call-forwarding-always-secondary.js
  src/components/users/service-settings/user-call-forwarding-always.js
  src/components/users/service-settings/user-call-forwarding-busy.js
  src/components/users/service-settings/user-call-forwarding-no-answer.js
  src/components/users/service-settings/user-call-forwarding-not-reachable.js
  src/components/users/service-settings/user-call-transfer.js
  src/components/users/service-settings/user-call-waiting.js
  src/components/users/service-settings/user-calling-line-id-delivery-blocking.js
  src/components/users/service-settings/user-calling-name-delivery.js
  src/components/users/service-settings/user-calling-name-retrieval.js
  src/components/users/service-settings/user-calling-number-delivery.js
Due: js

5.3.2
  package.json
Due: other

serviceName for service packs is now alias
  src/angular/service-provider/components/service-provider-service-pack/index.html
Due: other

5.3.3
  package.json
Due: other

5.3.4
  package.json
Due: other

user-service-setting-configuration phase3 old code work #128
  src/api/user-services-settings/user-authentication-service.js
  src/api/user-services-settings/user-hoteling-host-service.js
  src/api/user-services-settings/user-integrated-imp-service.js
  src/api/user-services-settings/user-internal-calling-line-id-delivery-service.js
  src/api/user-services-settings/user-music-on-hold-service.js
  src/api/user-services-settings/user-outlook-integration-service.js
  src/api/user-services-settings/user-remote-office-service.js
  src/components/users/service-settings/user-authentication.js
  src/components/users/service-settings/user-hoteling-host.js
  src/components/users/service-settings/user-integrated-imp.js
  src/components/users/service-settings/user-internal-calling-line-id-delivery.js
  src/components/users/service-settings/user-music-on-hold.js
  src/components/users/service-settings/user-outlook-integration.js
  src/components/users/service-settings/user-remote-office.js
  src/components/users/user-service-routes.js
Due: js

Issue fixes #148
  src/angular/api/services/groups/group-assign-number-service.js
  src/angular/api/services/groups/group-number-service.js
  src/angular/api/services/groups/index.js
  src/angular/group/components/group-assign-numbers/index.html
  src/angular/group/components/group-assign-numbers/index.js
  src/angular/group/components/group-dashboard/index.js
  src/angular/group/components/group-numbers/index.html
  src/angular/group/components/group-numbers/index.js
  src/angular/group/components/index.js
  src/angular/service-provider/components/service-provider-numbers/index.html
  src/components/app/routes.js
Due: js, other

issue fixes #148 feature
  src/api/groups/numbers.js
  src/components/app/routes.js
  src/components/groups/group-numbers.js
  src/components/groups/index.js
Due: js

Fixes #148
  src/components/groups/group-numbers.js
Due: js

5.3.5
  package.json
Due: other

5.3.6
  package.json
Due: other

Issue changes done #128
  src/api/groups/numbers.js
  src/components/groups/group-numbers.js
Due: js

Not required file deleted #148
  src/angular/api/services/groups/group-assign-number-service.js
  src/angular/api/services/groups/group-number-service.js
  src/angular/api/services/groups/index.js
  src/angular/group/components/group-assign-numbers/index.html
  src/angular/group/components/group-assign-numbers/index.js
  src/angular/group/components/group-numbers/index.html
  src/angular/group/components/group-numbers/index.js
  src/angular/group/components/index.js
Due: js, other

Issue fixes #148
  src/angular/group/components/group-numbers/index.js
  src/components/app/routes.js
Due: js

Fixes #148
  src/angular/service-provider/components/service-provider-numbers/index.html
Due: other

User service setting phase1
  src/api/user-services-settings/user-advice-of-charge-service.js
  src/api/user-services-settings/user-authentication-service.js
  src/api/user-services-settings/user-automatic-hold-retrieve-service.js
  src/api/user-services-settings/user-broad-works-mobility-service.js
  src/api/user-services-settings/user-call-recording-service.js
  src/api/user-services-settings/user-call-transfer-service.js
  src/api/user-services-settings/user-connected-line-identification-restriction-service.js
  src/api/user-services-settings/user-directed-call-pickup-with-barge-in-service.js
  src/api/user-services-settings/user-do-not-disturb-service.js
  src/api/user-services-settings/user-external-calling-line-id-delivery-service.js
  src/api/user-services-settings/user-group-night-forwarding-service.js
  src/api/user-services-settings/user-hoteling-host-service.js
  src/api/user-services-settings/user-integrated-imp-service.js
  src/api/user-services-settings/user-internal-calling-line-id-delivery-service.js
  src/api/user-services-settings/user-music-on-hold-service.js
  src/api/user-services-settings/user-outlook-integration-service.js
  src/api/user-services-settings/user-remote-office-service.js
  src/components/users/service-settings/user-advice-of-charge.js
  src/components/users/service-settings/user-anonymous-call-rejection.js
  src/components/users/service-settings/user-authentication.js
  src/components/users/service-settings/user-automatic-hold-retrieve.js
  src/components/users/service-settings/user-broadworks-mobility.js
  src/components/users/service-settings/user-call-recording.js
  src/components/users/service-settings/user-call-transfer.js
  src/components/users/service-settings/user-connected-line-identification-restriction.js
  src/components/users/service-settings/user-directed-call-pickup-with-barge-in.js
  src/components/users/service-settings/user-do-not-disturb.js
  src/components/users/service-settings/user-external-calling-line-id-delivery.js
  src/components/users/service-settings/user-group-night-forwarding.js
  src/components/users/service-settings/user-hoteling-host.js
  src/components/users/service-settings/user-integrated-imp.js
  src/components/users/service-settings/user-internal-calling-line-id-delivery.js
  src/components/users/service-settings/user-music-on-hold.js
  src/components/users/service-settings/user-outlook-integration.js
  src/components/users/service-settings/user-remote-office.js
  src/components/users/user-service-routes.js
Due: js

User-service setting changes #141
  src/api/user-services-settings/user-automatic-hold-retrieve-service.js
Due: js

User service setting phase1 changes
  src/api/user-services-settings/user-call-transfer-service.js
Due: js

User service changes phase1
  src/components/users/service-settings/index.js
Due: js

User service setting fixes
  src/api/user-services-settings/user-call-forwarding-no-answer-service.js
  src/components/users/service-settings/user-call-forwarding-no-answer.js
Due: js

Path conditions:
  js: any of: *.{js,ts}
  other: any of: *.{css,sass,scss,md,mdx,json,html,yml,yaml}
