Repository voipxp/testing: changes, and which lefthook commands are due for each by the changed paths.
All: js, other

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    js:
      glob: '*.{js,ts}'
      run: prettier --write {staged_files} && eslint --fix {staged_files}
    other:
      glob: '*.{css,sass,scss,md,mdx,json,html,yml,yaml}'
      run: prettier --write {staged_files}
pre-push:
  commands:
    audit:
      tags: audit
      run: yarn audit

changes
  src/components/app/routes.js
  src/components/groups/group-communication-routes.js
  src/components/groups/group-dashboard-menu.js
  src/components/groups/group-phone-list-with-directory-routes.js
  src/components/groups/group-web-policy.js
  src/components/service-provider/service-provider-dashboard-menu.js
Due: js

Lint warning issue fixes
  src/components/bulk/bulk-sip-trunking/bulk-sip-trunking.js
Due: js

enterprise dashboard whole fixes
  src/angular/service-provider/components/service-packs/index.html
  src/angular/service-provider/components/service-provider-numbers/index.html
  src/angular/service-provider/components/service-provider-services-packs/index.html
  src/angular/service-provider/components/service-provider-trunk-groups-call-capacity-report/index.html
  src/angular/service-provider/components/service-provider-trunk-groups-call-capacity-report/index.js
  src/angular/settings/components/odin-settings/index.html
  src/components/app/routes.js
  src/components/service-provider/service-provider-report-routes.js
Due: js, other

enterprise dashboard changes
  src/angular/branding/components/branding-hostname/index.html
  src/angular/branding/components/branding-hostname/index.js
  src/angular/branding/components/branding-hostnames/index.js
Due: js, other

changes
  src/components/groups/group-provisioning-routes.js
Due: js

SIP Trunking warning
  src/components/bulk/bulk-select-group-services.js
  src/components/bulk/bulk-select-numbers.js
Due: js

group report changes
  src/angular/group/components/group-trunk-group/index.js
  src/angular/service-provider/components/service-provider-trunk-groups-call-capacity-report/index.html
  src/angular/service-provider/components/service-provider-trunk-groups-call-capacity-report/index.js
Due: js, other

group vdm fixes
  src/angular/vdm/components/vdm-template/index.js
  src/components/groups/group-dashboard-menu.js
Due: js

Update app-reset-password
  src/components/app/app-reset-password.js
Due: js

Lint warnings fixes
  src/components/bulk/bulk-import.js
  src/components/bulk/bulk-sip-trunking-upload/bulk-import-upload.js
  src/components/bulk/bulk-sip-trunking-upload/bulk-sip-trunking-auth-wiz-task.js
  src/components/bulk/bulk-sip-trunking-upload/bulk-sip-trunking-upload-dashboard-menu.js
  src/components/bulk/bulk-sip-trunking-upload/bulk-sip-trunking-upload-task.js
  src/components/bulk/bulk-sip-trunking-upload/bulk-sip-trunking-upload.js
  src/components/bulk/bulk-wiz-menu.js
  src/components/bulk/service/bulk-upload-csv.js
Due: js

SIP Trunking
  src/angular/bulk/components/bulk-import/index.js
  src/components/audits/audit.js
  src/components/bulk/bulk-add-numbers.js
  src/components/bulk/bulk-create-user.js
  src/components/bulk/bulk-enterprise-clone/bulk-clone-options.js
  src/components/bulk/bulk-import.js
  src/components/bulk/bulk-select-group-services.js
  src/components/bulk/bulk-select-numbers.js
  src/components/bulk/bulk-select-user-id.js
  src/components/bulk/bulk-sip-trunking-upload/bulk-import-upload.js
  src/components/bulk/bulk-sip-trunking-upload/bulk-sip-trunking-auth-wiz-task.js
  src/components/bulk/bulk-sip-trunking-upload/bulk-sip-trunking-upload-dashboard-menu.js
  src/components/bulk/bulk-sip-trunking-upload/bulk-sip-trunking-upload-task.js
  src/components/bulk/bulk-sip-trunking-upload/bulk-sip-trunking-upload.js
  src/components/bulk/bulk-sip-trunking/bulk-sip-service-provider.js
  src/components/bulk/bulk-sip-trunking/bulk-sip-trunking-authentication.js
  src/components/bulk/bulk-sip-trunking/bulk-sip-trunking-devices.js
  src/components/bulk/bulk-sip-trunking/bulk-sip-trunking-group-call-capacity.js
  src/components/bulk/bulk-sip-trunking/bulk-sip-trunking-group.js
  src/components/bulk/bulk-sip-trunking/bulk-sip-trunking-numbers.js
  src/components/bulk/bulk-sip-trunking/bulk-sip-trunking-trunk-enterprise.js
  src/components/bulk/bulk-sip-trunking/bulk-sip-trunking-trunk-groups.js
  src/components/bulk/bulk-sip-trunking/bulk-sip-trunking-trunk-pilot-user.js
  src/components/bulk/bulk-sip-trunking/bulk-sip-trunking-users.js
  src/components/bulk/bulk-sip-trunking/bulk-sip-trunking.js
  src/components/bulk/bulk-sip-trunking/tasks/bulk-sip-trunking-user-services-task.js
  src/components/bulk/bulk-wiz-menu.js
  src/components/bulk/service/bulk-import-service.js
  src/components/bulk/service/bulk-upload-csv.js
Due: js

SIP Trunking warning lint
  src/angular/bulk/components/bulk-import/index.js
  src/components/audits/audit.js
  src/components/bulk/bulk-add-numbers.js
  src/components/bulk/bulk-create-user.js
  src/components/bulk/bulk-enterprise-clone/bulk-clone-options.js
  src/components/bulk/bulk-select-group-services.js
  src/components/bulk/bulk-select-numbers.js
  src/components/bulk/bulk-select-user-id.js
  src/components/bulk/bulk-sip-trunking/bulk-sip-service-provider.js
  src/components/bulk/bulk-sip-trunking/bulk-sip-trunking-authentication.js
  src/components/bulk/bulk-sip-trunking/bulk-sip-trunking-devices.js
  src/components/bulk/bulk-sip-trunking/bulk-sip-trunking-group-call-capacity.js
  src/components/bulk/bulk-sip-trunking/bulk-sip-trunking-group.js
  src/components/bulk/bulk-sip-trunking/bulk-sip-trunking-numbers.js
  src/components/bulk/bulk-sip-trunking/bulk-sip-trunking-trunk-enterprise.js
  src/components/bulk/bulk-sip-trunking/bulk-sip-trunking-trunk-groups.js
  src/components/bulk/bulk-sip-trunking/bulk-sip-trunking-trunk-pilot-user.js
  src/components/bulk/bulk-sip-trunking/bulk-sip-trunking-users.js
  src/components/bulk/bulk-sip-trunking/bulk-sip-trunking.js
  src/components/bulk/bulk-sip-trunking/tasks/bulk-sip-trunking-user-services-task.js
  src/components/bulk/service/bulk-import-service.js
Due: js

lint warning issue fixes
  src/components/bulk/bulk-import.js
  src/components/bulk/bulk-sip-trunking-upload/bulk-sip-trunking-auth-wiz-task.js
  src/components/bulk/bulk-sip-trunking-upload/bulk-sip-trunking-upload-task.js
  src/components/bulk/bulk-sip-trunking-upload/bulk-sip-trunking-upload.js
  src/components/bulk/bulk-wiz-menu.js
Due: js

lint warning issue
  src/components/bulk/bulk-import.js
  src/components/bulk/bulk-sip-trunking-upload/bulk-import-upload.js
  src/components/bulk/bulk-sip-trunking-upload/bulk-sip-trunking-auth-wiz-task.js
  src/components/bulk/bulk-sip-trunking-upload/bulk-sip-trunking-upload-task.js
  src/components/bulk/bulk-sip-trunking-upload/bulk-sip-trunking-upload.js
  src/components/bulk/bulk-wiz-menu.js
  src/components/bulk/service/bulk-upload-csv.js
Due: js

SIPT yarn warning issue
  src/components/bulk/bulk-import.js
  src/components/bulk/bulk-sip-trunking-upload/bulk-import-upload.js
  src/components/bulk/bulk-sip-trunking-upload/bulk-sip-trunking-auth-wiz-task.js
  src/components/bulk/bulk-sip-trunking-upload/bulk-sip-trunking-upload-task.js
  src/components/bulk/bulk-sip-trunking-upload/bulk-sip-trunking-upload.js
  src/components/bulk/service/bulk-upload-csv.js
Due: js

SIP Trunking, indentation
  src/components/bulk/bulk-wiz-menu.js
Due: js

breadcrub
  src/components/service-provider/service-provider-dashboard-menu.js
Due: js

group.device.tag.modify rebuild and reset #249. code committed on both angular code and reactJs code
  src/angular/bulk/services/bulk-task-service.js
  src/components/bulk/service/bulk-task-service.js
Due: js

remove missing files
  src/components/groups/group-communication-routes.js
  src/components/groups/group-communication-settings.js
  src/components/groups/group-dashboard-menu.js
  src/components/groups/group-dashboard.js
  src/components/groups/group-departments.js
  src/components/groups/group-phone-list-with-directory-routes.js
  src/components/groups/group-phone-list-with-directory-settings.js
  src/components/groups/group-provisioning-routes.js
  src/components/groups/group-provisioning-settings.js
  src/components/groups/group-report-routes.js
  src/components/groups/group-report-settings.js
  src/components/groups/group-service-routes.js
  src/components/groups/group-service-settings.js
  src/components/groups/group-user-service-routes.js
  src/components/groups/group-user-service-settings.js
  src/components/groups/service-settings/group-auto-attendants.js
  src/components/groups/service-settings/group-call-centers.js
  src/components/groups/service-settings/group-call-park.js
  src/components/groups/service-settings/group-call-pickup.js
  src/components/groups/service-settings/group-collaborate.js
  src/components/groups/service-settings/group-flexible-seating-hosts.js
  src/components/groups/service-settings/group-hunt-groups.js
  src/components/groups/service-settings/group-meet-me.js
  src/components/groups/service-settings/group-music-on-hold.js
  src/components/groups/service-settings/group-night-forwarding.js
  src/components/groups/service-settings/group-paging.js
  src/components/groups/service-settings/group-trunk-groups.js
  src/components/groups/service-settings/group-virtual-on-net-enterprise-extensions.js
  src/components/groups/service-settings/group-voice-messaging.js
  src/components/groups/service-settings/index.js
  src/components/service-provider/service-provider-audit.js
  src/components/service-provider/service-provider-audits.js
  src/components/service-provider/service-provider-dashboard-menu.js
  src/components/service-provider/service-provider-dashboard.js
  src/components/service-provider/service-provider-management-routes.js
  src/components/service-provider/service-provider-management-settings.js
  src/components/service-provider/service-provider-provisioning-routes.js
  src/components/service-provider/service-provider-provisioning-settings.js
  src/components/service-provider/service-provider-report-routes.js
  src/components/service-provider/service-provider-report-settings.js
Due: js

Fixes #193
  src/angular/system/components/system-dashboard/index.js
  src/api/service-providers/service-provider-add-domains-service.js
  src/api/system/domains.js
  src/components/app/routes.js
  src/components/groups/group-series-completion.js
  src/components/service-provider/add-domains.js
  src/components/service-provider/index.js
  src/components/system/index.js
  src/components/system/system-domains.js
Due: js

react query issue
  package.json
  src/components/groups/group-extension-length.js
  src/components/users/service-settings/user-advice-of-charge.js
  src/components/users/service-settings/user-anonymous-call-rejection.js
  src/components/users/service-settings/user-automatic-callback.js
  src/components/users/service-settings/user-automatic-hold-retrieve.js
  src/components/users/service-settings/user-barge-in-exempt.js
  src/components/users/service-settings/user-call-forwarding-always-secondary.js
  src/components/users/service-settings/user-call-forwarding-always.js
  src/components/users/service-settings/user-call-forwarding-busy.js
  src/components/users/service-settings/user-call-forwarding-no-answer.js
  src/components/users/service-settings/user-call-forwarding-not-reachable.js
  src/components/users/service-settings/user-call-recording.js
  src/components/users/service-settings/user-call-transfer.js
  src/components/users/service-settings/user-call-waiting.js
  src/components/users/service-settings/user-calling-line-id-delivery-blocking.js
  src/components/users/service-settings/user-calling-name-delivery.js
  src/components/users/service-settings/user-calling-name-retrieval.js
  src/components/users/service-settings/user-calling-number-delivery.js
  src/components/users/service-settings/user-connected-line-identification-restriction.js
  src/components/users/service-settings/user-directed-call-pickup-with-barge-in.js
  src/components/users/service-settings/user-do-not-disturb.js
  src/components/users/service-settings/user-external-calling-line-id-delivery.js
  src/components/users/service-settings/user-integrated-imp.js
  src/components/users/service-settings/user-internal-calling-line-id-delivery.js
  src/components/users/service-settings/user-music-on-hold.js
  src/components/users/user-intercept.js
  yarn.lock
Due: js, other

domain #193
  src/angular/service-provider/components/service-provider-dashboard/index.js
  src/api/service-providers/service-provider-add-domains-service.js
  src/components/app/routes.js
  src/components/service-provider/add-domains.js
  src/components/system/system-domains.js
Due: js

domain changes
  src/components/service-provider/add-domains.js
Due: js

Domains changes
  src/components/service-provider/add-domains.js
Due: js

Fixes for : shared call appearance report #254
  src/angular/group/components/group-dashboard/index.js
  src/api/groups/shared-call-appearances-report.js
  src/components/app/routes.js
  src/components/groups/index.js
  src/components/groups/shared-call-appearances-report.js
Due: js

System dashboard
  src/angular/events/components/odin-user-login-index/index.js
  src/angular/system/components/service-provider-report/index.js
  src/angular/system/components/system-collaborate/index.html
  src/angular/system/components/system-devices/index.html
  src/angular/system/components/system-dn/index.html
  src/angular/system/components/system-dn/index.js
  src/angular/system/components/system-licensing/index.html
  src/angular/system/components/system-network-class-of-services/index.html
  src/angular/system/components/system-service-pack-utilization-report/index.html
  src/angular/system/components/system-service-utilization-report/index.html
  src/components/app/routes.js
  src/components/system/index.js
  src/components/system/system-audit.js
  src/components/system/system-audits.js
  src/components/system/system-dashboard-menu.js
  src/components/system/system-dashboard.js
  src/components/system/system-management-routes.js
  src/components/system/system-management-settings.js
  src/components/system/system-provisioning-routes.js
  src/components/system/system-provisioning-settings.js
Due: js, other

domain file rename changes
  src/api/service-providers/service-provider-assign-domains-service.js
  src/components/service-provider/assign-domains.js
  src/components/service-provider/index.js
Due: js

system dashbard
  src/angular/branding/components/branding-hostnames/index.js
  src/angular/service-provider/components/service-packs/index.js
  src/angular/service-provider/components/service-provider-service-pack/index.js
  src/angular/service-provider/components/service-provider-trunk-groups-call-capacity-report/index.js
  src/angular/system/components/service-providers/index.js
  src/components/app/routes.js
  src/components/system/system-dashboard.js
  src/components/system/system-provisioning-routes.js
Due: js

System Dashboard
  src/angular/branding/components/branding-hostname/index.js
Due: js

system dashboard chagnes
  src/components/system/system-provisioning-settings.js
Due: js

system dashboard vdm changes
  src/angular/vdm/components/vdm-template/index.js
Due: js

fixes
  src/angular/system/components/service-providers/index.js
  src/components/service-provider/service-provider-provisioning-routes.js
  src/components/system/system-dashboard-menu.js
  src/components/system/system-provisioning-routes.js
  src/components/system/system-report-routes.js
  src/components/system/system-report-settings.js
Due: js

changes
  src/angular/system/components/service-providers/index.html
  src/angular/system/components/service-providers/index.js
  src/components/service-provider/service-provider-dashboard.js
  src/components/system/system-dashboard-menu.js
Due: js, other

fixes done system dashboard
  src/components/system/system-dashboard-menu.js
  src/components/system/system-report-routes.js
Due: js

fixes
  src/angular/system/components/service-providers/index.html
  src/components/system/system-report-routes.js
Due: js, other

fixes
  yarn.lock
Due: none

fixes done
  src/components/groups/group-dashboard.js
  src/components/system/system-dashboard-menu.js
Due: js

Initial commit
  src/angular/api/services/branding/branding-email-service.js
  src/angular/api/services/branding/branding-setting-service.js
  src/angular/api/services/branding/index.js
  src/angular/api/services/ui/index.js
  src/angular/api/services/ui/ui-email-service.js
  src/angular/branding/components/branding-email/index.html
  src/angular/branding/components/branding-email/index.js
  src/angular/branding/components/branding-hostname/index.html
  src/angular/branding/components/index.js
  src/angular/ui/components/pbs-tabs/index.js
  src/api/ui/email.js
  src/store/index.js
  src/store/ui-email.js
Due: js, other

Debugging wait for VoIPXP
  package.json
  src/angular/api/services/branding/branding-email-service.js
  src/angular/api/services/branding/branding-setting-service.js
  src/angular/api/services/ui/ui-email-service.js
  src/angular/api/services/ui/ui-setting-service.js
  src/angular/branding/components/branding-email/index.js
  src/angular/branding/components/branding-hostname/index.html
  src/angular/branding/components/branding-settings/index.js
  src/angular/branding/components/branding-template/index.js
  src/angular/common/components/pbs-module-description/index.js
  src/angular/ui/components/pbs-block/index.js
  src/angular/ui/components/pbs-menu-item/index.js
  src/angular/ui/components/pbs-tabs-tab/index.js
  src/angular/ui/components/pbs-tabs/index.js
  src/angular/ui/directives/pbs-table/index.js
Due: js, other
