Repository voipxp/testing: changes, and which lefthook commands are due for each by the changed paths.
All: js, other

js:
  run: prettier --write {staged_files} && eslint --fix {staged_files}

other:
  run: prettier --write {staged_files}

added user icons
  package.json
  src/angular/user/components/user-broad-works-anywhere-quick-set/index.html
  src/angular/user/components/user-quick-set/index.html
  src/components/ui/ui-menu.js
  src/components/users/user-dashboard-menu.js
  yarn.lock
Due: js, other

fixes clid multiple users
  src/angular/group/components/group-users/index.js
Due: js

domain api
  src/api/service-providers/service-provider-assign-domains-service.js
  src/components/service-provider/assign-domains.js
Due: js

Submenu fixes
  src/components/ui/ui-menu.js
Due: js

domain changes #193
  src/api/groups/domains.js
  src/api/service-providers/service-provider-assign-domains-service.js
  src/api/system/system-domain-service.js
  src/components/groups/group-assign-domains.js
  src/components/groups/group-dashboard-menu.js
  src/components/service-provider/service-provider-assign-domains.js
  src/components/service-provider/service-provider-dashboard-menu.js
  src/components/system/system-dashboard-menu.js
  src/components/system/system-domains.js
Due: js

added padding to icons
  src/angular/user/components/user-broad-works-anywhere-quick-set/index.html
  src/angular/user/components/user-quick-set/index.html
  src/components/ui/ui-menu.js
Due: js, other

domains fixes
  src/angular/group/components/group-dashboard/index.js
  src/angular/service-provider/components/service-provider-dashboard/index.js
  src/api/groups/domains.js
  src/api/service-providers/service-provider-assign-domains-service.js
  src/components/app/routes.js
  src/components/groups/group-assign-domains.js
  src/components/groups/index.js
  src/components/service-provider/index.js
  src/components/service-provider/service-provider-assign-domains.js
  src/components/system/system-domains.js
Due: js

changes
  src/angular/service-provider/components/service-provider-admins/index.html
Due: other

Auto selection service provider and group
  src/components/service-provider/service-provider-dashboard-menu.js
  src/components/system/system-dashboard-menu.js
  src/components/ui/ui-button.js
  src/components/ui/ui-menu.js
Due: js

added user resources to the user quick features
  src/angular/api/services/branding/branding-resource-service.js
  src/angular/api/services/branding/index.js
  src/angular/branding/components/branding-hostname/index.html
  src/angular/branding/components/branding-resources/index.html
  src/angular/branding/components/branding-resources/index.js
  src/angular/branding/components/index.js
  src/angular/user/components/index.js
  src/angular/user/components/user-quick-set/index.html
  src/angular/user/components/user-quick-set/index.js
  src/angular/user/components/user-resources-quick-set/index.html
  src/angular/user/components/user-resources-quick-set/index.js
  src/api/ui/resources.js
  src/store/ui-resources.js
Due: js, other

Added Landing pages to branding template section
  src/angular/branding/components/branding-template/index.html
  src/angular/branding/components/branding-template/index.js
Due: js, other

Delete sp and device is visible for ent admin
  src/components/service-provider/service-provider-dashboard.js
Due: js

SubMenu fixes
  src/components/service-provider/service-provider-dashboard.js
Due: js

added resources
  src/angular/api/services/ui/index.js
  src/angular/api/services/ui/ui-resource-service.js
Due: js

Add User Landing Pages setting to Branding Template
  src/angular/branding/components/branding-template/index.js
  src/components/ui/ui-menu.js
  src/components/users/user-dashboard.js
Due: js

Enterprise and Group Dashboard
  src/angular/bulk/components/bulk-csv/index.html
  src/angular/bulk/components/bulk-dashboard/index.html
  src/angular/bulk/components/bulk-import/index.html
  src/angular/bulk/components/bulk-import/index.js
  src/angular/bulk/components/bulk-tasks-index/index.html
  src/angular/bulk/components/bulk-user-authentication-update/index.html
  src/angular/bulk/components/bulk-user-authentication-update/index.js
  src/angular/bulk/components/bulk-user-create/index.html
  src/angular/bulk/components/bulk-user-create/index.js
  src/angular/bulk/components/bulk-user-delete/index.html
  src/angular/bulk/components/bulk-user-delete/index.js
  src/angular/bulk/components/bulk-user-integrated-imp-update/index.html
  src/angular/bulk/components/bulk-user-integrated-imp-update/index.js
  src/angular/bulk/components/bulk-user-number-update/index.html
  src/angular/bulk/components/bulk-user-number-update/index.js
  src/angular/bulk/components/bulk-user-shared-call-appearance-update/index.html
  src/angular/bulk/components/bulk-user-shared-call-appearance-update/index.js
  src/angular/bulk/components/bulk-user-uc-one-update/index.html
  src/angular/bulk/components/bulk-user-uc-one-update/index.js
  src/components/bulk/bulk-sip-trunking-upload/bulk-sip-trunking-upload.js
  src/components/bulk/bulk-sip-trunking/bulk-sip-trunking.js
  src/components/groups/group-dashboard-menu.js
  src/components/groups/group-dashboard.js
  src/components/groups/group-report-routes.js
  src/components/service-provider/service-provider-dashboard-menu.js
  src/components/ui/ui-menu.js
Due: js, other

grp dashboard sorting
  src/components/groups/group-dashboard-menu.js
Due: js

Update ui-menu.js
  src/components/ui/ui-menu.js
Due: js

landing page default
  src/components/ui/ui-menu.js
Due: js

Fix Add User Landing Pages setting to Branding Template
  src/components/ui/ui-menu.js
Due: js

Menu Bug Fixes and default should open by default
  src/angular/group/components/group-users/index.html
  src/components/groups/group-dashboard-menu.js
  src/components/resellers/reseller-dashboard-menu.js
  src/components/system/system-dashboard-menu.js
  src/components/ui/ui-menu.js
Due: js, other

user -busy lamp field service
  src/api/user-services-settings/user-busy-lamp-field-service.js
  src/components/users/service-settings/user-busy-lamp-field.js
Due: js

subemnu error fixes
  src/components/ui/ui-menu.js
Due: js

sync changes
  src/components/service-provider/index.js
  src/components/system/index.js
  src/components/users/service-settings/index.js
Due: js

user's icons
  src/components/ui/ui-menu.js
Due: js

removed lint warnings
  src/angular/branding/components/branding-template/index.js
  src/components/groups/group-numbers.js
  src/components/groups/group-user-service-settings.js
  src/components/service-provider/service-provider-management-settings.js
  src/components/system/system-management-settings.js
  src/components/system/system-report-settings.js
  src/components/users/user-dashboard.js
Due: js

renamed Export To Migrate
  src/angular/service-provider/components/service-provider-dashboard/index.js
  src/angular/settings/components/odin-settings-exports/index.html
  src/angular/settings/components/odin-settings-exports/index.js
  src/angular/settings/components/odin-settings/index.html
  src/angular/system/components/system-dashboard/index.js
  src/components/audits/audit.js
  src/components/audits/audits.js
  src/components/exports/export.js
  src/components/exports/exports.js
  src/components/imports/imports.js
  src/components/resellers/reseller-dashboard-menu.js
  src/components/service-provider/service-provider-dashboard-menu.js
  src/components/service-provider/service-provider-provisioning-routes.js
  src/components/system/system-dashboard-menu.js
Due: js, other

changed layout of the group menu
  src/components/groups/group-dashboard-menu.js
Due: js

revert branch changes
  src/components/app/routes.js
  src/components/service-provider/index.js
  src/components/system/index.js
Due: js

revert space changes
  src/components/service-provider/index.js
Due: js

revert changes anshu master
  src/api/groups/domains.js
  src/api/service-providers/service-provider-assign-domains-service.js
  src/api/system/domains.js
  src/api/user-services-settings/user-authentication-service.js
  src/api/user-services-settings/user-busy-lamp-field-service.js
  src/api/user-services-settings/user-group-night-forwarding-service.js
  src/api/user-services-settings/user-hoteling-guest-service.js
  src/api/user-services-settings/user-hoteling-host-service.js
  src/api/user-services-settings/user-outlook-integration-service.js
  src/api/user-services-settings/user-remote-office-service.js
  src/components/users/service-settings/index.js
  src/components/users/service-settings/user-authentication.js
  src/components/users/service-settings/user-basic-call-logs.js
  src/components/users/service-settings/user-broad-works-mobility.js
  src/components/users/service-settings/user-busy-lamp-field.js
  src/components/users/service-settings/user-group-night-forwarding.js
  src/components/users/service-settings/user-hoteling-guest.js
  src/components/users/service-settings/user-hoteling-host.js
  src/components/users/service-settings/user-outlook-integration.js
  src/components/users/service-settings/user-remote-office.js
  src/components/users/user-service-routes.js
Due: js

yarn warning fixes
  src/angular/group/components/group-users/index.js
  src/components/groups/group-communication-settings.js
  src/components/system/system-report-settings.js
Due: js

revert merge changes
  src/angular/group/components/group-dashboard/index.js
  src/angular/service-provider/components/service-provider-dashboard/index.js
  src/angular/system/components/system-dashboard/index.js
  src/components/groups/group-assign-domains.js
  src/components/groups/group-series-completion.js
  src/components/groups/index.js
  src/components/service-provider/assign-domains.js
  src/components/service-provider/service-provider-assign-domains.js
  src/components/system/system-domains.js
Due: js

revert changes
  src/angular/group/components/group-users/index.js
  src/api/groups/domains.js
  src/api/service-providers/service-provider-assign-domains-service.js
  src/api/system/system-domain-service.js
  src/components/groups/group-dashboard-menu.js
  src/components/service-provider/service-provider-dashboard-menu.js
  src/components/system/system-dashboard-menu.js
Due: js

fixes #305
  src/angular/group/components/group-users/index.js
Due: js

Fixes for: #305 #306, #308, 307 (#295)
  src/angular/bulk/components/bulk-import/index.js
  src/angular/bulk/components/bulk-task/index.html
  src/angular/bulk/components/bulk-task/index.js
  src/angular/bulk/components/bulk-user-move/index.html
  src/angular/bulk/components/bulk-user-move/index.js
  src/angular/bulk/components/bulk-user-services-update/index.html
  src/angular/bulk/components/bulk-user-services-update/index.js
  src/angular/group/components/group-auto-attendants/index.html
  src/angular/group/components/group-auto-attendants/index.js
  src/angular/group/components/group-call-centers/index.js
  src/angular/group/components/group-flexible-seating-hosts/index.js
  src/angular/group/components/group-hunt-groups/index.js
  src/angular/group/components/group-meet-me-bridges/index.js
  src/angular/group/components/group-music-on-hold-index/index.js
  src/angular/group/components/group-paging-groups-list/index.js
  src/angular/group/components/group-trunk-group-trunk-groups/index.js
Due: js, other

added quick link changes
  src/angular/user/components/user-resources-quick-set/index.html
  src/components/ui/ui-menu.js
  src/components/users/user-dashboard-menu.js
Due: js, other

Path conditions:
  js: any of: *.{js,ts}
  other: any of: *.{css,sass,scss,md,mdx,json,html,yml,yaml}
