Repository voipxp/testing: changes, and which lefthook commands are due for each by the changed paths.
All: js, other

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    js:
      glob: '*.{js,ts}'
      run: prettier --write {staged_files} && eslint --fix {staged_files}
    other:
      glob: '*.{css,sass,scss,md,mdx,json,html,yml,yaml}'
      run: prettier --write {staged_files}
pre-push:
  commands:
    audit:
      tags: audit
      run: yarn audit

system resellers
  src/components/system/system-resellers.js
Due: js

notes
  GRAPHQL-NOTES.md
Due: other

move hooks to utils. decided not to use custom hooks for "most" graphql
  GRAPHQL-NOTES.md
  src/angular/ui/services/notification.js
  src/components/app/app-alerts.js
  src/components/app/app-login.js
  src/components/app/app-navbar.js
  src/components/app/app-timer.js
  src/components/group-search.js
  src/components/groups/group-communication-barring.js
  src/components/groups/group-speed-dial-8.js
  src/components/resellers/reseller-admins.js
  src/components/resellers/reseller-delete.js
  src/components/resellers/reseller-profile.js
  src/components/service-provider-select.js
  src/components/system-dn-search.js
  src/components/system/system-resellers.js
  src/components/tests/tester.js
  src/components/user-search.js
  src/components/user-service-search.js
  src/components/users/user-alternate-user-id.js
  src/components/users/user-intercept.js
  src/components/users/user-registration.js
  src/components/users/user-speed-dial-8.js
  src/graphql/alert.js
  src/graphql/reseller-admin.js
  src/graphql/reseller.js
  src/utils/alert.js
  src/utils/index.js
Due: js, other

move hooks to utils. decided not to use custom hooks for "most" graphql
  src/graphql/reseller-admin.js
Due: js

move session helpers to utils
  src/apollo.js
  src/components/angular-component.js
  src/components/app/app-dashboard.js
  src/components/app/app-footer.js
  src/components/app/app-login.js
  src/components/app/app-navbar.js
  src/components/app/app-timer.js
  src/components/app/app.js
  src/components/group-search.js
  src/components/system-dn-search.js
  src/components/user-search.js
  src/components/user-service-search.js
  src/graphql/session.js
  src/utils/acl.js
  src/utils/index.js
  src/utils/module.js
  src/utils/session.js
  src/utils/user-services.js
Due: js

move session helpers to utils
  src/utils/session.js
Due: js

move useApp helpers to utils
  src/components/app/app-loading-modal.js
  src/components/app/app-login.js
  src/components/groups/group-speed-dial-8.js
  src/components/resellers/reseller-admins.js
  src/components/resellers/reseller-delete.js
  src/components/resellers/reseller-profile.js
  src/components/system/system-resellers.js
  src/components/users/user-alternate-user-id.js
  src/components/users/user-intercept.js
  src/components/users/user-speed-dial-8.js
  src/graphql/app.js
  src/utils/app.js
  src/utils/index.js
Due: js

finish hooks
  src/angular/common/services/module.js
  src/angular/group/components/group-call-center-navigation/index.js
  src/angular/ui/components/pbs-input-file/index.js
  src/components/groups/group-speed-dial-8.js
  src/components/system-dn-search.js
  src/components/user-search.js
  src/components/user-service-search.js
  src/components/users/user-alternate-user-id.js
  src/components/users/user-intercept.js
  src/components/users/user-registration.js
  src/components/users/user-speed-dial-8.js
  src/graphql/user-intercept.js
  src/graphql/user-registrations.js
  src/graphql/user-services.js
  src/graphql/user-speed-dial-8.js
  src/graphql/user.js
  src/utils/user-services.js
Due: js

finish hooks
  src/components/system-dn-search.js
  src/components/user-search.js
  src/components/user-service-search.js
Due: js

format
  src/components/service-provider-select.js
Due: js

add resellers to dashboard
  src/angular/common/services/acl.js
  src/angular/system/components/system-dashboard/index.js
Due: js

cleanup unusaed API
  src/api/service-providers/index.js
  src/api/ui/applications.js
  src/api/ui/modules.js
  src/api/ui/settings.js
  src/api/ui/template.js
  src/api/user-intercept/index.js
  src/api/user-registrations/index.js
  src/api/user-speed-dial-8/index.js
Due: js

user service search to graphql
  src/api/user-services/index.js
  src/components/user-service-search.js
  src/graphql/user-services.js
Due: js

initial user search - still need mac address
  src/components/user-search.js
  src/components/user-service-search.js
  src/graphql/user.js
Due: js

deps
  yarn.lock
Due: none

notes
  GRAPHQL-NOTES.md
  yarn.lock
Due: other

4.10.0
  package.json
Due: other

fix lint rules that prevented builds
  .eslintrc.json
  src/components/group-search.js
  src/components/system-dn-search.js
  src/components/ui/ui-checkbox.js
  src/components/ui/ui-input-checkbox.js
  src/components/user-search.js
  src/components/user-service-search.js
Due: js, other

4.10.1
  package.json
Due: other

re-enable auto tag deployment
  cloudbuild-tag.yaml
Due: other

move back to husky
  lefthook.yml
  package.json
  yarn.lock
Due: other

husky
  package.json
  yarn.lock
Due: other

husky
  .eslintrc.json
  package.json
  src/components/system-dn-search.js
Due: js, other

audit
  package.json
Due: other

move audit to push
  package.json
Due: other

4.10.2
  package.json
Due: other

4.10.3
  package.json
Due: other

move SSO login to initialState load
  src/components/app/app-login.js
  src/store/index.js
  src/store/session.js
Due: js

simplified query string parsing
  src/store/index.js
Due: js

update deps
  yarn.lock
Due: none

4.10.4
  package.json
Due: other

4.10.5
  package.json
Due: other

4.10.6
  package.json
Due: other

4.10.7
  package.json
Due: other

4.10.8
  package.json
Due: other

4.10.9
  package.json
Due: other

remove duplicate raw-loader from deps
  package.json
  yarn.lock
Due: other

add aa to a feature flag "Visual AA Builder"
  src/angular/group/components/group-auto-attendants/index.html
  src/angular/group/components/group-auto-attendants/index.js
  src/angular/ui/components/pbs-button-compact/index.js
  src/components/app/routes.js
Due: js, other
