Repository voipxp/testing: changes, and which lefthook commands are due for each by the changed paths.
All: js, other

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    js:
      glob: '*.{js,ts}'
      run: prettier --write {staged_files} && eslint --fix {staged_files}
    other:
      glob: '*.{css,sass,scss,md,mdx,json,html,yml,yaml}'
      run: prettier --write {staged_files}
pre-push:
  commands:
    audit:
      tags: audit
      run: yarn audit

4.7.2
  package.json
Due: other

remove javascript:void as 16.9 is now warning on it
  src/components/ui/ui-data-table.js
Due: js

finish group-service.js w/ graphql
  GRAPHQL-NOTES.md
  src/angular/api/services/groups/group-service.js
  src/graphql/group.js
  src/graphql/index.js
  src/graphql/service-provider.js
Due: js, other

fix group delete
  src/angular/api/services/groups/group-service.js
  src/angular/service-provider/components/service-provider-groups/index.js
Due: js

update deps
  yarn.lock
Due: none

added reseller panel
  src/angular/api/services/index.js
  src/angular/api/services/resellers/index.js
  src/angular/api/services/resellers/reseller-service.js
  src/angular/system/components/index.js
  src/angular/system/components/reseller-create/index.html
  src/angular/system/components/reseller-create/index.js
  src/angular/system/components/reseller-update/index.html
  src/angular/system/components/reseller-update/index.js
  src/angular/system/components/resellers-panel/index.html
  src/angular/system/components/resellers-panel/index.js
  src/angular/system/components/system-dashboard/index.html
  src/angular/system/components/system-dashboard/index.js
Due: js, other

initial reseller level
  src/angular/api/services/common/route.js
  src/angular/common/services/acl.js
  src/angular/system/components/service-providers/index.html
  src/angular/system/components/service-providers/index.js
  src/angular/ui/components/pbs-navigation/index.html
  src/components/app/app-breadcrumb.js
  src/components/app/app-dashboard.js
  src/components/app/routes.js
  src/components/groups/index.js
  src/components/resellers/index.js
  src/components/resellers/reseller-dashboard-menu.js
  src/components/resellers/reseller-dashboard.js
  src/components/system/index.js
  src/utils/acl.js
Due: js, other

fix some reseller routing
  src/angular/api/services/common/route.js
  src/angular/system/components/resellers-panel/index.js
  src/angular/system/components/service-providers/index.js
  src/angular/ui/components/pbs-navigation/index.html
  src/angular/ui/components/pbs-navigation/index.js
  src/components/app/app-breadcrumb.js
  src/components/app/app-dashboard.js
  src/components/app/routes.js
  src/components/system/resellers.js
Due: js, other

merge
  src/angular/common/services/acl.js
  src/angular/system/components/reseller-create/index.html
  src/angular/system/components/reseller-update/index.html
  src/angular/system/components/reseller-update/index.js
  src/angular/system/components/resellers-panel/index.html
  src/angular/system/components/service-providers/index.html
  src/angular/system/components/service-providers/index.js
  src/components/app/routes.js
  src/components/system/resellers.js
Due: js, other

more merge stuff
  src/components/system/resellers.js
Due: js

updates for resller
  package.json
  src/api/resellers/index.js
  src/components/app/routes.js
  src/components/resellers/index.js
  src/components/resellers/reseller-dashboard-menu.js
  src/components/resellers/reseller-delete.js
  src/components/resellers/reseller-profile.js
  src/components/system/index.js
  src/components/system/resellers.js
  src/components/system/system-resellers.js
  src/components/ui/index.js
  src/components/ui/ui-data-table.js
  yarn.lock
Due: js, other

added reseller admin screens
  src/api/reseller-admins/index.js
  src/components/resellers/index.js
  src/components/resellers/reseller-admins.js
Due: js

added reseller admin
  src/components/resellers/reseller-admins.js
  src/components/resellers/reseller-dashboard-menu.js
Due: js

reseller delete and redirect after create
  src/components/resellers/reseller-dashboard-menu.js
  src/components/resellers/reseller-delete.js
  src/components/system/system-resellers.js
Due: js

add acl check
  src/components/resellers/reseller-dashboard-menu.js
Due: js

perms
  src/components/resellers/reseller-dashboard-menu.js
Due: js

reseller
  src/components/resellers/reseller-admins.js
  src/components/resellers/reseller-delete.js
Due: js

add uiformfield docs
  src/components/ui/ui-form-field.mdx
  src/components/ui/ui-panel.js
Due: js, other

added filter for resellerId
  src/angular/system/components/service-providers/index.js
Due: js

add reseller filter to service provider list when logged in as prov
  src/angular/api/services/service-providers/service-provider-service.js
  src/angular/system/components/service-providers/index.js
  src/components/resellers/reseller-dashboard-menu.js
  src/components/resellers/reseller-service-providers.js
Due: js

removed console.log
  src/components/resellers/reseller-admins.js
Due: js

fixed bug with password autoComplete
  src/components/resellers/reseller-admins.js
Due: js

forgot about the create vs edit
  src/components/resellers/reseller-admins.js
Due: js

add ui-pagination docs
  src/components/ui/ui-pagination.mdx
Due: other

resellers
  src/components/system/resellers.js
Due: js

comment out new reseller stuff for now
  src/components/resellers/reseller-admins.js
  src/components/resellers/reseller-delete.js
  src/components/resellers/reseller-profile.js
  src/components/system/system-resellers.js
Due: js

add uiFormError and add an errors object in useForm return tuple
  src/components/ui/index.js
  src/components/ui/ui-form-error.js
  src/components/ui/ui-form-error.mdx
  src/utils/use-form.js
  src/utils/use-form.mdx
Due: js, other

update docs
  package.json
  src/components/ui/ui-card-modal.mdx
  src/components/ui/ui-form-error.mdx
  src/components/ui/ui-loading-modal.mdx
  src/components/ui/ui-loading-page.mdx
Due: other

update
  src/components/ui/ui-card-modal.mdx
  yarn.lock
Due: other

docz
  doczrc.js
Due: js

reseller
  src/components/app/app-dashboard.js
  src/components/app/app-login.js
  src/components/resellers/reseller-admins.js
  src/components/resellers/reseller-delete.js
  src/components/resellers/reseller-profile.js
  src/components/system/system-resellers.js
  src/components/ui/ui-input-password.mdx
  src/components/users/user-speed-dial-8.js
  src/utils/use-form.mdx
Due: js, other

reseller list in graphql
  src/angular/api/services/service-providers/service-provider-service.js
  src/graphql/service-provider.js
Due: js
