Repository voipxp/testing: changes, and which lefthook commands are due for each by the changed paths.
All: js, other

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    js:
      glob: '*.{js,ts}'
      run: prettier --write {staged_files} && eslint --fix {staged_files}
    other:
      glob: '*.{css,sass,scss,md,mdx,json,html,yml,yaml}'
      run: prettier --write {staged_files}
pre-push:
  commands:
    audit:
      tags: audit
      run: yarn audit

Bulk CSV upload for, Clone Service Provider, Clone Group, Clone Device Tags.
  src/angular/bulk/components/bulk-dashboard/index.js
  src/angular/bulk/components/bulk-import/index.js
  src/angular/bulk/services/bulk-import-service.js
  src/angular/bulk/services/bulk-task-service.js
Due: js

Removing console.log
  src/angular/bulk/services/bulk-import-service.js
Due: js

User Service Setting dev #128
  src/api/user-services-settings/user-advice-of-charge-service.js
  src/api/user-services-settings/user-call-recording-service.js
  src/api/user-services-settings/user-connected-line-identification-restriction-service.js
  src/api/user-services-settings/user-directed-call-pickup-with-barge-in-service.js
  src/api/user-services-settings/user-do-not-disturb-service.js
  src/api/user-services-settings/user-external-calling-line-id-delivery-service.js
  src/api/user-services-settings/user-integrated-imp-service.js
  src/components/users/service-settings/index.js
  src/components/users/service-settings/user-advice-of-charge.js
  src/components/users/service-settings/user-call-recording.js
  src/components/users/service-settings/user-connected-line-identification-restriction.js
  src/components/users/service-settings/user-directed-call-pickup-with-barge-in.js
  src/components/users/service-settings/user-do-not-disturb.js
  src/components/users/service-settings/user-external-calling-line-id-delivery.js
  src/components/users/service-settings/user-integrated-imp.js
  src/components/users/user-service-routes.js
Due: js

Fixes for : (SIPT) Group Trunk Group Task Bulk #160 Using CSV Upload
  src/angular/bulk/components/bulk-dashboard/index.js
  src/angular/bulk/services/bulk-task-service.js
Due: js

added exports
  src/angular/service-provider/components/service-provider-dashboard/index.js
  src/angular/system/components/system-dashboard/index.js
  src/api/exports/index.js
  src/components/app/routes.js
  src/components/audits/audit.js
  src/components/exports/export.js
  src/components/exports/exports.js
  src/components/exports/index.js
  src/components/resellers/index.js
  src/components/resellers/reseller-dashboard-menu.js
  src/components/resellers/reseller-export.js
  src/components/resellers/reseller-exports.js
Due: js

removed client side import call
  src/components/audits/audit.js
Due: js

5.4.0
  package.json
Due: other

fixed hasLevel for import audits exports
  src/components/app/routes.js
Due: js

5.4.1
  package.json
Due: other

5.4.2
  package.json
Due: other

5.4.3
  package.json
Due: other

5.4.4
  package.json
Due: other

5.4.5
  package.json
Due: other

5.4.6
  package.json
Due: other

5.4.7
  package.json
Due: other

5.4.8
  package.json
Due: other

5.4.9
  package.json
Due: other

Fixes : Issue #158 and #155
  src/angular/bulk/components/bulk-dashboard/index.js
  src/angular/bulk/components/bulk-import/index.js
  src/angular/bulk/services/bulk-task-service.js
Due: js

Removed space
  src/angular/bulk/services/bulk-task-service.js
Due: js

Fixes for Issue : #152. False value is not showing in the table after upload CSV file: fixed by removing boolean to string value code and applied the same code on submit import.
  src/angular/bulk/components/bulk-import/index.js
  src/angular/bulk/services/bulk-import-service.js
  src/angular/bulk/services/bulk-task-service.js
Due: js

User service-phase1 service update
  src/api/user-services-settings/user-anonymous-call-rejection-service.js
  src/api/user-services-settings/user-automatic-callback-service.js
  src/api/user-services-settings/user-automatic-hold-retrieve-service.js
  src/api/user-services-settings/user-barge-in-exempt-service.js
  src/api/user-services-settings/user-call-forwarding-always-secondary-service.js
  src/api/user-services-settings/user-call-forwarding-always-service.js
  src/api/user-services-settings/user-call-forwarding-busy-service.js
  src/api/user-services-settings/user-call-forwarding-no-answer-service.js
  src/api/user-services-settings/user-call-forwarding-not-reachable-service.js
  src/api/user-services-settings/user-call-waiting-service.js
  src/api/user-services-settings/user-calling-line-id-delivery-blocking-service.js
  src/api/user-services-settings/user-calling-name-delivery-service.js
  src/api/user-services-settings/user-calling-number-delivery-service.js
  src/components/users/service-settings/user-anonymous-call-rejection.js
  src/components/users/service-settings/user-automatic-callback.js
  src/components/users/service-settings/user-automatic-hold-retrieve.js
  src/components/users/service-settings/user-barge-in-exempt.js
  src/components/users/service-settings/user-call-forwarding-always-secondary.js
  src/components/users/service-settings/user-call-forwarding-always.js
  src/components/users/service-settings/user-call-forwarding-busy.js
  src/components/users/service-settings/user-call-forwarding-no-answer.js
  src/components/users/service-settings/user-call-forwarding-not-reachable.js
  src/components/users/service-settings/user-call-transfer.js
  src/components/users/service-settings/user-call-waiting.js
  src/components/users/service-settings/user-calling-line-id-delivery-blocking.js
  src/components/users/service-settings/user-calling-name-delivery.js
  src/components/users/service-settings/user-calling-name-retrieval.js
  src/components/users/service-settings/user-calling-number-delivery.js
Due: js

Fixes user services
  src/components/users/service-settings/user-anonymous-call-rejection.js
Due: js

Fixes user service phase1
  src/components/users/service-settings/user-call-forwarding-always-secondary.js
  src/components/users/service-settings/user-call-forwarding-always.js
  src/components/users/service-settings/user-call-forwarding-busy.js
  src/components/users/service-settings/user-call-forwarding-no-answer.js
  src/components/users/service-settings/user-call-forwarding-not-reachable.js
Due: js

User service phase1 fixes
  src/api/user-services-settings/user-call-forwarding-always-secondary-service.js
  src/api/user-services-settings/user-call-forwarding-always-service.js
  src/api/user-services-settings/user-call-forwarding-busy-service.js
  src/api/user-services-settings/user-call-forwarding-no-answer-service.js
  src/api/user-services-settings/user-call-forwarding-not-reachable-service.js
  src/components/users/service-settings/user-call-forwarding-always-secondary.js
  src/components/users/service-settings/user-call-forwarding-always.js
  src/components/users/service-settings/user-call-forwarding-busy.js
  src/components/users/service-settings/user-call-forwarding-not-reachable.js
Due: js

User services fixes done
  src/api/user-services-settings/user-call-forwarding-always-secondary-service.js
  src/api/user-services-settings/user-call-forwarding-always-service.js
  src/components/users/service-settings/user-call-forwarding-always-secondary.js
  src/components/users/service-settings/user-call-forwarding-always.js
  src/components/users/service-settings/user-call-forwarding-busy.js
  src/components/users/service-settings/user-call-forwarding-no-answer.js
  src/components/users/service-settings/user-call-forwarding-not-reachable.js
Due: js

Fixes done user service changes phase1
  src/components/users/service-settings/user-call-forwarding-always-secondary.js
  src/components/users/service-settings/user-call-forwarding-always.js
  src/components/users/service-settings/user-call-forwarding-busy.js
  src/components/users/service-settings/user-call-forwarding-no-answer.js
  src/components/users/service-settings/user-call-forwarding-not-reachable.js
Due: js

Issue fixes #166
  src/angular/api/services/groups/group-announcement-download-service.js
  src/angular/api/services/groups/index.js
  src/angular/api/services/users/index.js
  src/angular/api/services/users/user-announcement-download-service.js
  src/angular/group/components/group-announcement/index.html
  src/angular/group/components/group-announcement/index.js
  src/angular/user/components/user-announcement/index.html
  src/angular/user/components/user-announcement/index.js
Due: js, other

Issue fixes #166
  src/angular/group/components/group-announcement/index.html
  src/angular/user/components/user-announcement/index.html
Due: other

Removed Call Capacity code, API needs to be fixed
  src/angular/bulk/services/bulk-task-service.js
Due: js

added group call processing policy as a module permission
  src/angular/group/components/group-dashboard/index.js
  src/angular/group/services/group-dashboard-service.js
Due: js

User service phase1 fixes #144
  src/api/user-services-settings/user-anonymous-call-rejection-service.js
  src/api/user-services-settings/user-automatic-callback-service.js
  src/api/user-services-settings/user-automatic-hold-retrieve-service.js
  src/api/user-services-settings/user-barge-in-exempt-service.js
  src/api/user-services-settings/user-call-forwarding-always-secondary-service.js
  src/api/user-services-settings/user-call-forwarding-always-service.js
  src/api/user-services-settings/user-call-forwarding-busy-service.js
  src/api/user-services-settings/user-call-forwarding-no-answer-service.js
  src/api/user-services-settings/user-call-forwarding-not-reachable-service.js
  src/api/user-services-settings/user-call-transfer-service.js
  src/api/user-services-settings/user-call-waiting-service.js
  src/api/user-services-settings/user-calling-line-id-delivery-blocking-service.js
  src/api/user-services-settings/user-calling-name-delivery-service.js
  src/api/user-services-settings/user-calling-name-retrieval-service.js
  src/api/user-services-settings/user-calling-number-delivery-service.js
  src/components/users/service-settings/user-call-forwarding-not-reachable.js
  src/components/users/service-settings/user-calling-line-id-delivery-blocking.js
  src/components/users/service-settings/user-calling-number-delivery.js
Due: js

5.4.10
  package.json
Due: other

put bulk task template in order
  src/angular/bulk/services/bulk-task-service.js
Due: js

Issue fixes #166
  src/angular/group/components/group-announcement/index.js
  src/angular/user/components/user-announcement/index.js
Due: js

Fixes for : Issue no : #159 (trunk.group.call.capacity), Code refactoring for permitted task
  src/angular/bulk/components/bulk-import/index.js
  src/angular/bulk/services/bulk-task-service.js
Due: js

Refactoring code for check access level
  src/angular/bulk/components/bulk-import/index.js
  src/angular/bulk/services/bulk-task-service.js
Due: js

Adding space in message
  src/angular/bulk/components/bulk-import/index.js
Due: js

adding access level
  src/angular/bulk/components/bulk-import/index.js
Due: js

User service phase 2
  src/api/user-services-settings/user-internal-calling-line-id-delivery-service.js
  src/components/users/service-settings/user-call-forwarding-always-secondary.js
  src/components/users/service-settings/user-call-forwarding-always.js
  src/components/users/service-settings/user-call-forwarding-busy.js
  src/components/users/service-settings/user-call-forwarding-no-answer.js
  src/components/users/service-settings/user-call-forwarding-not-reachable.js
  src/components/users/service-settings/user-internal-calling-line-id-delivery.js
Due: js

Issue fixes done
  src/angular/group/components/group-announcement/index.html
  src/angular/group/components/group-announcement/index.js
  src/angular/user/components/user-announcement/index.html
Due: js, other
