Repository voipxp/testing: changes, and which lefthook commands are due for each by the changed paths.
All: js, other

js:
  run: prettier --write {staged_files} && eslint --fix {staged_files}

other:
  run: prettier --write {staged_files}

busy lamp fixes
  src/api/user-services-settings/user-busy-lamp-field-service.js
  src/components/users/service-settings/user-busy-lamp-field.js
Due: js

added !hasModuleRead
  src/components/groups/group-service-settings.js
Due: js

changed layout order for licensing
  src/components/groups/group-dashboard-menu.js
  src/components/service-provider/service-provider-dashboard-menu.js
Due: js

fixed system dashboar to account for provisioning users
  src/components/system/system-dashboard-menu.js
Due: js

fixes for: Provisioning Login Menu #316
  src/components/system/system-dashboard-menu.js
Due: js

get odinmaster changes to anshu master master branch
  src/components/groups/group-dashboard-menu.js
  src/components/groups/group-service-settings.js
  src/components/service-provider/index.js
  src/components/service-provider/service-provider-dashboard-menu.js
  src/components/system/index.js
  src/components/system/system-dashboard-menu.js
Due: js

dashboard fixes
  src/angular/group/components/group-device-type/index.js
  src/angular/service-provider/components/service-packs/index.js
  src/angular/service-provider/components/service-provider-delete/index.js
  src/angular/service-provider/components/service-provider-service-pack/index.js
  src/components/audits/audit.js
Due: js

https://github.com/parkbenchsolutions/odinweb/issues/296
  src/components/audits/audit.js
Due: js

breadcrumb issue on import
  src/components/imports/import.js
Due: js

changes
  src/angular/group/components/group-device/index.js
Due: js

After Bulk User Create navigation is wrong #324
  src/angular/bulk/components/bulk-dashboard/index.js
  src/angular/bulk/components/bulk-import/index.js
  src/angular/bulk/services/bulk-import-service.js
  src/components/bulk/bulk-sip-trunking-upload/bulk-sip-trunking-upload.js
  src/components/bulk/bulk-sip-trunking/bulk-sip-trunking.js
  src/utils/index.js
  src/utils/url-operations.js
Due: js

group service setting
  src/components/groups/group-service-routes.js
  src/components/groups/group-service-settings.js
Due: js

fixes group services #321
  src/components/groups/group-service-settings.js
Due: js

fixes department users
  src/angular/group/components/group-users/index.js
Due: js

delete group font fixes
  src/angular/group/components/group-delete/index.html
Due: other

fixes
  src/components/groups/group-service-routes.js
Due: js

changes
  src/components/groups/group-service-settings.js
Due: js

user services rows 25 length and route #321
  src/components/groups/group-user-service-routes.js
  src/components/groups/group-user-service-settings.js
Due: js

virtual users submenu list
  src/angular/group/components/group-viewable-pack-users/index.html
  src/angular/group/components/group-viewable-pack-users/index.js
  src/angular/group/components/index.js
  src/components/groups/group-dashboard-menu.js
Due: js, other

Full Page View & BreadCrumb Issues #319
  src/components/audits/audit.js
  src/components/audits/audits.js
  src/components/service-provider/service-provider-dashboard.js
  src/components/system/system-dashboard.js
  src/utils/url-operations.js
Due: js

Full page view for : Migrate, NCOS, issue #319
  src/angular/system/components/system-network-class-of-service/index.html
  src/angular/system/components/system-network-class-of-services/index.js
  src/components/app/routes.js
  src/components/audits/audit.js
  src/components/exports/export.js
  src/components/exports/exports.js
  src/components/service-provider/service-provider-dashboard-menu.js
  src/components/system/index.js
  src/components/system/system-dashboard-menu.js
  src/components/system/system-network-class-of-services-index.js
Due: js, other

renamed items
  src/angular/bulk/services/bulk-task-service.js
  src/components/bulk/service/bulk-task-service.js
  src/components/groups/group-dashboard-menu.js
  src/components/groups/group-user-service-settings.js
Due: js

Forgot Password Link and Form #258
  package.json
  src/components/app/app-forgot-password.js
  src/components/app/app-login.js
  src/components/app/app-new-password.js
  src/components/app/app.js
  src/components/app/index.js
  yarn.lock
Due: js, other

Forgot password
  src/components/app/app-forgot-password.js
Due: js

Full page view network class of services bug fixes
  src/components/system/system-network-class-of-services-index.js
Due: js

forget-password-on-login
  src/components/app/app-new-password.js
Due: js

Forget password
  src/components/app/app-forgot-password.js
  src/components/app/app-new-password.js
  src/components/app/app-reset-password.js
  yarn.lock
Due: js

password reset
  src/api/reset-password/index.js
Due: js

forgot pass fix
  src/components/app/app-forgot-password.js
Due: js

added branding email page
  src/angular/api/services/branding/branding-email-service.js
  src/angular/api/services/branding/index.js
  src/angular/branding/components/branding-email/index.html
  src/angular/branding/components/branding-email/index.js
  src/angular/branding/components/branding-hostname/index.html
  src/angular/branding/components/index.js
  src/api/ui/email.js
  src/store/ui-email.js
Due: js, other

Recent Tasks No menu #333
  src/angular/bulk/components/bulk-import/index.js
  src/angular/bulk/components/bulk-task/index.html
  src/angular/bulk/components/bulk-tasks/index.js
  src/components/app/routes.js
  src/components/bulk/bulk-sip-trunking-upload/bulk-sip-trunking-upload.js
  src/components/bulk/index.js
  src/components/groups/group-dashboard-menu.js
  src/components/groups/group-dashboard.js
  src/components/service-provider/service-provider-dashboard-menu.js
  src/components/system/system-dashboard-menu.js
Due: js, other

Recent Tasks No menu #333
  src/components/bulk/bulk-tasks-index.js
Due: js

Full page issue : service pack service should be open on the right
  src/angular/service-provider/components/service-packs/index.js
  src/angular/service-provider/components/service-provider-service-pack/index.html
  src/angular/service-provider/components/service-provider-service-pack/index.js
  src/components/app/routes.js
  src/components/service-provider/index.js
  src/components/service-provider/service-provider-dashboard-menu.js
Due: js, other

commit file
  src/components/service-provider/service-provider-service-packs-index.js
Due: js

service pack service
  src/components/service-provider/service-provider-service-packs-index.js
Due: js

updated manifest.json
  assets/manifest.json
Due: other

added content security policy
  assets/manifest.json
Due: other

added permission to the manifest file
  assets/manifest.json
Due: other

manifest.json
  assets/manifest.json
Due: other

fixed audit export
  src/components/audits/audit.js
Due: js

Path conditions:
  js: any of: *.{js,ts}
  other: any of: *.{css,sass,scss,md,mdx,json,html,yml,yaml}
