Repository voipxp/testing: changes, and which lefthook commands are due for each by the changed paths.
All: js, other

js:
  run: prettier --write {staged_files} && eslint --fix {staged_files}

other:
  run: prettier --write {staged_files}

updated audits to support group and service provider changes
  src/components/audits/audit.js
Due: js

grou service changes
  src/components/groups/group-service-routes.js
  src/components/groups/group-service-settings.js
  src/components/groups/group-user-service-routes.js
  src/components/groups/group-user-service-settings.js
Due: js

group service settings.
  src/components/groups/group-service-settings.js
Due: js

SIP Trunking authentication issue on the sheet
  src/components/bulk/bulk-sip-trunking/bulk-sip-trunking-trunk-groups.js
Due: js

group dashboard
  src/components/groups/group-service-routes.js
  src/components/groups/group-service-settings.js
Due: js

changes done
  src/components/groups/group-dashboard.js
  src/components/groups/group-service-routes.js
  src/components/groups/group-service-settings.js
  src/components/groups/group-user-service-routes.js
  src/components/groups/group-user-service-settings.js
Due: js

Reset Password
  src/components/app/app-login.js
  src/components/app/index.js
Due: js

Password-Reset-Option-at-Login-Screen
  src/components/app/app-reset-password.js
Due: js

testing
  src/angular/group/components/group-trunk-groups/index.html
  src/components/groups/group-service-routes.js
  src/components/groups/group-user-service-routes.js
  src/components/groups/group-user-service-settings.js
  src/components/groups/service-settings/index.js
Due: js, other

Reset Password
  src/components/app/app-login.js
  src/components/app/app-reset-password.js
Due: js

changes
  src/components/app/routes.js
  src/components/groups/service-settings/group-series-completion.js
Due: js

fixes done
  src/components/groups/group-series-completion.js
  src/components/groups/group-service-routes.js
  src/components/groups/group-user-service-routes.js
Due: js

changes
  src/components/groups/service-settings/group-call-centers.js
  src/components/groups/service-settings/group-call-park.js
  src/components/groups/service-settings/group-call-pickup.js
  src/components/groups/service-settings/group-collaborate.js
  src/components/groups/service-settings/group-flexible-seating-hosts.js
  src/components/groups/service-settings/group-hunt-groups.js
  src/components/groups/service-settings/group-meet-me.js
  src/components/groups/service-settings/group-music-on-hold.js
  src/components/groups/service-settings/group-night-forwarding.js
  src/components/groups/service-settings/group-paging.js
  src/components/groups/service-settings/group-trunk-groups.js
  src/components/groups/service-settings/group-virtual-on-net-enterprise-extensions.js
  src/components/groups/service-settings/group-voice-messaging.js
Due: js

5.8.0
  package.json
Due: other

service-provider-dashboard changes
  src/angular/group/components/group-delete/index.html
  src/angular/group/components/group-device-types/index.html
  src/angular/group/components/group-devices/index.html
  src/angular/group/components/group-numbers/index.html
  src/angular/group/components/group-services/index.html
  src/components/app/routes.js
  src/components/groups/group-dashboard-menu.js
  src/components/groups/group-service-routes.js
Due: js, other

enterprise fixes
  src/components/groups/group-dashboard.js
  src/components/groups/group-provisioning-routes.js
  src/components/groups/group-provisioning-settings.js
  src/components/service-provider/service-provider-dashboard-menu.js
  src/components/service-provider/service-provider-dashboard.js
Due: js

fixes
  .gitignore
  src/components/groups/group-dashboard.js
  src/components/service-provider/service-provider-dashboard.js
Due: js

changes
  src/angular/group/components/group-trunk-groups/index.html
  src/components/groups/group-user-service-routes.js
  src/components/groups/group-user-service-settings.js
Due: js, other

Fixes
  src/angular/events/components/odin-webhooks/index.html
  src/angular/group/components/group-announcements/index.html
  src/angular/service-provider/components/service-provider-meet-me/index.html
  src/angular/vdm/components/vdm-dashboard/index.html
  src/components/groups/group-dashboard.js
  src/components/groups/group-extension-length.js
  src/components/groups/group-provisioning-routes.js
  src/components/service-provider/service-provider-dashboard-menu.js
  src/components/service-provider/service-provider-dashboard.js
  src/components/service-provider/service-provider-provisioning-settings.js
Due: js, other

SIP Trunking wiz UI stuff
  src/components/bulk/bulk-import.js
  src/components/bulk/bulk-sip-trunking-upload/bulk-import-upload.js
  src/components/bulk/bulk-sip-trunking-upload/bulk-sip-trunking-upload-dashboard-menu.js
  src/components/bulk/bulk-sip-trunking-upload/bulk-sip-trunking-upload-task.js
  src/components/bulk/bulk-sip-trunking-upload/bulk-sip-trunking-upload.js
  src/components/bulk/bulk-wiz-menu.js
Due: js

Fixes
  src/components/groups/group-dashboard-menu.js
  src/components/groups/group-provisioning-routes.js
Due: js

Fixes
  src/angular/common/components/users-report/index.html
  src/angular/group/components/group-services/index.js
  src/angular/service-provider/components/service-provider-services/index.html
  src/components/service-provider/service-provider-audits.js
  src/components/service-provider/service-provider-provisioning-routes.js
Due: js, other

SIP Trunking
  src/components/bulk/bulk-sip-trunking-upload/bulk-sip-trunking-auth-wiz-task.js
Due: js

fixes
  src/components/groups/group-dashboard.js
Due: js

ent fixes
  src/components/service-provider/service-provider-provisioning-settings.js
Due: js

5.8.1
  package.json
Due: other

SIP Trunking
  src/components/bulk/bulk-sip-trunking-upload/bulk-import-upload.js
  src/components/bulk/bulk-sip-trunking-upload/bulk-sip-trunking-auth-wiz-task.js
  src/components/bulk/bulk-sip-trunking-upload/bulk-sip-trunking-upload-dashboard-menu.js
  src/components/bulk/bulk-sip-trunking-upload/bulk-sip-trunking-upload.js
Due: js

SIP Trunking
  src/components/bulk/service/bulk-upload-csv.js
Due: js

SIP Trunking
  src/components/bulk/bulk-import.js
Due: js

changes..
  src/angular/group/components/group-call-centers/index.html
  src/angular/group/components/group-call-centers/index.js
  src/angular/group/components/group-flexible-seating-hosts/index.js
  src/components/groups/service-settings/group-call-park.js
  src/components/groups/service-settings/group-call-pickup.js
  src/components/groups/service-settings/group-collaborate.js
  src/components/groups/service-settings/group-flexible-seating-hosts.js
  src/components/groups/service-settings/group-hunt-groups.js
  src/components/groups/service-settings/group-meet-me.js
  src/components/groups/service-settings/group-music-on-hold.js
  src/components/groups/service-settings/group-night-forwarding.js
  src/components/groups/service-settings/group-paging.js
  src/components/groups/service-settings/group-trunk-groups.js
  src/components/groups/service-settings/group-virtual-on-net-enterprise-extensions.js
  src/components/groups/service-settings/group-voice-messaging.js
Due: js, other

groups ..
  src/angular/group/components/group-call-centers/index.html
  src/angular/group/components/group-call-centers/index.js
Due: js, other

fixes ent dashboard
  src/angular/branding/components/branding-hostname/index.html
  src/angular/branding/components/branding-hostnames/index.html
  src/angular/group/components/group-common-phone-list/index.html
  src/angular/group/components/group-custom-contact-directories/index.html
  src/angular/group/components/group-phone-directory/index.html
  src/components/service-provider/service-provider-dashboard.js
Due: js, other

Fixes routes
  src/components/app/routes.js
Due: js

user service
  package.json
  src/components/groups/group-user-service-routes.js
  yarn.lock
Due: js, other

group- styles changes
  src/angular/group/components/group-collaborate/index.html
  src/angular/group/components/group-flexible-seating-hosts/index.html
  src/angular/group/components/group-meet-me-bridge/index.js
  src/angular/group/components/group-paging-group/index.js
  src/angular/group/components/group-voice-messaging/index.html
Due: js, other

user services
  src/components/groups/group-user-service-routes.js
Due: js

group-feature changes
  src/angular/vdm/components/vdm-dashboard/index.html
  src/components/groups/group-dashboard-menu.js
Due: js, other

changes
  src/angular/group/components/group-auto-attendant/index.js
  src/angular/group/components/group-call-center/index.js
  src/angular/group/components/group-call-park-group/index.js
  src/angular/group/components/group-call-pickup/index.js
  src/angular/group/components/group-calling-plans-nav/index.js
  src/angular/group/components/group-collaborate-bridge/index.js
  src/angular/group/components/group-device-type/index.js
  src/angular/group/components/group-device/index.js
  src/angular/group/components/group-flexible-seating-host/index.js
  src/angular/group/components/group-hunt-group/index.js
  src/angular/group/components/group-meet-me-bridge/index.js
  src/angular/group/components/group-music-on-hold/index.js
  src/angular/group/components/group-outgoing-calling-plan-users/index.html
  src/angular/group/components/group-outgoing-calling-plan-users/index.js
  src/angular/group/components/group-paging-group/index.js
  src/angular/group/components/group-trunk-group/index.js
  src/components/app/routes.js
  src/components/groups/group-communication-routes.js
  src/components/groups/group-dashboard-menu.js
  src/components/groups/group-service-routes.js
  src/components/groups/group-service-settings.js
  src/components/groups/group-user-service-routes.js
  src/components/service-provider/service-provider-provisioning-routes.js
Due: js, other

yarn lint warning issues fixes
  src/angular/bulk/components/bulk-import/index.js
  src/components/audits/audit.js
  src/components/bulk/bulk-add-numbers.js
  src/components/bulk/bulk-create-user.js
  src/components/bulk/bulk-enterprise-clone/bulk-clone-options.js
  src/components/bulk/bulk-import.js
  src/components/bulk/bulk-select-numbers.js
  src/components/bulk/bulk-select-user-id.js
  src/components/bulk/bulk-sip-trunking-upload/bulk-import-upload.js
  src/components/bulk/bulk-sip-trunking-upload/bulk-sip-trunking-auth-wiz-task.js
  src/components/bulk/bulk-sip-trunking-upload/bulk-sip-trunking-upload-task.js
  src/components/bulk/bulk-sip-trunking/bulk-sip-service-provider.js
  src/components/bulk/bulk-sip-trunking/bulk-sip-trunking-authentication.js
  src/components/bulk/bulk-sip-trunking/bulk-sip-trunking-devices.js
  src/components/bulk/bulk-sip-trunking/bulk-sip-trunking-group-call-capacity.js
  src/components/bulk/bulk-sip-trunking/bulk-sip-trunking-group.js
  src/components/bulk/bulk-sip-trunking/bulk-sip-trunking-numbers.js
  src/components/bulk/bulk-sip-trunking/bulk-sip-trunking-trunk-enterprise.js
  src/components/bulk/bulk-sip-trunking/bulk-sip-trunking-trunk-groups.js
  src/components/bulk/bulk-sip-trunking/bulk-sip-trunking-trunk-pilot-user.js
  src/components/bulk/bulk-sip-trunking/bulk-sip-trunking-users.js
  src/components/bulk/bulk-sip-trunking/bulk-sip-trunking.js
  src/components/bulk/bulk-sip-trunking/tasks/bulk-sip-trunking-user-services-task.js
  src/components/bulk/bulk-wiz-menu.js
  src/components/bulk/service/bulk-import-service.js
Due: js

Path conditions:
  js: any of: *.{js,ts}
  other: any of: *.{css,sass,scss,md,mdx,json,html,yml,yaml}
