Repository voipxp/testing: changes, and which lefthook commands are due for each by the changed paths.
All: js, other

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    js:
      glob: '*.{js,ts}'
      run: prettier --write {staged_files} && eslint --fix {staged_files}
    other:
      glob: '*.{css,sass,scss,md,mdx,json,html,yml,yaml}'
      run: prettier --write {staged_files}
pre-push:
  commands:
    audit:
      tags: audit
      run: yarn audit

react-query
  yarn.lock
Due: none

added <br> between series completion
  src/components/groups/group-series-completion.js
Due: js

yarn moidifed
  yarn.lock
Due: none

removed never used vars
  src/angular/group/services/group-dashboard-service.js
  src/components/audits/audits.js
  src/components/exports/export.js
  src/components/exports/exports.js
  src/components/groups/group-extension-length.js
  src/components/groups/group-numbers.js
  src/components/imports/import.js
  src/components/imports/imports.js
  src/components/users/service-settings/user-music-on-hold.js
  src/components/users/user-intercept.js
Due: js

added exports details
  src/components/app/routes.js
  src/components/audits/audit.js
  src/components/audits/audits.js
  src/components/exports/export.js
  src/components/exports/exports.js
  src/utils/acl.js
Due: js

SIP trunking
  src/components/app/routes.js
  src/components/bulk/bulk-create-user.js
  src/components/bulk/bulk-endpoint-type.js
  src/components/bulk/bulk-enterprise-clone/bulk-clone-options.js
  src/components/bulk/bulk-enterprise-clone/bulk-enterprise-clone-all-controls.js
  src/components/bulk/bulk-group-clone/bulk-clone-group-all-control.js
  src/components/bulk/bulk-import.js
  src/components/bulk/bulk-line-port.js
  src/components/bulk/bulk-multiple-tasks-import.js
  src/components/bulk/bulk-select-group-id.js
  src/components/bulk/bulk-select-service-provider-id.js
  src/components/bulk/bulk-select-service-provider-trunk.js
  src/components/bulk/bulk-select-user-id.js
  src/components/bulk/bulk-sip-trunking/bulk-sip-service-provider.js
  src/components/bulk/bulk-sip-trunking/bulk-sip-trunking-dashboard-menu.js
  src/components/bulk/bulk-sip-trunking/bulk-sip-trunking-group.js
  src/components/bulk/bulk-sip-trunking/bulk-sip-trunking-trunk-enterprise.js
  src/components/bulk/bulk-sip-trunking/bulk-sip-trunking-trunk-groups.js
  src/components/bulk/bulk-sip-trunking/bulk-sip-trunking-users.js
  src/components/bulk/bulk-sip-trunking/bulk-sip-trunking.js
  src/components/bulk/bulk-trunk-group/bulk-add-trunk-group.js
  src/components/bulk/bulk-trunk-group/bulk-select-group-trunk.js
  src/components/bulk/bulk-wiz-menu.js
  src/components/bulk/enterprise-clone/clone-enterprise-bulk.js
  src/components/bulk/enterprise-clone/clone-enterprise-dashboard-menu.js
  src/components/bulk/index.js
  src/components/bulk/new-service-provider-name.js
  src/components/bulk/service/bulk-import-service.js
  src/components/bulk/service/bulk-import-storage.js
  src/components/bulk/service/bulk-parse-service.js
  src/components/bulk/service/bulk-task-service.js
  src/components/service-provider/index.js
  src/components/service-provider/service-provider-trunk-groups-call-capacity.js
  src/components/ui/index.js
  src/lib/dotize.js
  src/lib/index.js
  src/utils/index.js
  src/utils/storage-service.js
  src/utils/utility-service.js
Due: js

Editable table
  src/components/ui/ui-data-table-editable.js
Due: js

fixes #197
  src/components/groups/group-series-completion.js
Due: js

SIP trunking service file
  src/api/group-services/group-trunk-group-service.js
  src/api/groups/domains.js
  src/api/service-providers-services/index.js
  src/api/service-providers-services/service-provider-enterprise-trunks-service.js
  src/api/service-providers-services/service-provider-trunk-group-call-capacity-service.js
  src/api/task/task-service.js
Due: js

export labels
  src/components/exports/export.js
Due: js

5.6.0
  package.json
Due: other

cancel button fixes
  src/components/groups/group-series-completion.js
Due: js

Fixes Disable Group Admin Policies Dropdowns #195 Remove duplicate Trunck Group name from bulk creation
  src/angular/bulk/services/bulk-task-service.js
  src/angular/group/components/group-admins/index.js
Due: js

changed verbage for Transfer to Operator Timeout Seconds auto attendant
  src/angular/group/components/auto-attendant-create/index.html
  src/angular/group/components/auto-attendant-settings/index.html
Due: other

added all dns from group for dept clid
  src/angular/group/components/group-department-details/index.html
Due: other

fixes #195
  src/angular/group/components/group-admins/index.html
Due: other

Fixes Number activation #195
  src/angular/group/components/group-admins/index.html
Due: other

SIP Trunking latest code
  src/api/group-services/group-trunk-group-call-capacity-service.js
  src/components/bulk/bulk-add-numbers.js
  src/components/bulk/bulk-group-numbers.js
  src/components/bulk/bulk-sip-trunking/bulk-sip-trunking-dashboard-menu.js
  src/components/bulk/bulk-sip-trunking/bulk-sip-trunking-group-call-capacity.js
  src/components/bulk/bulk-sip-trunking/bulk-sip-trunking-numbers.js
  src/components/bulk/bulk-sip-trunking/bulk-sip-trunking-trunk-enterprise.js
  src/components/groups/group-trunk-groups-call-capacity.js
  src/components/groups/index.js
Due: js

5.6.1
  package.json
Due: other

SIP Trunking users
  src/api/group-services/index.js
  src/api/groups/group-passcode-service.js
  src/api/groups/group-password-service.js
  src/api/service-providers/service-provider-passcode-service.js
  src/components/bulk/bulk-add-numbers.js
  src/components/bulk/bulk-create-user.js
  src/components/bulk/bulk-group-numbers.js
  src/components/bulk/bulk-select-group-services.js
  src/components/bulk/bulk-select-numbers.js
  src/components/bulk/bulk-sip-trunking/bulk-sip-trunking-dashboard-menu.js
  src/components/bulk/bulk-sip-trunking/bulk-sip-trunking-group-services.js
  src/components/bulk/bulk-sip-trunking/bulk-sip-trunking-numbers.js
  src/components/bulk/bulk-sip-trunking/bulk-sip-trunking-trunk-groups.js
  src/components/bulk/bulk-sip-trunking/bulk-sip-trunking-users.js
  src/components/bulk/bulk-sip-trunking/bulk-sip-trunking.js
  src/components/bulk/bulk-trunk-group/bulk-select-group-trunk.js
  src/components/bulk/index.js
  src/components/bulk/service/bulk-import-storage.js
  src/components/bulk/service/bulk-parse-service.js
  src/components/bulk/service/bulk-template-service.js
  src/components/ui/index.js
Due: js

SIP Trunking
  src/components/bulk/service/bulk-import-storage.js
  src/components/bulk/service/bulk-parse-service.js
  src/components/bulk/service/bulk-template-service.js
Due: js

SIP Trunking
  src/components/bulk/bulk-sip-trunking/bulk-sip-trunking-dashboard-menu.js
Due: js

bulk create user tags
  src/components/bulk/bulk-create-user.js
  src/components/bulk/bulk-tag-input.js
  src/components/bulk/service/bulk-tag-service.js
Due: js

Tag selections
  src/components/bulk/bulk-create-user.js
  src/components/bulk/bulk-sip-trunking/bulk-sip-trunking-users.js
  src/components/bulk/bulk-tag-input.js
  src/components/bulk/service/bulk-parse-service.js
  src/components/bulk/service/bulk-template-service.js
Due: js

Sip trunking
  src/components/bulk/bulk-create-user.js
Due: js

sip trunking tag selection
  src/components/bulk/bulk-create-user.js
Due: js

bulk download task
  package.json
  src/components/bulk/service/bulk-import-storage.js
  yarn.lock
Due: js, other

SIP Trunking
  src/components/bulk/bulk-create-user.js
  src/components/bulk/bulk-sip-trunking/bulk-sip-trunking-users.js
Due: js

bulk create user address
  src/api/groups/group-network-class-of-service-service.js
  src/api/system/system-language-service.js
  src/api/system/system-state-service.js
  src/api/system/system-time-zone-service.js
  src/components/bulk/bulk-create-user.js
Due: js

changes api work
  src/api/groups/group-network-class-of-service-service.js
  src/api/system/system-language-service.js
  src/api/system/system-state-service.js
  src/api/system/system-time-zone-service.js
  src/components/bulk/bulk-create-user.js
Due: js

Sip Trunking
  src/components/bulk/bulk-create-user.js
  src/components/bulk/bulk-multiple-tasks-import.js
  src/components/bulk/bulk-sip-trunking/bulk-sip-trunking-users.js
  src/components/bulk/service/bulk-import-storage.js
  src/components/bulk/service/bulk-upload-csv.js
  src/components/ui/ui-data-table-editable.js
Due: js

series completion changes
  src/components/groups/group-series-completion.js
Due: js

Fixes series completion #197
  src/components/groups/group-series-completion.js
Due: js

SIP Trunking
  src/components/bulk/bulk-create-user.js
  src/components/bulk/bulk-multiple-tasks-import.js
  src/components/bulk/bulk-sip-trunking/bulk-sip-trunking-dashboard-menu.js
  src/components/bulk/bulk-sip-trunking/bulk-sip-trunking-users.js
  src/components/bulk/service/bulk-import-storage.js
Due: js

Fixes series #197
  src/components/groups/group-series-completion.js
Due: js

SIP trunking
  src/components/bulk/bulk-group-clone/bulk-clone-group-all-control.js
  src/components/bulk/bulk-sip-trunking/bulk-sip-trunking-group.js
  src/components/bulk/service/bulk-import-storage.js
Due: js

SIP Trunking
  src/components/bulk/bulk-group-clone/bulk-clone-group-all-control.js
Due: js

SIP Trunking
  src/components/bulk/bulk-create-user.js
  src/components/bulk/service/bulk-import-service.js
  src/components/bulk/service/bulk-import-storage.js
Due: js

SIP Trunking
  src/components/bulk/bulk-create-user.js
  src/components/bulk/bulk-enterprise-clone/bulk-enterprise-clone-all-controls.js
  src/components/bulk/bulk-group-clone/bulk-clone-group-all-control.js
  src/components/bulk/bulk-sip-trunking/bulk-sip-service-provider.js
  src/components/bulk/bulk-sip-trunking/bulk-sip-trunking-group.js
  src/components/bulk/bulk-sip-trunking/bulk-sip-trunking-users.js
  src/components/bulk/bulk-sip-trunking/bulk-sip-trunking.js
Due: js
