Repository voipxp/testing: changes, and which lefthook commands are due for each by the changed paths.
All: js, other

js:
  run: prettier --write {staged_files} && eslint --fix {staged_files}

other:
  run: prettier --write {staged_files}

use local @client for session
  src/apollo.js
  src/graphql/session.js
Due: js

change password login moved to graphql
  src/components/app/app-login.js
  src/graphql/session.js
Due: js

move SSO token login to graphql
  src/components/app/app-login.js
  src/components/app/app.js
  src/graphql/session.js
  src/utils/alerts.js
Due: js

remote @api/auth usage
  src/api/auth/index.js
  src/components/app/app-navbar.js
  yarn.lock
Due: js

update deps
  src/apollo.js
  src/graphql/session.js
  yarn.lock
Due: js

get nullifying endpoints
  src/angular/user/components/user-device/index.js
  src/apollo.js
Due: js

added password expires < 14 days
  src/components/app/app-footer.js
Due: js

move alerts to local state managed by apollo
  src/angular/ui/services/notification.js
  src/apollo.js
  src/components/app/app-alerts.js
  src/components/app/app-login.js
  src/components/app/app-navbar.js
  src/components/app/app-timer.js
  src/components/app/routes.js
  src/components/group-search.js
  src/components/groups/group-communication-barring.js
  src/components/groups/group-speed-dial-8.js
  src/components/resellers/reseller-admins.js
  src/components/resellers/reseller-delete.js
  src/components/resellers/reseller-profile.js
  src/components/service-provider-select.js
  src/components/system-dn-search.js
  src/components/system/system-resellers.js
  src/components/tests/tester.js
  src/components/user-search.js
  src/components/user-service-search.js
  src/components/users/user-alternate-user-id.js
  src/components/users/user-intercept.js
  src/components/users/user-registration.js
  src/components/users/user-speed-dial-8.js
  src/graphql/alert.js
  src/graphql/index.js
  src/graphql/local.js
  src/utils/alerts.js
  src/utils/index.js
  yarn.lock
Due: js

deps
  yarn.lock
Due: none

final changes
  .gitignore
  src/api/auto-attendant/index.js
  src/components/autoAttendant/create-auto-attendant-last.js
  src/components/autoAttendant/create-auto-attendant-main.js
  src/components/autoAttendant/create-auto-attendant-options.js
  src/components/autoAttendant/create-auto-attendant-profile.js
  src/components/autoAttendant/create-auto-attendant-summary.js
  yarn.lock
Due: js

change password notification
  src/components/app/app-footer.js
  src/components/app/app-navbar.js
Due: js

real check
  src/components/app/app-navbar.js
Due: js

nomod
  .browserslistrc
  src/index.html
Due: other

color = danger
  src/components/app/app-navbar.js
Due: js

add supported browser message
  src/index.html
Due: other

edge CSS work around for navbar dropdown
  src/index.scss
  webpack.config.js
Due: js, other

deps
  package.json
  yarn.lock
Due: other

merge master
  src/index.html
Due: other

group-search to use graphql
  src/api/groups/index.js
  src/components/group-search.js
  src/components/service-provider-select.js
  src/graphql/group.js
Due: js

added new columns to events
  src/angular/events/components/odin-events/index.html
Due: other

move to local state and resolvers
  .eslintrc.json
  src/angular/api/services/users/user-service.js
  src/angular/bulk/components/bulk-import/index.js
  src/angular/bulk/components/bulk-user-create/index.js
  src/angular/bulk/components/bulk-user-delete/index.js
  src/angular/bulk/components/bulk-user-move/index.js
  src/angular/bulk/components/bulk-user-services-update/index.js
  src/angular/bulk/services/bulk-parse-service.js
  src/angular/common/components/select-device/index.js
  src/angular/common/services/acl.js
  src/angular/common/services/graphql.js
  src/angular/group/components/group-flexible-seating-host-service-instance-profile/index.js
  src/angular/group/components/group-services/index.js
  src/angular/ui/components/pbs-input-helper/index.js
  src/angular/ui/services/spinner.js
  src/angular/user/components/user-flexible-seating-guest/index.js
  src/angular/vdm/components/vdm-device-tag-keys/index.js
  src/apollo.js
  src/components/app/app-loading-modal.js
  src/components/app/app-login.js
  src/components/app/app-navbar.js
  src/components/app/app-timer.js
  src/components/app/app.js
  src/components/groups/group-speed-dial-8.js
  src/components/resellers/reseller-admins.js
  src/components/resellers/reseller-delete.js
  src/components/resellers/reseller-profile.js
  src/components/system-dn-search.js
  src/components/system/system-resellers.js
  src/components/users/user-alternate-user-id.js
  src/components/users/user-intercept.js
  src/components/users/user-speed-dial-8.js
  src/graphql/alert.js
  src/graphql/app.js
  src/graphql/index.js
  src/graphql/local.js
  src/graphql/session.js
  src/root.js
  src/utils/index.js
  src/utils/loading.js
Due: js, other

moving to local state and resolvers
  src/angular/common/services/graphql.js
Due: js

fix group search - skip unauthorized requests
  src/apollo.js
  src/graphql/group.js
Due: js

remove eventEmitter
  package.json
Due: other

update uiQuery
  src/graphql/index.js
  src/graphql/ui.js
Due: js

pretty
  src/graphql/app.js
  src/graphql/session.js
Due: js

update local graphql schema
  src/graphql/local.js
Due: js

fix spinner, send copies to angular children
  src/angular/common/services/graphql.js
  src/angular/ui/services/spinner.js
Due: js

updates
  src/angular/service-provider/components/service-provider-groups-panel/index.js
  src/angular/system/components/resellers-panel/index.js
  src/angular/system/components/service-providers-panel/index.js
Due: js

make useAlert and useLoadingModal identity stable
  src/graphql/alert.js
  src/graphql/app.js
Due: js

add user hook
  src/graphql/user.js
Due: js

initial alternate id rework
  src/components/users/user-alternate-user-id.js
Due: js

Commit auto auto attendant
  src/components/autoAttendant/create-auto-attendant-profile.js
Due: js

move alternate user ids to graphql
  GRAPHQL-NOTES.md
  src/api/user-alternate-user-id/index.js
  src/components/ui/ui-card-modal.js
  src/components/users/user-alternate-user-id.js
  src/graphql/user.js
Due: js, other

fix length allowed
  src/components/users/user-alternate-user-id.js
Due: js

move resellers to graphql
  src/api/reseller-admins/index.js
  src/api/resellers/index.js
  src/components/users/user-alternate-user-id.js
  src/graphql/reseller-admin.js
  src/graphql/reseller.js
  src/graphql/user.js
Due: js

Path conditions:
  js: any of: *.{js,ts}
  other: any of: *.{css,sass,scss,md,mdx,json,html,yml,yaml}
