Repository voipxp/testing: changes, and which lefthook commands are due for each by the changed paths.
All: js, other

js:
  run: prettier --write {staged_files} && eslint --fix {staged_files}

other:
  run: prettier --write {staged_files}

docs
  doczrc.js
  gatsby-config.js
  gatsby-node.js
  src/components/ui/ui-loading-modal.mdx
  src/components/ui/ui-pagination.mdx
Due: js, other

remove iframe
  yarn.lock
Due: none

fix user registration
  src/graphql/user-registrations.js
Due: js

docz2 is kind of broken, back to 1
  .prettierignore
  doczrc.js
  gatsby-config.js
  gatsby-node.js
  package.json
  src/components/ui/doc-wrapper.js
  yarn.lock
Due: js, other

API integration and new redux Integration
  src/components/autoAttendant/create-auto-attendant-actions.js
  src/components/autoAttendant/create-auto-attendant-digits.js
  src/components/autoAttendant/create-auto-attendant-last.js
  src/components/autoAttendant/create-auto-attendant-main.js
  src/components/autoAttendant/create-auto-attendant-menu.js
  src/components/autoAttendant/create-auto-attendant-options.js
  src/components/autoAttendant/create-auto-attendant-profile.js
  src/components/autoAttendant/create-auto-attendant-summary.js
  src/components/autoAttendant/create-auto-attendant.js
  src/store/auto-attendant.js
  src/store/index.js
Due: js

API integration and new redux Integration
  src/components/autoAttendant/create-auto-attendant-main.js
Due: js

remove old dep
  package.json
  yarn.lock
Due: other

initial graphql resellers
  src/angular/api/services/resellers/reseller-service.js
  src/angular/system/components/resellers-panel/index.js
  src/components/resellers/reseller-delete.js
  src/components/resellers/reseller-profile.js
  src/graphql/index.js
  src/graphql/reseller.js
  src/graphql/service-provider.js
Due: js

update deps
  yarn.lock
Due: none

admins
  src/components/resellers/reseller-admins.js
  src/graphql/index.js
  src/graphql/reseller-admin.js
Due: js

reseller admin experiments
  src/components/resellers/reseller-admins.js
  src/components/ui/ui-card-modal.js
  src/graphql/reseller-admin.js
  src/utils/use-form.js
Due: js

notes
  GRAPHQL-NOTES.md
Due: other

new API
  src/graphql/reseller-admin.js
Due: js

testing
  src/components/resellers/reseller-admins.js
Due: js

allow setting port for webpack
  .env.example
  webpack.config.js
  yarn.lock
Due: js

upgrade deps
  yarn.lock
Due: none

support new passAdmin types. standardize on route methods
  src/angular/branding/components/branding-details/index.js
  src/angular/branding/components/branding-hostname/index.html
  src/angular/branding/components/branding-hostname/index.js
  src/angular/branding/components/branding-hostnames/index.html
  src/angular/branding/components/branding-hostnames/index.js
  src/angular/events/components/odin-events/index.html
  src/angular/events/components/odin-events/index.js
  src/angular/events/components/odin-webhooks/index.html
  src/angular/events/components/odin-webhooks/index.js
  src/angular/service-provider/components/service-provider-dashboard/index.html
  src/angular/service-provider/components/service-provider-dashboard/index.js
  src/angular/settings/components/odin-settings/index.html
  src/angular/settings/components/odin-settings/index.js
  src/angular/system/components/system-dashboard/index.html
  src/angular/system/components/system-dashboard/index.js
  src/api/reseller-admins/index.js
  src/api/resellers/index.js
  src/components/app/app-routes.js
  src/components/app/routes.js
  src/components/resellers/reseller-dashboard-menu.js
  src/components/resellers/reseller-dashboard.js
  src/components/users/user-dashboard-menu.js
  src/components/users/user-dashboard.js
  src/utils/acl.js
  src/utils/user-services.js
Due: js, other

merge master
  src/angular/branding/components/branding-hostnames/index.js
Due: js

add paasAdmin support
  src/apollo.js
  src/graphql/session.js
Due: js

pluck/merge use-form from graphql
  src/utils/use-form.js
  src/utils/use-form.mdx
Due: js, other

update useForm docs
  src/utils/use-form.mdx
Due: other

added permissions for disabling alternate user ids
  src/components/system/system-resellers.js
  src/components/users/user-alternate-user-id.js
Due: js

fix eslint
  src/components/system/system-resellers.js
Due: js

update some routes that we copied under the reseller tree
  src/components/app/routes.js
Due: js

merge master
  src/angular/system/components/service-provider-report/index.html
Due: other

remove unused angular files
  src/angular/app/components/index.js
  src/angular/app/components/pbs-app/index.html
  src/angular/app/components/pbs-app/index.js
  src/angular/app/components/pbs-footer/index.css
  src/angular/app/components/pbs-footer/index.html
  src/angular/app/components/pbs-footer/index.js
  src/angular/app/components/pbs-login/index.css
  src/angular/app/components/pbs-login/index.html
  src/angular/app/components/pbs-login/index.js
  src/angular/app/components/pbs-sso/index.html
  src/angular/app/components/pbs-sso/index.js
  src/angular/common/services/pbs-route-provider.js
  src/angular/user/components/user-dashboard/index.html
  src/angular/user/components/user-dashboard/index.js
Due: js, other

yarn.lock
  yarn.lock
Due: none

added alias name for serviceName
  src/angular/service-provider/components/service-packs-create/index.html
Due: other

fix graphql duplicate operation names
  src/angular/common/components/virtual-user-menu/index.js
  src/angular/common/services/module.js
  src/angular/user/services/user-permission-service.js
  src/apollo.js
  src/components/app/app-analytics.js
  src/components/app/app-footer.js
  src/components/app/app-login.js
  src/components/app/app-navbar.js
  src/components/app/app-timer.js
  src/graphql/reseller-admin.js
  src/graphql/ui.js
  src/utils/module.js
Due: js

first go at updating cache, instead of refetchQueries
  src/components/resellers/reseller-admins.js
  src/graphql/reseller-admin.js
Due: js

revert
  GRAPHQL-NOTES.md
  src/graphql/reseller-admin.js
Due: js, other

revert to refetchQuery with notes on how to re-implement it
  GRAPHQL-NOTES.md
  src/components/resellers/reseller-admins.js
Due: js, other

re-implement update function with a better return value from store
  src/components/resellers/reseller-admins.js
  src/graphql/reseller-admin.js
Due: js

update returns on deletes
  src/graphql/group.js
  src/graphql/service-provider.js
Due: js

schemas
  src/angular/api/services/groups/group-service.js
  src/angular/api/services/service-providers/service-provider-service.js
  src/angular/api/services/users/user-service.js
  src/graphql/common.js
  src/graphql/group.js
  src/graphql/index.js
  src/graphql/reseller-admin.js
  src/graphql/reseller.js
  src/graphql/service-provider.js
  src/graphql/user.js
Due: js

update schema
  src/graphql/user-speed-dial-8.js
  src/graphql/user.js
Due: js

Path conditions:
  js: any of: *.{js,ts}
  other: any of: *.{css,sass,scss,md,mdx,json,html,yml,yaml}
