Repository voipxp/testing: changes, and which lefthook commands are due for each by the changed paths.
All: js, other

js:
  run: prettier --write {staged_files} && eslint --fix {staged_files}

other:
  run: prettier --write {staged_files}

Fixes user service phase 2 #178
  src/api/user-services-settings/user-advice-of-charge-service.js
  src/api/user-services-settings/user-connected-line-identification-restriction-service.js
  src/api/user-services-settings/user-directed-call-pickup-with-barge-in-service.js
  src/api/user-services-settings/user-do-not-disturb-service.js
  src/api/user-services-settings/user-integrated-imp-service.js
  src/api/user-services-settings/user-internal-calling-line-id-delivery-service.js
  src/api/user-services-settings/user-music-on-hold-service.js
  src/components/users/service-settings/index.js
  src/components/users/service-settings/user-advice-of-charge.js
  src/components/users/service-settings/user-directed-call-pickup-with-barge-in.js
  src/components/users/service-settings/user-do-not-disturb.js
  src/components/users/service-settings/user-integrated-imp.js
  src/components/users/service-settings/user-internal-calling-line-id-delivery.js
  src/components/users/service-settings/user-music-on-hold.js
  src/components/users/user-service-routes.js
Due: js

Issue fixes done #41
  src/angular/group/components/group-admins/index.html
  src/angular/group/components/group-admins/index.js
Due: js, other

User service phase 2 #178
  src/components/users/service-settings/user-advice-of-charge.js
  src/components/users/service-settings/user-call-recording.js
  src/components/users/service-settings/user-connected-line-identification-restriction.js
  src/components/users/service-settings/user-do-not-disturb.js
  src/components/users/service-settings/user-external-calling-line-id-delivery.js
  src/components/users/service-settings/user-integrated-imp.js
  src/components/users/service-settings/user-music-on-hold.js
Due: js

User service phase3 #178
  src/api/user-services-settings/user-authentication-service.js
  src/api/user-services-settings/user-group-night-forwarding-service.js
  src/api/user-services-settings/user-hoteling-guest-service.js
  src/api/user-services-settings/user-hoteling-host-service.js
  src/api/user-services-settings/user-outlook-integration-service.js
  src/api/user-services-settings/user-remote-office-service.js
  src/components/users/service-settings/index.js
  src/components/users/service-settings/user-authentication.js
  src/components/users/service-settings/user-broad-works-mobility.js
  src/components/users/service-settings/user-group-night-forwarding.js
  src/components/users/service-settings/user-hoteling-guest.js
  src/components/users/service-settings/user-hoteling-host.js
  src/components/users/service-settings/user-outlook-integration.js
  src/components/users/service-settings/user-remote-office.js
  src/components/users/user-service-routes.js
Due: js

5.4.11
  package.json
Due: other

Bulk wizard in react for Service Provider
  src/angular/bulk/components/bulk-dashboard/index.js
  src/components/app/routes.js
  src/components/bulk/bulk-select-service-provider-id.js
  src/components/bulk/bulk-wiz-menu.js
  src/components/bulk/enterprise-clone/clone-enterprise-bulk.js
  src/components/bulk/enterprise-clone/clone-enterprise-dashboard-menu.js
  src/components/bulk/index.js
  src/components/bulk/new-service-provider-name.js
Due: js

Fixes for : Issue : bulk user create extension range #175
  src/angular/bulk/components/bulk-add-extension-range/index.html
  src/angular/bulk/components/bulk-add-extension-range/index.js
  src/angular/bulk/components/bulk-select-numbers/index.html
  src/angular/bulk/components/bulk-select-numbers/index.js
  src/angular/bulk/components/bulk-user-create/index.html
  src/angular/bulk/components/bulk-user-create/index.js
  src/angular/bulk/components/index.js
Due: js, other

5.4.12
  package.json
Due: other

5.4.13
  package.json
Due: other

5.4.14
  package.json
Due: other

fixed export reseller option dashboard
  src/components/resellers/reseller-dashboard-menu.js
Due: js

5.4.15
  package.json
Due: other

added domain cloning for group
  src/angular/service-provider/components/group-clone/index.html
  src/angular/service-provider/components/group-clone/index.js
Due: js, other

added service-provider domain clone
  src/angular/system/components/service-provider-clone/index.html
  src/angular/system/components/service-provider-clone/index.js
Due: js, other

5.5.0
  package.json
Due: other

5.5.1
  package.json
Due: other

group domain
  package.json
Due: other

5.5.3
  package.json
Due: other

Fixes #114
  src/angular/group/components/group-dashboard/index.js
  src/api/group-settings-services/group-series-completion-service.js
  src/components/app/routes.js
  src/components/groups/group-series-completion.js
  src/components/groups/index.js
Due: js

renamed panel header from Odin -> Utilities
  src/angular/service-provider/components/service-provider-dashboard/index.html
  src/angular/system/components/system-dashboard/index.html
Due: other

Fixes #114
  src/api/group-settings-services/group-series-completion-service.js
  src/components/groups/group-series-completion.js
  src/components/ui/index.js
  src/components/ui/ui-selectable-table.js
Due: js

Fixes done #187
  src/angular/bulk/components/bulk-dashboard/index.js
Due: js

modified password generator for special chars
  src/angular/common/components/pbs-input-password/index.js
  src/angular/user/components/user-authentication/index.js
  src/utils/password.js
Due: js

5.5.4
  package.json
Due: other

uppercase rules
  src/utils/password.js
Due: js

5.5.5
  package.json
Due: other

fixes #114
  src/api/group-settings-services/group-series-completion-service.js
  src/components/groups/group-series-completion.js
Due: js

Fixes #114
  src/components/groups/group-series-completion.js
Due: js

fixes change button name edit to save #114
  src/components/groups/group-series-completion.js
Due: js

fixes #114
  src/components/groups/group-series-completion.js
Due: js

fixes #193
  src/components/app/routes.js
Due: js

Fixes #193
  src/angular/group/components/group-dashboard/index.js
Due: js

Fixes #193
  src/angular/group/components/group-dashboard/index.js
  src/angular/service-provider/components/service-provider-dashboard/index.js
  src/components/app/routes.js
Due: js

Group series completion changes
  src/components/groups/group-series-completion.js
Due: js

#114 feature fixes
  src/components/ui/ui-selectable-table.js
  yarn.lock
Due: js

fixes #114
  src/components/groups/group-series-completion.js
  src/components/ui/ui-selectable-table.js
Due: js

code sort changes #114
  src/components/groups/group-series-completion.js
  src/components/ui/ui-selectable-table.js
Due: js

Path conditions:
  js: any of: *.{js,ts}
  other: any of: *.{css,sass,scss,md,mdx,json,html,yml,yaml}
