Repository voipxp/testing: changes, and which lefthook commands are due for each by the changed paths.
All: js, other

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    js:
      glob: '*.{js,ts}'
      run: prettier --write {staged_files} && eslint --fix {staged_files}
    other:
      glob: '*.{css,sass,scss,md,mdx,json,html,yml,yaml}'
      run: prettier --write {staged_files}
pre-push:
  commands:
    audit:
      tags: audit
      run: yarn audit

group departments
  src/angular/group/components/group-department/index.js
  src/angular/group/components/group-departments/index.js
  src/components/app/routes.js
Due: js

group dashboard call park
  src/angular/group/components/group-call-park-group/index.html
  src/angular/group/components/group-call-park-group/index.js
  src/angular/group/components/group-call-park-groups/index.js
  src/components/app/routes.js
Due: js, other

flexible
  src/angular/group/components/group-flexible-seating-host/index.js
  src/angular/group/components/group-flexible-seating-hosts/index.js
  src/components/app/routes.js
Due: js

group dashboard pagging
  src/angular/group/components/group-paging-group/index.js
  src/angular/group/components/group-paging-groups/index.js
  src/components/app/routes.js
Due: js

group dashboard fixes
  src/angular/group/components/group-hunt-groups/index.html
  src/angular/group/components/group-hunt-groups/index.js
  src/components/app/routes.js
Due: js, other

grp dept music on hold
  src/components/app/routes.js
Due: js

change serive name, Auto Receptionist
  src/components/groups/group-service-routes.js
Due: js

SIP Trunking, Device upsert
  src/angular/bulk/components/bulk-dashboard/index.js
  src/angular/bulk/services/bulk-task-service.js
  src/components/bulk/bulk-sip-trunking/bulk-sip-trunking-devices.js
  src/components/bulk/bulk-sip-trunking/bulk-sip-trunking-group-services.js
  src/components/bulk/service/bulk-task-service.js
Due: js

group new list
  src/components/groups/group-communication-routes.js
  src/components/groups/group-communication-settings.js
  src/components/groups/group-dashboard-menu.js
  src/components/groups/group-phone-list-with-directory-routes.js
  src/components/groups/group-phone-list-with-directory-settings.js
  src/components/groups/group-report-routes.js
Due: js

SIP
  src/components/bulk/bulk-sip-trunking-upload/bulk-sip-trunking-upload-dashboard-menu.js
Due: js

groups service routing
  src/angular/group/components/group-auto-attendant/index.js
  src/angular/group/components/group-call-center/index.js
  src/angular/group/components/group-call-centers/index.html
  src/angular/group/components/group-call-park-group/index.js
  src/angular/group/components/group-call-pickup/index.js
  src/angular/group/components/group-collaborate-bridge/index.js
  src/angular/group/components/group-flexible-seating-host/index.js
  src/angular/group/components/group-hunt-group/index.js
  src/angular/group/components/group-meet-me-bridge/index.js
  src/angular/group/components/group-music-on-hold/index.js
  src/angular/group/components/group-paging-group/index.js
  src/angular/group/components/group-trunk-group/index.js
  src/components/groups/group-service-settings.js
Due: js, other

sp dashboard
  src/angular/branding/components/branding-hostnames/index.html
  src/angular/branding/components/branding-hostnames/index.js
  src/angular/events/components/odin-events/index.html
  src/angular/service-provider/components/enterprise-enterprise-trunks/index.html
  src/angular/service-provider/components/service-provider-admins/index.html
  src/angular/service-provider/components/service-provider-devices/index.html
  src/angular/service-provider/components/service-provider-groups-index/index.html
  src/angular/service-provider/components/service-provider-network-class-of-services/index.html
  src/angular/service-provider/components/service-provider-phone-directory/index.html
  src/angular/service-provider/components/service-provider-profile/index.html
  src/angular/settings/components/odin-settings/index.html
  src/components/app/routes.js
Due: js, other

service provider dashboard
  src/angular/service-provider/components/service-provider-service-pack/index.html
  src/angular/service-provider/components/service-provider-service-pack/index.js
  src/components/app/routes.js
  src/components/service-provider/service-provider-audit.js
  src/components/service-provider/service-provider-audits.js
  src/components/service-provider/service-provider-provisioning-routes.js
  src/components/service-provider/service-provider-provisioning-settings.js
Due: js, other

changes
  src/components/resellers/reseller-audits.js
Due: js

changes
  src/components/service-provider/service-provider-dashboard-menu.js
  src/components/service-provider/service-provider-provisioning-routes.js
Due: js

Group Service UI #SIPT issue: quantity not updating on Group Services #225 : UI Fixes
  src/components/bulk/bulk-select-group-services.js
Due: js

changes
  src/angular/service-provider/components/service-provider-trunk-groups-call-capacity-report/index.html
Due: other

admin-dashboard changes
  src/angular/service-provider/components/service-provider-service-pack/index.html
  src/angular/service-provider/components/service-provider-service-pack/index.js
  src/components/service-provider/service-provider-provisioning-routes.js
  src/components/service-provider/service-provider-provisioning-settings.js
Due: js, other

admin dashboard
  src/components/service-provider/service-provider-report-routes.js
Due: js

fixes
  src/components/service-provider/service-provider-dashboard-menu.js
  src/components/service-provider/service-provider-provisioning-routes.js
Due: js

Network Classes of Services Default selcetion issue #221
  src/angular/service-provider/components/service-provider-network-class-of-services/index.js
Due: js

SIP Trunking
  src/components/bulk/bulk-sip-trunking/bulk-sip-trunking-devices.js
  src/components/bulk/bulk-trunk-group/bulk-add-trunk-group.js
Due: js

routing changes anshu group admin
  src/angular/group/components/group-auto-attendant/index.js
  src/angular/group/components/group-call-center/index.js
  src/angular/group/components/group-call-park-group/index.js
  src/angular/group/components/group-call-pickup/index.js
  src/angular/group/components/group-collaborate-bridge/index.js
  src/angular/group/components/group-flexible-seating-host/index.js
  src/angular/group/components/group-hunt-group/index.js
  src/angular/group/components/group-meet-me-bridge/index.js
  src/angular/group/components/group-music-on-hold/index.js
  src/angular/group/components/group-paging-group/index.js
  src/angular/group/components/group-trunk-group/index.js
  src/components/groups/group-dashboard-menu.js
  src/components/groups/group-dashboard.js
  src/components/groups/group-phone-list-with-directory-routes.js
  src/components/groups/group-report-routes.js
  src/components/groups/group-service-routes.js
  src/components/groups/group-service-settings.js
Due: js

user-service route
  src/components/groups/group-user-service-settings.js
Due: js

calling plan fixes
  src/angular/group/components/group-calling-plans-nav/index.js
  src/components/app/routes.js
  src/components/groups/group-communication-routes.js
  src/components/groups/group-communication-settings.js
  src/components/groups/group-dashboard-menu.js
  src/components/groups/group-service-routes.js
  src/components/groups/group-service-settings.js
  src/components/groups/group-user-service-routes.js
Due: js

route fixes
  src/components/app/routes.js
Due: js

new changes
  src/components/groups/group-communication-settings.js
  src/components/groups/group-phone-list-with-directory-settings.js
  src/components/groups/group-service-settings.js
Due: js

group dashboard fixes
  src/components/groups/group-communication-settings.js
  src/components/groups/group-phone-list-with-directory-settings.js
  src/components/groups/group-report-settings.js
  src/components/groups/group-service-settings.js
Due: js

SIP Trunking rebuild and reset on device,upsert
  src/angular/bulk/services/bulk-task-service.js
  src/components/bulk/bulk-add-new-device.js
  src/components/bulk/bulk-sip-trunking/bulk-sip-trunking-devices.js
  src/components/bulk/service/bulk-task-service.js
Due: js

group menuItems Breadcrumb
  src/components/groups/group-dashboard.js
Due: js

group path route
  src/components/groups/group-service-routes.js
Due: js

Breadcrumb routing
  src/components/groups/group-communication-routes.js
  src/components/groups/group-phone-list-with-directory-routes.js
  src/components/groups/group-report-routes.js
  src/components/groups/group-user-service-routes.js
Due: js

changes
  src/components/groups/group-report-routes.js
Due: js

changes
  src/components/groups/group-dashboard.js
Due: js

vdm fixes
  src/components/app/routes.js
  src/components/groups/group-dashboard.js
Due: js

testing
  src/angular/bulk/components/bulk-dashboard/index.html
Due: other

bulk routing
  src/angular/bulk/components/bulk-dashboard/index.html
  src/angular/bulk/components/bulk-dashboard/index.js
Due: js, other

rolled back "react-query": "^0.3.24"
  package.json
  yarn.lock
Due: other

cleaned up never used values in react code base
  src/angular/bulk/components/bulk-add-extension-range/index.js
  src/angular/department/components/department-password/index.js
  src/angular/group/components/group-music-on-hold/index.js
  src/api/service-providers/service-provider-passcode-service.js
  src/components/bulk/bulk-add-numbers.js
  src/components/bulk/bulk-create-user.js
  src/components/bulk/bulk-enterprise-clone/bulk-clone-options.js
  src/components/bulk/bulk-enterprise-clone/bulk-enterprise-clone-all-controls.js
  src/components/bulk/bulk-group-clone/bulk-clone-group-all-control.js
  src/components/bulk/bulk-group-numbers.js
  src/components/bulk/bulk-import.js
  src/components/bulk/bulk-select-devices.js
  src/components/bulk/bulk-select-group-id.js
  src/components/bulk/bulk-select-service-provider-id.js
  src/components/bulk/bulk-select-service-provider-trunk.js
  src/components/bulk/bulk-select-services-pack.js
  src/components/bulk/bulk-select-user-id.js
  src/components/bulk/bulk-select-user-services.js
  src/components/bulk/bulk-sip-trunking-upload/bulk-sip-trunking-auth-wiz-task.js
  src/components/bulk/bulk-sip-trunking-upload/bulk-sip-trunking-upload-task.js
  src/components/bulk/bulk-sip-trunking/bulk-sip-service-provider.js
  src/components/bulk/bulk-sip-trunking/bulk-sip-trunking-authentication.js
  src/components/bulk/bulk-sip-trunking/bulk-sip-trunking-group-call-capacity.js
  src/components/bulk/bulk-sip-trunking/bulk-sip-trunking-numbers.js
  src/components/bulk/bulk-sip-trunking/bulk-sip-trunking-trunk-enterprise.js
  src/components/bulk/bulk-sip-trunking/bulk-sip-trunking-trunk-pilot-user.js
  src/components/bulk/bulk-sip-trunking/bulk-sip-trunking.js
  src/components/bulk/bulk-sip-trunking/tasks/bulk-multiple-tasks-import.js
  src/components/bulk/bulk-sip-trunking/tasks/bulk-sip-trunking-common-view-task.js
  src/components/bulk/bulk-sip-trunking/tasks/bulk-sip-users-task.js
  src/components/bulk/bulk-tag-input.js
  src/components/bulk/bulk-trunk-group/bulk-select-group-trunk.js
  src/components/bulk/bulk-wiz-menu.js
  src/components/bulk/recent-tasks/recent-task.js
  src/components/bulk/service/bulk-import-service.js
  src/components/bulk/service/bulk-task-service.js
  src/components/bulk/service/bulk-upload-csv.js
  src/components/groups/group-trunk-groups-call-capacity.js
  src/components/service-provider/service-provider-trunk-groups-call-capacity.js
  src/components/ui/ui-data-table-editable.js
Due: js
