Repository voipxp/testing: changes, and which lefthook commands are due for each by the changed paths.
All: js, other

js:
  run: prettier --write {staged_files} && eslint --fix {staged_files}

other:
  run: prettier --write {staged_files}

5.7.13
  package.json
Due: other

Sip Trunking users
  src/angular/bulk/services/bulk-task-service.js
  src/components/bulk/service/bulk-import-storage.js
  src/components/bulk/service/bulk-task-service.js
Due: js

Group dashboard reports
  src/components/groups/group-dashboard-menu.js
  src/components/groups/group-report-routes.js
  src/components/groups/group-report-settings.js
Due: js

Group Report
  src/components/groups/group-report-settings.js
Due: js

Sip Trunking
  src/components/bulk/bulk-sip-trunking/bulk-sip-trunking-authentication.js
Due: js

SIP Trunking
  src/components/bulk/bulk-sip-trunking/bulk-sip-service-provider.js
  src/components/bulk/bulk-sip-trunking/bulk-sip-trunking-authentication.js
Due: js

SIP Trunking
  src/components/bulk/bulk-sip-trunking/bulk-sip-service-provider.js
Due: js

Sip Trunking
  src/components/bulk/bulk-sip-trunking/bulk-sip-trunking-group.js
Due: js

5.7.14
  package.json
Due: other

ent dashboard
  src/components/app/routes.js
Due: js

group admin dashboard changes
  src/angular/group/components/group-call-centers/index.html
  src/angular/group/components/group-call-centers/index.js
  src/angular/group/components/group-call-park/index.html
  src/angular/group/components/group-call-pickup/index.html
  src/angular/group/components/group-call-pickups/index.html
  src/angular/group/components/group-collaborate/index.html
  src/angular/group/components/group-flexible-seating-hosts/index.html
  src/angular/group/components/group-meet-me/index.html
  src/angular/group/components/group-music-on-hold-index/index.html
  src/angular/group/components/group-music-on-hold/index.html
  src/angular/group/components/group-night-forwarding/index.html
  src/angular/group/components/group-paging-group/index.html
  src/angular/group/components/group-paging-nav/index.html
  src/angular/group/components/group-virtual-on-net-enterprise-extensions/index.html
  src/components/groups/group-dashboard-menu.js
  src/components/groups/group-dashboard.js
  src/components/groups/group-service-routes.js
  src/components/groups/group-service-settings.js
  src/components/groups/service-settings/group-auto-attendants.js
  src/components/groups/service-settings/group-call-centers.js
  src/components/groups/service-settings/group-call-park.js
  src/components/groups/service-settings/group-call-pickup.js
  src/components/groups/service-settings/group-collaborate.js
  src/components/groups/service-settings/group-flexible-seating-hosts.js
  src/components/groups/service-settings/group-hunt-groups.js
  src/components/groups/service-settings/group-meet-me.js
  src/components/groups/service-settings/group-music-on-hold.js
  src/components/groups/service-settings/group-night-forwarding.js
  src/components/groups/service-settings/group-paging.js
  src/components/groups/service-settings/group-trunk-groups.js
  src/components/groups/service-settings/group-virtual-on-net-enterprise-extensions.js
  src/components/groups/service-settings/group-voice-messaging.js
  src/components/groups/service-settings/index.js
Due: js, other

group - user services
  src/angular/group/components/group-call-forwarding-always/index.html
  src/angular/group/components/group-call-forwarding-busy/index.html
  src/angular/group/components/group-call-forwarding-no-answer/index.html
  src/angular/group/components/group-call-forwarding-not-reachable/index.html
  src/angular/group/components/group-call-recording/index.html
  src/angular/group/components/group-calling-line-id-delivery-blocking/index.html
  src/angular/group/components/group-hoteling-guest/index.html
  src/angular/group/components/group-hoteling-host/index.html
  src/angular/group/components/group-outgoing-calling-plan-users/index.html
  src/angular/group/components/group-outgoing-calling-plan-users/index.js
  src/angular/group/components/group-voice-messaging-user/index.html
  src/angular/group/components/group-voice-messaging/index.html
  src/components/groups/group-service-routes.js
  src/components/groups/group-speed-dial-8.js
  src/components/groups/group-user-service-routes.js
  src/components/groups/service-settings/index.js
Due: js, other

ent dash
  src/components/service-provider/index.js
  src/components/service-provider/service-provider-dashboard-menu.js
  src/components/service-provider/service-provider-dashboard.js
  src/components/service-provider/service-provider-management-routes.js
  src/components/service-provider/service-provider-management-settings.js
  src/components/service-provider/service-provider-provisioning-routes.js
  src/components/service-provider/service-provider-provisioning-settings.js
  src/components/service-provider/service-provider-report-routes.js
  src/components/service-provider/service-provider-report-settings.js
Due: js

Rebuilt and Reset on SIP Authentication
  src/angular/bulk/components/bulk-user-authentication-update/index.html
  src/angular/bulk/components/bulk-user-authentication-update/index.js
Due: js, other

Rebuild and reset
  src/angular/bulk/services/bulk-task-service.js
Due: js

Rebuild
  src/angular/bulk/components/bulk-user-authentication-update/index.js
Due: js

SIP Trunking wizard
  src/angular/bulk/services/bulk-task-service.js
  src/components/bulk/bulk-create-user.js
  src/components/bulk/bulk-enterprise-clone/bulk-clone-options.js
  src/components/bulk/bulk-group-clone/bulk-clone-group-all-control.js
  src/components/bulk/bulk-select-group-services.js
  src/components/bulk/bulk-sip-trunking-upload/bulk-sip-trunking-upload-dashboard-menu.js
  src/components/bulk/bulk-sip-trunking-upload/bulk-sip-trunking-upload.js
  src/components/bulk/bulk-sip-trunking/bulk-sip-trunking-authentication.js
  src/components/bulk/bulk-sip-trunking/bulk-sip-trunking-group-services.js
  src/components/bulk/bulk-sip-trunking/bulk-sip-trunking-group.js
  src/components/bulk/bulk-sip-trunking/bulk-sip-trunking-users.js
  src/components/bulk/bulk-sip-trunking/bulk-sip-trunking.js
  src/components/bulk/service/bulk-task-service.js
Due: js

SIP Trunking
  src/angular/bulk/components/bulk-dashboard/index.js
Due: js

Table border issue
  src/components/ui/ui-data-table-editable.js
Due: js

group dashboard routing fixes
  src/angular/group/components/group-call-center/index.js
  src/angular/group/components/group-call-centers/index.js
  src/angular/group/components/group-call-park-group/index.js
  src/angular/group/components/group-call-park-groups/index.js
  src/components/app/routes.js
Due: js

group dashboard fixes
  src/angular/group/components/group-announcement/index.js
  src/angular/group/components/group-announcements/index.js
  src/angular/group/components/group-call-park-group/index.js
  src/angular/group/components/group-call-pickup/index.html
  src/angular/group/components/group-call-pickup/index.js
  src/angular/group/components/group-call-pickups/index.js
  src/components/app/routes.js
Due: js, other

Group Dashboard routing
  src/components/groups/group-dashboard-menu.js
  src/components/groups/group-service-routes.js
Due: js

Group service dashboard routing
  src/angular/group/components/group-auto-attendant/index.js
  src/angular/group/components/group-auto-attendants/index.html
  src/angular/group/components/group-auto-attendants/index.js
  src/angular/group/components/group-flexible-seating-host/index.html
  src/angular/group/components/group-flexible-seating-host/index.js
  src/angular/group/components/group-flexible-seating-hosts/index.js
  src/components/app/routes.js
  src/components/groups/group-service-routes.js
  src/components/groups/group-service-settings.js
  src/components/groups/service-settings/group-auto-attendants.js
  src/components/groups/service-settings/group-hunt-groups.js
Due: js, other

group service dashboard
  src/angular/group/components/group-collaborate-bridge/index.js
  src/angular/group/components/group-collaborate/index.js
  src/components/app/routes.js
  src/components/groups/group-service-routes.js
  src/components/groups/service-settings/group-flexible-seating-hosts.js
Due: js

Group dashboard service setting
  src/angular/group/components/group-call-center/index.html
  src/angular/group/components/group-call-center/index.js
  src/angular/group/components/group-call-centers/index.html
  src/angular/group/components/group-call-centers/index.js
  src/angular/group/components/group-collaborate-bridge/index.js
  src/components/app/routes.js
  src/components/groups/group-service-settings.js
Due: js, other

group shedule
  src/angular/group/components/group-schedule/index.html
  src/angular/group/components/group-schedule/index.js
  src/angular/group/components/group-schedules/index.js
  src/components/app/routes.js
Due: js, other

group departments
  src/angular/group/components/group-department/index.js
  src/angular/group/components/group-departments/index.js
  src/components/app/routes.js
Due: js

hunt group, grp dahboard
  src/angular/group/components/group-hunt-group/index.html
  src/angular/group/components/group-hunt-group/index.js
  src/angular/group/components/group-hunt-groups/index.js
  src/components/app/routes.js
Due: js, other

changes
  src/angular/group/components/group-hunt-group/index.js
  src/angular/group/components/group-hunt-groups/index.js
  src/components/app/routes.js
  src/components/groups/group-dashboard-menu.js
  src/components/groups/group-service-settings.js
Due: js

changes
  src/components/groups/group-dashboard-menu.js
  src/components/groups/group-departments.js
Due: js

group services
  src/angular/group/components/group-hunt-group/index.js
  src/angular/group/components/group-meet-me-bridge/index.js
  src/angular/group/components/group-meet-me/index.js
  src/angular/group/components/group-music-on-hold-index/index.js
  src/angular/group/components/group-music-on-hold/index.html
  src/angular/group/components/group-music-on-hold/index.js
  src/angular/group/components/group-paging-group/index.html
  src/angular/group/components/group-paging-group/index.js
  src/angular/group/components/group-paging-groups/index.js
  src/angular/group/components/group-trunk-group/index.html
  src/angular/group/components/group-trunk-group/index.js
  src/angular/group/components/group-trunk-groups/index.js
  src/components/app/routes.js
Due: js, other

group dashboard fixes
  src/components/app/routes.js
Due: js

group dashboard service changes
  src/angular/group/components/group-collaborate-bridge/index.js
  src/angular/group/components/group-collaborate/index.js
  src/angular/group/components/group-hunt-group/index.js
  src/angular/group/components/group-hunt-groups/index.js
  src/angular/group/components/group-meet-me-bridge/index.js
  src/angular/group/components/group-meet-me/index.js
  src/components/app/routes.js
Due: js

changes
  src/angular/group/components/group-call-center/index.js
  src/angular/group/components/group-call-centers/index.js
  src/components/app/routes.js
Due: js

group call pickup dashboard
  src/angular/group/components/group-call-pickup/index.html
  src/angular/group/components/group-call-pickup/index.js
  src/angular/group/components/group-call-pickups/index.js
  src/components/app/routes.js
Due: js, other

group dashboard trunk group
  src/angular/group/components/group-trunk-group/index.js
  src/angular/group/components/group-trunk-groups/index.js
  src/components/app/routes.js
Due: js

group music on hold changes
  src/angular/group/components/group-music-on-hold-index/index.js
  src/angular/group/components/group-music-on-hold/index.js
  src/components/app/routes.js
Due: js

group dashboard changes aa
  src/angular/group/components/group-auto-attendant/index.js
  src/angular/group/components/group-auto-attendants/index.js
  src/components/app/routes.js
Due: js

group deshboard ann
  src/angular/group/components/group-announcement/index.js
  src/angular/group/components/group-announcements/index.js
  src/components/app/routes.js
Due: js

group deshboard schedule
  src/angular/group/components/group-schedule/index.js
  src/angular/group/components/group-schedules/index.js
  src/components/app/routes.js
Due: js

Path conditions:
  js: any of: *.{js,ts}
  other: any of: *.{css,sass,scss,md,mdx,json,html,yml,yaml}
