Repository voipxp/testing: changes, and which lefthook commands are due for each by the changed paths.
All: js, other

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    js:
      glob: '*.{js,ts}'
      run: prettier --write {staged_files} && eslint --fix {staged_files}
    other:
      glob: '*.{css,sass,scss,md,mdx,json,html,yml,yaml}'
      run: prettier --write {staged_files}
pre-push:
  commands:
    audit:
      tags: audit
      run: yarn audit

add reseller level to modules tab in branding
  src/angular/branding/components/branding-modules/index.html
  src/angular/branding/components/branding-modules/index.js
Due: js, other

Add User Bulk SIP Authentication UI
  src/angular/bulk/components/bulk-user-authentication-update/index.html
  src/angular/bulk/components/bulk-user-authentication-update/index.js
  src/angular/bulk/components/index.js
  src/angular/bulk/services/bulk-task-service.js
  src/components/app/routes.js
Due: js, other

async hooks reference implementation for https://github.com/parkbenchsolutions/docs/issues/871
  package.json
  src/components/group-search.js
  src/components/resellers/reseller-admins.js
  yarn.lock
Due: js, other

initial audit
  src/api/audits/index.js
  src/components/app/routes.js
  src/components/audits/audit.js
  src/components/audits/audits.js
  src/components/audits/index.js
Due: js

added department cloning
  src/angular/service-provider/components/group-clone/index.html
  src/angular/service-provider/components/group-clone/index.js
Due: js, other

added userId to audit
  src/components/audits/audit.js
Due: js

move bulk sip password to use sipPassword instead of userPassword
  src/angular/bulk/components/bulk-user-authentication-update/index.js
  src/angular/bulk/services/bulk-parse-service.js
Due: js

4.11.0
  package.json
Due: other

added group extension length
  src/angular/group/components/group-dashboard/index.js
  src/api/group-extension-length/index.js
  src/components/app/routes.js
  src/components/groups/group-extension-length.js
  src/components/groups/index.js
Due: js

added service provider id to audit routes
  src/components/app/routes.js
  src/components/audits/audits.js
Due: js

Create CODEOWNERS
  CODEOWNERS
Due: none

added serviceProvider and groupId filters
  src/components/app/routes.js
  src/components/audits/audits.js
Due: js

added backup json download
  src/components/audits/audit.js
  src/components/audits/audits.js
Due: js

fixed issue with speed dial 100 permissions
  src/angular/group/components/group-feature-access-codes/index.html
  src/angular/group/components/group-feature-access-codes/index.js
Due: js, other

added search
  src/components/audits/audits.js
Due: js

audit page
  src/api/audits/index.js
  src/components/audits/audits.js
Due: js

tag-value-null-fix
  src/angular/group/components/group-device-tags/index.html
  src/angular/group/components/group-device-type-tags/index.html
  src/angular/group/components/group-device-type-tags/index.js
Due: js, other

added audit post
  src/api/audits/index.js
  src/components/audits/audits.js
Due: js

added audit data to card
  src/components/audits/audit.js
  src/components/audits/audits.js
Due: js

Fixes : Issue no. 38 ( Feature Access Code Error - Group Administrator #38 )
  src/angular/group/services/group-policy-service.js
Due: js

Fixes are done for all three issues (all covered - Service Pack Bug #44) Issue Link : https://github.com/parkbenchsolutions/odinweb/issues/44#issue-528171710
  src/angular/service-provider/components/service-packs-create/index.html
  src/angular/service-provider/components/service-packs-create/index.js
Due: js, other

Update index.js
  src/angular/common/components/select-service-provider-domain/index.js
Due: js

added button icon for onSelect
  src/angular/service-provider/components/service-provider-dashboard/index.js
  src/angular/system/components/system-dashboard/index.js
  src/components/app/routes.js
  src/components/audits/audits.js
  src/components/resellers/reseller-audits.js
  src/components/resellers/reseller-dashboard-menu.js
  src/components/ui/ui-card-modal.js
Due: js

added reseller audits
  src/angular/system/components/system-dashboard/index.js
  src/components/audits/audit.js
  src/components/audits/audits.js
  src/components/resellers/index.js
  src/components/resellers/reseller-audit.js
  src/components/resellers/reseller-audits.js
  src/components/resellers/reseller-dashboard-menu.js
Due: js

reseller audits
  src/components/audits/audit.js
  src/components/resellers/reseller-audits.js
Due: js

renamed audit to audit beta
  src/angular/service-provider/components/service-provider-dashboard/index.js
  src/components/audits/audits.js
Due: js

4.12.0
  package.json
Due: other

Group Department admin implementation
  src/angular/department/components/department-password/index.html
  src/angular/department/components/department-password/index.js
  src/angular/department/components/department-users/index.html
  src/angular/department/components/department-users/index.js
  src/angular/department/components/index.js
  src/angular/department/index.js
  src/angular/department/module.js
  src/angular/department/services/index.js
  src/angular/index.js
  src/components/app/routes.js
  src/components/departments/department-dashboard-menu.js
  src/components/departments/department-dashboard.js
  src/components/departments/index.js
Due: js, other

Group department administrator dashboard implementation
  src/angular/department/components/department-call-centers/index.html
  src/angular/department/components/department-call-centers/index.js
  src/angular/department/components/department-flexible-seating-hosts/index.html
  src/angular/department/components/department-flexible-seating-hosts/index.js
  src/angular/department/components/index.js
  src/components/departments/department-dashboard-menu.js
Due: js, other

group department administrator dashboard implementation
  src/angular/department/components/department-common-phone-list/index.html
  src/angular/department/components/department-common-phone-list/index.js
  src/angular/department/components/department-enterprise-directory/index.html
  src/angular/department/components/department-enterprise-directory/index.js
  src/angular/department/components/index.js
  src/components/departments/department-dashboard-menu.js
Due: js, other

department admin service file structure
  src/angular/api/services/department/department-common-phone-list-service.js
  src/angular/api/services/department/department-enterprise-directory-service.js
  src/angular/api/services/department/index.js
Due: js

Department admin dashboard menu
  src/angular/api/services/department/department-call-center-service.js
  src/angular/api/services/department/department-flexible-seating-host-service.js
  src/angular/api/services/department/index.js
  src/angular/api/services/index.js
  src/angular/department/components/department-call-centers/index.js
  src/angular/department/components/department-flexible-seating-hosts/index.js
Due: js

department admin dashboard menu
  src/angular/api/services/department/department-common-phone-list-service.js
  src/angular/department/components/department-common-phone-list/index.js
Due: js

department admin dashboard
  src/angular/api/services/index.js
Due: js

4.12.1
  package.json
Due: other

Department Amin dashboard
  src/angular/api/services/department/department-broadworks-anywhere-service.js
  src/angular/api/services/department/department-common-phone-list-service.js
  src/angular/api/services/department/index.js
  src/angular/department/components/department-broadworks-anywhere/index.html
  src/angular/department/components/department-broadworks-anywhere/index.js
  src/angular/department/components/index.js
  src/components/departments/department-dashboard-menu.js
Due: js, other

fixes for Service Provider Administrator - Services Enumeration Value Not Valid also fixed the issue for Access Device
  src/angular/api/services/service-providers/service-provider-admin-policy-service.js
Due: js

added json get
  src/api/audits/index.js
Due: js

added json streaming for audit list view
  src/api/audits/index.js
  src/components/audits/audit.js
Due: js

4.12.2
  package.json
Due: other
