Repository voipxp/testing: changes, and which lefthook commands are due for each by the changed paths.
All: js, other

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    js:
      glob: '*.{js,ts}'
      run: prettier --write {staged_files} && eslint --fix {staged_files}
    other:
      glob: '*.{css,sass,scss,md,mdx,json,html,yml,yaml}'
      run: prettier --write {staged_files}
pre-push:
  commands:
    audit:
      tags: audit
      run: yarn audit

Group Admin Policy : Policy set to None
  src/angular/group/components/group-dashboard/index.js
Due: js

Group Administrator Policy huntGroup ,AA
  src/angular/common/components/service-instance-profile/index.html
  src/angular/common/components/service-instance-profile/index.js
  src/angular/group/components/auto-attendant-clone/index.html
  src/angular/group/components/auto-attendant-clone/index.js
  src/angular/group/components/auto-attendant-create/index.html
  src/angular/group/components/auto-attendant-create/index.js
  src/angular/group/components/group-profile/index.js
  src/angular/user/components/user-number/index.js
Due: js, other

group admins should be able to modify hunt group settings
  src/angular/group/components/auto-attendant-settings/index.js
  src/angular/group/components/group-call-center-details/index.js
  src/angular/group/components/group-hunt-group-settings/index.js
Due: js

Group department module.permissions issue fixes, and Breadcrumb issue fixes
  src/angular/api/services/common/route.js
  src/angular/common/services/module.js
  src/angular/department/components/department-users/index.html
  src/angular/department/components/department-users/index.js
  src/angular/department/components/index.js
  src/angular/group/components/group-auto-attendant/index.js
  src/angular/group/components/group-auto-attendants/index.js
  src/angular/group/components/group-call-center-navigation/index.js
  src/angular/group/components/group-call-centers/index.js
  src/angular/group/components/group-flexible-seating-host/index.js
  src/angular/group/components/group-flexible-seating-hosts/index.js
  src/angular/group/components/group-hunt-group/index.js
  src/angular/group/components/group-hunt-groups/index.js
  src/angular/group/components/group-meet-me-bridge/index.js
  src/angular/group/components/group-meet-me-bridges/index.js
  src/angular/group/components/group-paging-groups-list/index.js
  src/angular/group/components/group-paging-nav/index.js
  src/angular/group/components/group-trunk-group-navigation/index.js
  src/angular/group/components/group-trunk-group-trunk-groups/index.js
  src/angular/group/components/group-users/index.js
  src/components/app/app-dashboard.js
  src/components/departments/department-dashboard-menu.js
  src/components/departments/department-dashboard.js
  src/store/group-services.js
  src/utils/acl.js
  src/utils/group-services.js
Due: js, other

Group Department Breadcrumb issue fixes.
  src/angular/group/components/group-flexible-seating-host-device/index.html
  src/angular/group/components/group-flexible-seating-host-device/index.js
  src/angular/group/components/group-flexible-seating-hosts/index.js
  src/angular/user/components/user-device/index.html
  src/angular/user/components/user-device/index.js
  src/components/app/app-breadcrumb.js
Due: js, other

Fixes : Auto Password Generation
  src/angular/common/components/pbs-input-password/index.js
  src/angular/common/components/service-instance-profile/index.html
  src/angular/common/components/service-instance-profile/index.js
  src/angular/group/components/auto-attendant-create/index.html
  src/angular/group/components/auto-attendant-create/index.js
  src/angular/group/components/group-admins/index.html
  src/angular/group/components/group-admins/index.js
  src/angular/group/components/group-auto-attendant/index.html
  src/angular/group/components/group-auto-attendant/index.js
  src/angular/group/components/group-call-center-create/index.html
  src/angular/group/components/group-call-center-create/index.js
  src/angular/group/components/group-call-center/index.html
  src/angular/group/components/group-call-center/index.js
  src/angular/group/components/user-create/index.html
  src/angular/group/components/user-create/index.js
  src/angular/user/components/user-password/index.html
  src/angular/user/components/user-password/index.js
Due: js, other

Group Department admin, music on hold service
  src/angular/group/components/group-music-on-hold-index/index.html
  src/angular/group/components/group-music-on-hold-index/index.js
  src/angular/group/components/group-music-on-hold/index.js
  src/components/app/routes.js
  src/components/departments/department-dashboard-menu.js
Due: js, other

added sip auth password
  src/components/audits/audit.js
Due: js

5.0.12
  package.json
Due: other

Group Department Admin issues fixes, Group Web policies implementations.
  src/angular/common/components/service-instance-profile/index.js
  src/angular/group/components/group-music-on-hold-settings/index.js
  src/angular/user/components/user-number/index.js
Due: js

Web Policy issue fixes
  src/angular/group/components/group-flexible-seating-host-service-instance-profile/index.html
  src/angular/group/components/group-flexible-seating-host-service-instance-profile/index.js
  src/angular/group/components/group-users/index.html
  src/angular/group/components/group-users/index.js
Due: js, other

Group Web policy fixes
  src/angular/group/components/group-flexible-seating-host-service-instance-profile/index.js
  src/angular/group/components/group-users/index.js
Due: js

Group Admin Department fixes
  src/angular/group/components/group-users/index.js
Due: js

Department trunk group, trunking users fixes
  src/angular/group/components/group-trunk-group-users/index.js
Due: js

Group Department admin breadcrumb issue fixes
  src/angular/common/components/service-instance-profile/index.html
  src/angular/group/components/group-auto-attendants/index.html
  src/angular/group/components/group-auto-attendants/index.js
  src/angular/group/components/group-call-center-navigation/index.html
  src/angular/group/components/group-call-center-navigation/index.js
  src/angular/group/components/group-call-centers/index.html
  src/angular/group/components/group-call-centers/index.js
  src/angular/group/components/group-common-phone-list/index.html
  src/angular/group/components/group-common-phone-list/index.js
  src/angular/group/components/group-flexible-seating-hosts/index.html
  src/angular/group/components/group-flexible-seating-hosts/index.js
  src/angular/group/components/group-hunt-groups/index.html
  src/angular/group/components/group-hunt-groups/index.js
  src/angular/group/components/group-meet-me/index.html
  src/angular/group/components/group-meet-me/index.js
  src/angular/group/components/group-music-on-hold-index/index.html
  src/angular/group/components/group-paging-groups/index.html
  src/angular/group/components/group-paging-groups/index.js
  src/angular/group/components/group-paging-nav/index.html
  src/angular/group/components/group-paging-nav/index.js
  src/angular/group/components/group-phone-directory/index.html
  src/angular/group/components/group-phone-directory/index.js
  src/angular/group/components/group-trunk-group-navigation/index.html
  src/angular/group/components/group-trunk-group-navigation/index.js
  src/angular/group/components/group-trunk-group-trunk-groups/index.js
  src/angular/group/components/group-trunk-group-users/index.js
  src/angular/group/components/group-trunk-groups/index.html
  src/angular/group/components/group-trunk-groups/index.js
  src/angular/group/components/group-users/index.html
  src/angular/group/components/group-users/index.js
  src/angular/ui/components/pbs-navigation/index.html
  src/angular/ui/components/pbs-navigation/index.js
Due: js, other

Group web policy configuration implementation
  src/angular/group/components/group-dashboard/index.js
  src/api/group-web-policy/index.js
  src/components/app/routes.js
  src/components/groups/group-web-policy.js
  src/components/groups/index.js
Due: js

Group Web Policy fixes
  src/api/group-web-policy/index.js
Due: js

Group web policy implementation
  src/components/groups/group-web-policy.js
Due: js

Group Web Policy fixes
  src/components/groups/group-web-policy.js
Due: js

group department policy changes
  src/components/groups/group-web-policy.js
Due: js

Group web policy
  src/components/groups/group-web-policy.js
Due: js

5.0.1
  package.json
Due: other

5.0.13
  package.json
Due: other

fixed route merge
  src/components/app/routes.js
Due: js

5.0.14
  package.json
Due: other

Issue no-104 fixes.
  src/angular/group/components/group-users/index.js
Due: js

Group Department : Department select box issue fixes on Flexible Seating Host, trunk group settings. Removed unwanted code.
  src/angular/common/components/select-department/index.html
  src/angular/common/components/select-department/index.js
  src/angular/common/components/service-instance-profile/index.html
  src/angular/group/components/group-flexible-seating-host-service-instance-profile/index.html
  src/angular/group/components/group-flexible-seating-host-service-instance-profile/index.js
  src/angular/group/components/group-trunk-group-profile/index.html
  src/angular/group/components/group-trunk-group-profile/index.js
  src/angular/user/components/user-profile/index.html
  src/angular/user/components/user-profile/index.js
Due: js, other

5.1.0
  package.json
Due: other

Hunt Group / Unreachable (Display only department related data on Reroute To) fixes
  src/angular/group/components/group-trunk-group-unreachable-destination/index.js
Due: js

trunk group can not route to itself , fixes done
  src/angular/group/components/group-trunk-group-unreachable-destination/index.js
Due: js

5.1.1
  package.json
Due: other

5.1.2
  package.json
Due: other

Group Admin - Department Read only/None mode failed #64
  src/angular/group/components/group-departments/index.html
  src/angular/group/components/group-departments/index.js
Due: js, other

Password Rules apply
  src/angular/api/services/service-providers/index.js
  src/angular/api/services/service-providers/service-provider-password-service.js
  src/angular/common/components/pbs-input-password/index.html
  src/angular/common/components/pbs-input-password/index.js
  src/angular/group/components/group-admins/index.js
  src/angular/group/components/group-trunk-group-create/index.html
  src/angular/group/components/group-trunk-group-create/index.js
  src/angular/group/components/group-trunk-group-profile/index.html
  src/angular/group/components/group-trunk-group-profile/index.js
  src/angular/user/components/user-authentication/index.html
  src/angular/user/components/user-authentication/index.js
  src/angular/user/components/user-number/index.js
Due: js, other

Password rules fixes
  src/angular/common/components/pbs-input-password/index.html
  src/angular/common/components/pbs-input-password/index.js
  src/angular/group/components/group-admins/index.html
Due: js, other

Fixes for Enterprise Administrator : Bulk Provisioning : Delete User we can add New Group #76
  src/angular/bulk/components/bulk-select-group-id/index.html
  src/angular/bulk/components/bulk-select-group-id/index.js
  src/angular/bulk/components/bulk-select-users-dashboard/index.html
  src/angular/bulk/components/bulk-select-users-dashboard/index.js
  src/angular/bulk/components/bulk-user-delete/index.html
Due: js, other

Fixes for Enterprise Admin : Can not Modify Default Domain for Enterprise #101
  src/angular/service-provider/components/service-provider-profile/index.js
Due: js

fixed import name in service dashboard
  src/angular/service-provider/components/service-provider-dashboard/index.js
Due: js

5.1.3
  package.json
Due: other

fixes
  src/angular/group/components/group-trunk-group-profile/index.js
  src/angular/group/components/user-create/index.js
Due: js
